<div class="panel panel-default tc_detailsTab">
  <div class="panel-heading">
    <h3 class="panel-title tc_panelTitle">Details of {{ selection.item.targetId }}</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Target:</dt>
      <dd>
        {{ selection.item.targetId }}
        <span ng-if="selection.item.targetSettings">
          <br>
          <span ng-repeat="setting in selection.item.CEPH_ISCSI_TARGET_ADVANCED_SETTINGS">
            <span ng-if="selection.item.targetSettings.hasOwnProperty(setting.property)" class="nowrap margin-right-md">
                <label>&#10551; {{ setting.property }}</label>: {{ selection.item.targetSettings[setting.property] }}
            </span>
          </span>
        </span>
      </dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Portals:</dt>
      <dd ng-repeat="portal in selection.item.portals">
        {{ portal.hostname }}: {{ portal.interface }}
      </dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Images:</dt>
      <dd ng-repeat="image in selection.item.images">
        {{ image.pool }}: {{ image.name }} <span class="text-muted">(lun: {{ (image.settings.lun || 0) }})</span>
        <span ng-if="image.settings">
          <br>
          <span ng-repeat="setting in selection.item.ALL_ISCSI_IMAGE_SETTINGS">
            <span ng-if="image.settings.hasOwnProperty(setting.property)" class="nowrap margin-right-md">
                <label>&#10551; {{ setting.property }}</label>: {{ image.settings[setting.property] }}
            </span>
          </span>
        </span>
      </dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Authentication:</dt>
      <dd ng-if="!selection.item.authentication.hasAuthentication" class="tc_noAuthentication">No authentication</dd>
      <dd ng-if="selection.item.authentication.hasAuthentication">{{ selection.item.authentication.user }}</dd>
    </dl>
    <dl class="dl-horizontal"
        ng-if="selection.item.authentication.hasAuthentication && selection.item.authentication.initiators.length > 0">
      <dt>Initiators:</dt>
      <dd ng-repeat="initiator in selection.item.authentication.initiators">
        {{ initiator }}
      </dd>
    </dl>
    <dl class="dl-horizontal" ng-if="selection.item.authentication.hasMutualAuthentication">
      <dt>Mutual auth:</dt>
      <dd>{{ selection.item.authentication.mutualUser }}
          <span class="text-muted">
              ({{ selection.item.authentication.enabledMutualAuthentication ? 'Enabled' : 'Disabled' }})
          </span>
      </dd>
    </dl>
    <dl class="dl-horizontal" ng-if="selection.item.authentication.hasDiscoveryAuthentication">
      <dt>Discovery auth:</dt>
      <dd>{{ selection.item.authentication.discoveryUser }}
          <span class="text-muted">
              ({{ selection.item.authentication.enabledDiscoveryAuthentication ? 'Enabled' : 'Disabled' }})
          </span>
      </dd>
    </dl>
    <dl class="dl-horizontal" ng-if="selection.item.authentication.hasDiscoveryMutualAuthentication">
      <dt>Discovery mutual auth:</dt>
      <dd>{{ selection.item.authentication.discoveryMutualUser }}
          <span class="text-muted">
              ({{ selection.item.authentication.enabledDiscoveryMutualAuthentication ? 'Enabled' : 'Disabled' }})
          </span>
      </dd>
    </dl>
  </div>
</div>
