html {
	height: 100%;
	max-height: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
	/* hide overflow: hidden from IE5/Mac */
	/* \*/
	overflow: hidden;
	/* */
}
body {
	height: 100%;
	max-height: 100%;
	overflow: hidden;
	border: 0px;
	margin: 0px;
	padding: 0px;
	background: #c8c6d2;
	color: #333333;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 82%;
}


#Container {
	position:absolute;
	top: 50%;
	left:50%;
	width:760px;
	height:470px;
	margin-top:-235px;
	margin-left:-380px;
	text-align:left;
	padding:0px;
	border:1px solid #000000;
	background-color:#CCCCCC;
}
	
#Logo {
	position:relative;
	height: 60px;
	width: 100%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-image:url(logo.gif);
	background-color:#FFFFFF;
	background-repeat:no-repeat;
	background-position:left;
	border-bottom:1px solid #000000;
	text-align: right;
}
	
#Logo a{
	padding: 5px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration:none;
	color: #000000;
}
	
#Slogan{
	position:relative;
	height: 231px;
	width: 100%;
	background-color:#777777;
	background-image:url(login.jpg);
	background-position:left;
	background-repeat:no-repeat;
	border-bottom:1px solid #000000;
}
	
#Slogan img{
	float: right;
	position:relative;
	height: 231px;
	border-left:1px solid #000000;
}
	
#Text{
	margin-top: 15px;
	text-align:center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000000;
}