<article class="col-sm-12 col-md-12 col-lg-6">
    <div class="jarviswidget" id="wid-id-0">
        <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i></span>
            <h2>Create HTTP Share</h2>
        </header>
        <div class="widget-body">
            <form name="shareForm" role="form" class="form-horizontal" novalidate>
                <fieldset>
                    <div class="form-group" ng-class="{'has-error': (submitted || shareForm.path.$dirty)
                    && shareForm.path.$invalid }">
                        <label class="col-md-2 control-label" for="sharePath">Path</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-share"></i></span>
                                <input type="text" class="form-control" placeholder="Path..."
                                       ng-model="share.path" name="path" id="sharePath" required>
                            </div>
                            <span class="help-block tc_fieldRequired" ng-show="(submitted || shareForm.path.$dirty) && shareForm.path.$error.required">
                                The path is required.
                            </span>
                        </div>
                    </div>
                </fieldset>
                <div class="pull-right" style="padding: 6px 16px">
                    <button type="submit" class="btn btn-primary tc_submitButton" ng-click="submitAction(shareForm)">
                        Submit
                    </button>
                    <button type="button" class="btn btn-default tc_backButton" ng-click="cancelAction()">
                        Back
                    </button>
                </div>
            </form>
        </div>
    </div>
</article>
