<article class="col-sm-12 col-md-12 col-lg-6">
    <div class="jarviswidget" id="wid-id-0">
        <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i></span>
            <h2>Create NFS Share</h2>
        </header>
        <div>
            <div class="widget-body">
                <form name="shareForm" role="form" class="form-horizontal" novalidate>
                    <fieldset>
                        <div class="form-group" ng-class="{'has-error': (submitted || shareForm.path.$dirty) && shareForm.path.$invalid}">
                            <label class="col-md-2 control-label" for="sharePath">Path</label>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon"> <i class="icon-prepend fa fa-share"></i></span>
                                    <input class="form-control" type="text" placeholder="Path..." ng-model="share.path" name="path" id="sharePath" required>
                                </div>
                                <span class="help-block tc_pathRequired" ng-show="(submitted || shareForm.path.$dirty) && shareForm.path.$error.required">
                                    The path is required.
                                </span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (submitted || shareForm.address.$dirty) && shareForm.address.$invalid}">
                            <label class="col-md-2 control-label" for="shareAddress">Address</label>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon-prepend fa fa-share"></i></span>
                                    <input class="form-control" type="text" placeholder="Address..." ng-model="share.address" name="address" id="shareAddress" required>
                                </div>
                                <span class="help-block tc_addressRequired" ng-show="(submitted || shareForm.address.$dirty) && shareForm.address.$error.required">
                                    The address is required.
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="shareOptions">Options</label>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon-prepend fa fa-share"></i></span>
                                    <input class="form-control" type="text" placeholder="Options..."
                                        ng-model="share.options" name="options" id="shareOptions">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="pull-right" style="padding: 6px 16px">
                            <button type="submit tc_submitButton" class="btn btn-primary" ng-click="submitAction(shareForm)">
                                Submit
                            </button>
                            <button type="button tc_backButton" class="btn btn-default" ng-click="cancelAction()">
                                Back
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</article>