<oadatatable service="/openattic/api/nfsshares?volume={{active_volume.id}}" active="active_volume !== undefined && active_volume !== null" entries="10">
    <table class="table table-striped table-bordered table-hover dataTable">
        <thead>
            <tr>
                <th class="oadatatablecheckbox" ng-if="select.available"><input type="checkbox" ng-model="select.checkAll"/></th>
                <th sortfield="address"  sortdir="asc" sortheaderclass sortdefault ng-show="columns['Address']">Address</th>
                <th sortfield="path"     sortdir="asc" sortheaderclass ng-show="columns['Path']">Path</th>
                <th sortfield="options"  sortdir="asc" sortheaderclass ng-show="columns['Options']">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data" ng-class="{ info: isRowSelected(row) }" ng-click="toggleSelection(row, $event)">
                <td ng-if="select.available"><input type="checkbox" checklist-model="select.checkedItems" checklist-value="row"/></td>
                <td ng-show="columns['Address']" ng-bind="row.address"></td>
                <td ng-show="columns['Path']"    ng-bind="row.path"></td>
                <td ng-show="columns['Options']" ng-bind="row.options"></td>
            </tr>
        </tbody>
    </table>
</oadatatable>
