<div class="step-pane active">
    <graph-widget params="utilparams">
        <div class="row" ng-show="selection.item.is_filesystemvolume">
            <graph title="Volume Usage" profile="3m"  volume="selection.item" width="660" profile="3m" global-params="utilparams" />
        </div>
        <div class="row" ng-show="selection.item.is_blockvolume">
            <graph title="Disk Load"    profile="48h" volume="selection.item" width="660" profile="3m" global-params="utilparams" />
        </div>
    </graph-widget>
</div>
