<div class="step-pane active perfgraphs">
    <div class="row" ng-show="selection.item.is_blockvolume">
        <div class="jarviswidget col-lg-4" role="widget">
            <header role="heading">
                <h2>Throughput per Day</h2>
            </header>
            <div role="content">
                <div role="widget-body">
                    <graph title="Throughput per day"          volume="selection.item" width="200" profile="4h" global-params="perfparams" />
                </div>
            </div>
        </div>
        <div class="jarviswidget col-lg-4" role="widget">
            <header role="heading">
                <h2>IOs per second (Normalized)</h2>
            </header>
            <div role="content">
                <div role="widget-body">
                    <graph title="IOs per Second (Normalized)" volume="selection.item" width="200" profile="4h" global-params="perfparams" />
                </div>
            </div>
        </div>
        <div class="jarviswidget col-lg-4" role="widget">
            <header role="heading">
                <h2>Latency</h2>
            </header>
            <div role="content">
                <div role="widget-body">
                    <graph title="Average Latency (r/w)"       volume="selection.item" width="200" profile="4h" global-params="perfparams" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="selection.item.is_blockvolume">
        <div class="jarviswidget col-lg-4" role="widget">
            <header role="heading">
                <h2>Request size</h2>
            </header>
            <div role="content">
                <div role="widget-body">
                    <graph title="Average Request size (r/w)"  volume="selection.item" width="200" profile="4h" global-params="perfparams" />
                </div>
            </div>
        </div>
        <div class="jarviswidget col-lg-4" role="widget">
            <header role="heading">
                <h2>IOs per second</h2>
            </header>
            <div role="content">
                <div role="widget-body">
                    <graph title="IOs per second"              volume="selection.item" width="200" profile="4h" global-params="perfparams" />
                </div>
            </div>
        </div>
        <div class="jarviswidget col-lg-4" role="widget">
            <header role="heading">
                <h2>Normalization Ratio</h2>
            </header>
            <div role="content">
                <div role="widget-body">
                    <graph title="Normalization Ratio"         volume="selection.item" width="200" profile="4h" global-params="perfparams" />
                </div>
            </div>
        </div>
    </div>
</div>
