<div class="step-pane active">
    <graph-widget volume="selection.item" width="200" profile="4h">
        <div class="row" ng-show="selection.item.is_blockvolume">
            <graph graph="Throughput per day"    />
            <graph graph="IOs per second"        />
            <graph graph="Average Latency (r/w)" />
        </div>
        <div class="row" ng-show="selection.item.is_blockvolume">
            <graph graph="Average Request size (r/w)"  />
            <graph graph="IOs per Second (Normalized)" />
            <graph graph="Normalization Ratio"         />
        </div>
    </graph-widget>
</div>
