<div class="tabbable tabs-left" id="more">
    <ul class="nav nav-tabs">
        <li ui-sref-active="active">
            <a ui-sref="volumes.detail.status({volume:  selection.item.id})" data-toggle="tab" data-target="#tab-content">Status</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="volumes.detail.statistics.utilgraphs({volume: selection.item.id})" data-toggle="tab" data-target="#tab-content">Statistics</a>
        </li>
        <li ui-sref-active="active" ng-show="volumeForShare">
            <a ui-sref="volumes.detail.cifs({volume: selection.item.id})" data-toggle="tab" data-target="#tab-content">CIFS</a>
        </li>
        <li ui-sref-active="active" ng-show="volumeForShare">
            <a ui-sref="volumes.detail.nfs({volume: selection.item.id})" data-toggle="tab" data-target="#tab-content">NFS</a>
        </li>
        <li ui-sref-active="active" ng-show="volumeForShare">
            <a ui-sref="volumes.detail.http({volume: selection.item.id})" data-toggle="tab" data-target="#tab-content">HTTP</a>
        </li>
        <li ui-sref-active="active" ng-show="volumeForLun">
            <a ui-sref="volumes.detail.luns({volume: selection.item.id})" data-toggle="tab" data-target="#tab-content">iSCSI/FC</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="volumes.detail.storage({volume: selection.item.id})" data-toggle="tab" data-target="#tab-content">Storage</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="volumes.detail.snapshots({volume: selection.item.id})" class="tc_snapshotTab" data-toggle="tab" data-target="#tab-content">Snapshots</a>
        </li>
    </ul>
    <div class="tab-content" ui-view="tab-content" style="min-height: 300px;">
    </div>
</div>
