<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
<article class="col-sm-12 col-md-12 col-lg-6">
    <div class="jarviswidget" id="wid-id-0">
        <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i></span>
            <h2>Create Volume: {{volume.name}}</h2>
        </header>
        <div>
            <div class="widget-body">
                <form name="volumeForm" role="form" class="form-horizontal" novalidate>
                    <accordion>
                        <accordion-group is-open="accordionOpen.properties">
                            <accordion-heading>
                                Volume Properties
                                <i class="pull-right" ng-class="{'fa fa-angle-up': accordionOpen.properties,
                                'fa fa-angle-down': !accordionOpen.properties}"></i>
                            </accordion-heading>
                            <div class="form-group" ng-class="{'has-error': (submitted || volumeForm.name.$dirty) && volumeForm.name.$invalid}">
                                <label class="col-md-2 control-label" for="volume.name">Name</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="volume.name" placeholder="Name..." ng-model="volume.name" name="name" validname required>
                                    <span class="help-block" ng-show="(submitted || volumeForm.name.$dirty) && volumeForm.name.$error.required">This field is required!</span>
                                    <span class="help-block" ng-show="volumeForm.name.$error.validname">{{errortext}}</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': (submitted || volumeForm.pool.$dirty) && volumeForm.pool.$invalid}">
                                <label class="col-md-2 control-label" for="data.sourcePool">Pool</label>
                                <div class="col-md-10">
                                    <select class="form-control" ng-model="data.sourcePool" id="data.sourcePool"
                                            ng-options="(pool.name + ' (' + pool.type.name + ')') for pool in pools track by pool.id" name="pool" required>
                                        <option class="tc_volumePoolOption" value="">-- Select a pool --</option>
                                    </select>
                                    <span class="help-block" ng-show="(submitted || volumeForm.pool.$dirty) && volumeForm.pool.$error.required">This field is required!</span>
                                    <div ng-show="data.sourcePool">
                                        {{data.sourcePool.usage.max_new_fsv_text}} available
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Type</label>
                                <div class="col-md-10">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" class="radiobox style-0" ng-model="data.filesystem" value="" ng-disabled="state.formatted">
                                            <span>Create LUN</span>
                                        </label>
                                    </div>
                                    <div class="radio" ng-show="supported_filesystems.xfs">
                                        <label>
                                            <input type="radio" class="radiobox style-0" ng-model="data.filesystem" value="xfs" ng-disabled="state.formatted">
                                            <span>Create Virtualization Store -> XFS</span>
                                        </label>
                                    </div>
                                    <div class="radio" ng-show="supported_filesystems.zfs">
                                        <label>
                                            <input type="radio" class="radiobox style-0" ng-model="data.filesystem" value="zfs" ng-disabled="state.formatted">
                                            <span>Create ZFS Volume</span>
                                        </label>
                                    </div>
                                    <div class="radio" ng-show="supported_filesystems.btrfs">
                                        <label>
                                            <input type="radio" class="radiobox style-0" ng-model="data.filesystem" value="btrfs" ng-disabled="state.formatted">
                                            <span>Create File Store -> BTRFS</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': (submitted || volumeForm.megs.$dirty) && volumeForm.megs.$invalid}">
                                <label class="col-md-2 control-label" for="data.megs">Size</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" name="megs" required ng-disabled="data.sourcePool === null"
                                           volume-size-format volume-size-value max-value="{{data.sourcePool.usage.max_new_fsv}}"
                                           ng-model="data.megs" placeholder="e.g., 10GB" id="data.megs" required>
                                    <span class="help-block" ng-show="(submitted || volumeForm.megs.$dirty) && volumeForm.megs.$error.required">This field is required!</span>
                                    <span class="help-block" ng-show="volumeForm.megs.$error.volumeSizeFormat">This is not a valid number.</span>
                                    <span class="help-block tc_wrongVolumeSize" ng-show="volumeForm.megs.$error.volumeSizeValue">
                                        The size must be at least 100MB and must not exceed {{data.sourcePool.usage.max_new_fsv_text}}.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Deletion protection</label>
                                <div class="col-md-10">
                                    <checkbox ng-model="volume.is_protected" name="deletionProtection"></checkbox>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                    <accordion>
                        <accordion-group is-open="accordionOpen.mirror" is-disabled="true">
                            <accordion-heading>
                                <div style="color: #BDBDBD;">
                                    Volume Mirroring - <i><b>Coming Soon...</b></i>
                                <i class="pull-right" ng-class="{'fa fa-angle-up': accordionOpen.mirror,
                                'fa fa-angle-down': !accordionOpen.mirror}"></i></div>
                            </accordion-heading>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Mirror Host</label>
                                <div class="col-md-10">
                                    <select class="form-control" ng-model="data.mirrorHost" id="mirror-host"
                                            ng-options="host.name for host in hosts track by host.name" title="Coming soon...">
                                        <option value="">-- Select a host --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Mirror Pool</label>
                                <div class="col-md-10">
                                    <select class="form-control" ng-model="data.mirrorPool" ng-options="
                                    pool.name for pool in pools track by pool.name">
                                        <option value="">-- Select a host --</option>
                                    </select>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                    <div class="form-group">
                        <div class="pull-right" style="padding: 6px 12px">
                            <button type="submit" class="btn btn-primary" ng-click="submitAction(volumeForm)">
                                Submit
                            </button>
                            <button type="button" class="btn btn-default tc_backButton" ng-click="cancelAction()">
                                Back
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</article>
