<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
<div ng-controller="VolumeWizardCtrl">
    <div class="row">
        <big-breadcrumbs items="['System', 'Volumes']" icons="fa-dot-circle-o"
            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>

    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-6">
            <div class="jarviswidget" id="wid-id-0">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i></span>
                    <h2>Create Volume: {{volume.name}}</h2>
                    <ul class="nav nav-tabs pull-right">
                        <li ui-sref-active="active">
                            <a data-target="#vol-tab1" data-toggle="tab" ui-sref="volumes-add.create">
                                Basic Configuration
                                <i class="greenicon fa fa-check-circle-o fa-lg" ng-show="state.created"></i>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a data-target="#vol-tab2" data-toggle="tab" ui-sref="volumes-add.mirror">
                                Mirror
                                <i class="greenicon fa fa-check-circle-o fa-lg" ng-show="state.mirrored"></i>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a data-target="#vol-tab3" data-toggle="tab" ui-sref="volumes-add.filesystem">
                                Filesystem
                                <i class="greenicon fa fa-check-circle-o fa-lg" ng-show="state.formatted"></i>
                            </a>
                        </li>
                    </ul>
                </header>
                <div>
                    <div class="widget-body">
                        <form name="volumeForm" role="form" class="form-horizontal" novalidate>
                            <div class="tab-content" ui-view="volume-add-wizard-page">
                            </div>
                            <div class="form-group">
                                <div class="btn pull-right">
                                    <button type="submit" class="btn btn-primary" ng-click="submitAction()" ng-disabled="volumeForm.$invalid">
                                        Submit
                                    </button>
                                    <button type="button" class="btn btn-default" ng-click="cancelAction()">
                                        Back
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
