<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
<div ng-controller="VolumeWizardCtrl" class="container-fluid">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-6">
            <div class="jarviswidget" id="wid-id-0">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i></span>
                    <h2>Create Volume: {{volume.name}}</h2>
                </header>
                <div>
                    <div class="widget-body">
                        <accordion>
                            <accordion-group is-open="accordionOpen.properties">
                                <accordion-heading>
                                    Volume Properties
                                    <i class="pull-right" ng-class="{'fa fa-angle-up': accordionOpen.properties,
                                    'fa fa-angle-down': !accordionOpen.properties}"></i>
                                </accordion-heading>
                                <form name="volumeForm" role="form" class="form-horizontal" novalidate>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Name</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" placeholder="Name..." ng-model="volume.name" name="name" validname required>
                                            <span ng-show="volumeForm.name.$dirty && volumeForm.name.$error.required">This field is required!</span>
                                            <span ng-show="volumeForm.name.$dirty && volumeForm.name.$error.validname">{{errortext}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Pool</label>
                                        <div class="col-md-10">
                                            <select class="form-control" ng-model="data.sourcePool" ng-options="(pool.name + ' (' + pool.type.name + ')') for pool in pools track by pool.id" name="pool" required>
                                                <option value="">-- Select a pool --</option>
                                            </select>
                                            <span ng-show="volumeForm.pool.$error.required">This field is required!</span>
                                            <div ng-show="data.sourcePool">
                                                {{data.sourcePool.usage.max_new_fsv_text}} available
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Type</label>
                                        <div class="col-md-10">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" class="radiobox style-0" ng-model="data.filesystem" value="" ng-disabled="state.formatted">
                                                    <span>Create LUN</span>
                                                </label>
                                            </div>
                                            <div class="radio" ng-show="supported_filesystems.xfs">
                                                <label>
                                                    <input type="radio" class="radiobox style-0" ng-model="data.filesystem" value="xfs" ng-disabled="state.formatted">
                                                    <span>Create Virtualization Store -> XFS</span>
                                                </label>
                                            </div>
                                            <div class="radio" ng-show="supported_filesystems.zfs">
                                                <label>
                                                    <input type="radio" class="radiobox style-0" ng-model="data.filesystem" value="zfs" ng-disabled="state.formatted">
                                                    <span>Create ZFS Volume</span>
                                                </label>
                                            </div>
                                            <div class="radio" ng-show="supported_filesystems.btrfs">
                                                <label>
                                                    <input type="radio" class="radiobox style-0" ng-model="data.filesystem" value="btrfs" ng-disabled="state.formatted">
                                                    <span>Create File Store -> BTRFS</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Size</label>
                                        <div class="col-md-10">
                                            <input class="form-control" name="megs" required ng-disabled="data.sourcePool === null"
                                                   volume-size-format volume-size-value max-value="{{data.sourcePool.usage.max_new_fsv}}"
                                                   ng-model="data.megs" placeholder="e.g., 10GB">
                                            <span ng-show="volumeForm.megs.$dirty && volumeForm.megs.$error.required">This field is required.</span>
                                            <span ng-show="volumeForm.megs.$dirty && volumeForm.megs.$error.volumeSizeFormat">This is not a valid number.</span>
                                            <span ng-show="volumeForm.megs.$dirty && volumeForm.megs.$error.volumeSizeValue">
                                                The size must be at least 100MB and must not exceed {{data.sourcePool.usage.max_new_fsv_text}}.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Deletion protection</label>
                                        <div class="col-md-10">
                                            <div class="checkbox">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" ng-model="volume.is_protected" name="deletionProtection">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </accordion-group>
                        </accordion>
                        <accordion>
                            <accordion-group is-open="accordionOpen.mirror">
                                <accordion-heading>
                                    Volume Mirroring
                                    <i class="pull-right" ng-class="{'fa fa-angle-up': accordionOpen.mirror,
                                    'fa fa-angle-down': !accordionOpen.mirror}"></i>
                                </accordion-heading>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Mirror Host</label>
                                    <div class="col-md-10">
                                        <select class="form-control" ng-model="data.mirrorHost"
                                                ng-options="host.name for host in hosts track by host.name">
                                            <option value="">-- Select a host --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Mirror Pool</label>
                                    <div class="col-md-10">
                                        <select class="form-control" ng-model="data.mirrorPool" ng-options="
                                        pool.name for pool in pools track by pool.name">
                                            <option value="">-- Select a host --</option>
                                        </select>
                                    </div>
                                </div>
                            </accordion-group>
                        </accordion>
                        <div class="form-group">
                            <div class="pull-right" style="padding: 6px 12px">
                                <button type="submit" class="btn btn-primary" ng-click="submitAction()" ng-disabled="volumeForm.$invalid">
                                    Submit
                                </button>
                                <button type="button" class="btn btn-default" ng-click="cancelAction()">
                                    Back
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
