<div class="openattic-modal-header">
    <span>API Recorder</span>
</div>
<div class="openattic-modal-content">
    <p>
        Replay the actions you recorded by running this Python script:
    </p>

    <div class="form-group">
        <textarea rows="14" class="apirecorder" disabled>{{script}}</textarea>
    </div>
</div>

<div class="openattic-modal-footer">
    <div class="button-group text-right">
        <button id="bot1-Msg1" class="btn btn-primary btn-sm" ng-click="close()">Close</button>
    </div>
</div>