<div ng-controller="vmstorage">
    <div class="row">
        <div class="col-sm-12">
            <ul class="pager wizard no-margin">
                <li>
                    <a href="#" ng-click="selectSelector()" class="btn btn-lg btn-default pull-left wizard-overview-btn">
                        Wizard Overview
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <br /><br />
    <div>
        <div class="widget-body">
            <wizard>
                <div class="tab-content">
                    <div ng-class="{'active': isActiveTab(1)}" title="Create Volume" class="tab-pane">
                        <h3><strong>VM Storage Step 1 </strong> - Create Volume</h3>
                        <form name="$parent.contentForm1" role="form" class="form-horizontal" novalidate>
                            <div class="form-group" ng-class="{'has-error': (contentForm1.submitted ||
                                contentForm1.volumename.$dirty) && contentForm1.volumename.$invalid}">
                                <label class="col-md-2 control-label" for="volumename">Name</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="volumename" placeholder="Name..."
                                           ng-model="input.volume.name" name="volumename" validname
                                           uniquename required>
                                    <span class="help-block tc_nameRequired" ng-show="(contentForm1.submitted ||
                                        contentForm1.volumename.$dirty) && contentForm1.volumename.$error.required">
                                        This field is required!
                                    </span>
                                    <span class="help-block" ng-show="contentForm1.volumename.$error.validname">
                                        {{errortext}}
                                    </span>
                                    <span class="help-block tc_noUniqueName"
                                          ng-show="contentForm1.volumename.$error.uniquename">
                                        The chosen volume name is already in use.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': (contentForm1.submitted ||
                                contentForm1.source_pool.$dirty) && contentForm1.source_pool.$invalid}">
                                <label class="col-md-2 control-label" for="source_pool">Pool</label>
                                <div class="col-md-10">
                                    <select class="form-control" ng-model="input.volume.source_pool"
                                            id="source_pool" ng-options="(pool.name + ' (' + pool.type.name + ', ' +
                                            pool.usage.free_text + ' free)' ) for pool in pools track by pool.id"
                                            name="source_pool" required>
                                        <option class="tc_volumePoolOption" value="">-- Select a pool --</option>
                                    </select>
                                    <div ng-show="input.volume.source_pool" class="progress-bar-outer clearfix">
                                        <progressbar max="100" class="progress-striped" value="selPoolUsedPercent">
                                            <span></span>
                                        </progressbar>
                                        <span class="pull-left">
                                            {{input.volume.source_pool.usage.used_text}} of
                                            {{input.volume.source_pool.usage.size_text}} used</span>
                                        <span class="pull-right">
                                            {{input.volume.source_pool.usage.free_text}} free
                                        </span>
                                    </div>
                                    <span class="help-block tc_poolRequired" ng-show="(contentForm1.submitted ||
                                        contentForm1.source_pool.$dirty) && contentForm1.source_pool.$error.required">
                                        This field is required!
                                    </span>
                                    <span class="help-block" ng-show="contentForm1.source_pool.$error.usablesize">
                                        The selected volumepool provides less than 100MB free space, so it's not
                                        usable for the new volume.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': (contentForm1.submitted ||
                                contentForm1.volumemegs.$dirty) && contentForm1.volumemegs.$invalid}">
                                <label class="col-md-2 control-label" for="volumemegs">Size</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" name="volumemegs"
                                           ng-disabled="input.volume.source_pool == null ||
                                           input.volume.source_pool.usage.free < 100"
                                           volume-size-format volume-size-value
                                           max-value="{{input.volume.source_pool.usage.free}}"
                                           ng-model="input.volume.megs" placeholder="e.g., 10GB"
                                           id="volumemegs" required>
                                    <span class="help-block tc_sizeRequired" ng-show="(contentForm1.submitted ||
                                        contentForm1.volumemegs.$dirty) && contentForm1.volumemegs.$error.required">
                                        This field is required!
                                    </span>
                                    <span class="help-block tc_noValidNumber"
                                          ng-show="contentForm1.volumemegs.$error.volumeSizeFormat">
                                        This is not a valid number.
                                    </span>
                                    <span class="help-block tc_wrongVolumeSize"
                                          ng-show="contentForm1.volumemegs.$error.volumeSizeValue">
                                        The size must be at least 100MB and must not exceed
                                        {{input.volume.source_pool.usage.free_text}}.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Filesystem</label>
                                <div class="col-md-10" ng-show="filesystems_count > 1">
                                    <div class="radio radio-primary" ng-show="supported_filesystems.zfs">
                                        <input type="radio" ng-model="input.volume.filesystem" value="xfs"
                                               id="xfs">
                                        <label for="xfs">XFS</label>
                                    </div>
                                    <div class="radio radio-primary" ng-show="supported_filesystems.zfs">
                                        <input type="radio" ng-model="input.volume.filesystem" value="zfs"
                                               id="zfs">
                                        <label for="zfs">ZFS</label>
                                    </div>
                                    <div class="radio radio-primary" ng-show="supported_filesystems.btrfs">
                                        <input type="radio" ng-model="input.volume.filesystem"
                                               value="btrfs" id="btrfs">
                                        <label for="btrfs">BTRFS</label>
                                    </div>
                                </div>
                                <div class="col-md-10" ng-show="filesystems_count <= 1">
                                    <p class="form-control-static">{{supported_filesystems}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox" ng-model="input.volume.is_protected"
                                               id="volumeisprotected" name="volumeisprotected">
                                        <label for="volumeisprotected">Deletion protection</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div ng-class="{'active': isActiveTab(2)}" title="Create Mirror" class="tab-pane">
                        <h3><strong>VM Storage Step 2 </strong> - Create Mirror</h3>
                        <form name="$parent.contentForm2" role="form" class="form-horizontal" novalidate>
                            <div class="form-group" disabled>
                                <label class="col-md-2 control-label">Mirror Host</label>
                                <div class="col-md-10">
                                    <select class="form-control" ng-model="input.mirror.host" id="mirrorhost"
                                            ng-options="host.name for host in hosts track by host.name" disabled>
                                        <option value="">-- Select a host --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" disabled>
                                <label class="col-md-2 control-label">Mirror Pool</label>
                                <div class="col-md-10">
                                    <select class="form-control" ng-model="input.mirror.pool" ng-options="
                                        pool.name for pool in pools track by pool.name" disabled>
                                        <option value="">-- Select a host --</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div ng-class="{'active': isActiveTab(3)}" title="Create Shares" class="tab-pane">
                        <h3><strong>VM Storage Step 3 </strong> - Create Shares</h3>
                        <div class="checkbox checkbox-inline">
                            <input type="checkbox" ng-model="input.cifs.create" id="needcifs">
                            <label for="needcifs">CIFS Share</label>
                        </div>
                        <div class="checkbox checkbox-inline">
                            <input type="checkbox" ng-model="input.nfs.create" id="neednfs">
                            <label for="neednfs">NFS Share</label>
                        </div><br /><br />
                        <form name="$parent.contentForm3" role="form" class="form-horizontal" novalidate>
                            <accordion close-others="false">
                                <accordion-group is-open="input.cifs.create">
                                    <accordion-heading>
                                        CIFS
                                        <i class="pull-right" ng-class="{'fa fa-angle-up': input.cifs.create,
                                        'fa fa-angle-down': !input.cifs.create}"></i>
                                    </accordion-heading>
                                    <div class="form-group" ng-class="{'has-error': (contentForm3.submitted ||
                                        contentForm3.cifsname.$dirty) && contentForm3.cifsname.$invalid}">
                                        <label class="col-md-2 control-label" for="cifsname">Name</label>
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-share"></i></span>
                                                <input type="text" class="form-control" id="cifsname"
                                                       placeholder="Name..." ng-model="input.cifs.name" name="cifsname"
                                                       ng-required="input.cifs.create">
                                            </div>
                                            <span class="help-block" ng-show="(contentForm3.submitted ||
                                                contentForm3.cifsname.$dirty) && contentForm3.cifsname.$error.required">
                                                This field is required!
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': (contentForm3.submitted ||
                                        contentForm3.cifspath.$dirty) && contentForm3.cifspath.$invalid}">
                                        <label class="col-md-2 control-label" for="cifspath">Path</label>
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-share"></i></span>
                                                <input type="text" class="form-control" id="cifspath"
                                                       placeholder="Path..." ng-model="input.cifs.path" name="cifspath"
                                                       ng-required="input.cifs.create">
                                            </div>
                                            <span class="help-block" ng-show="(contentForm3.submitted ||
                                                contentForm3.cifspath.$dirty) && contentForm3.cifspath.$error.required">
                                                This field is required!
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="cifscomment">Comment</label>
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-share"></i></span>
                                                <input type="text" class="form-control" id="cifscomment"
                                                       placeholder="Comment (shows up in the detail view of Windows Explorer)..."
                                                       ng-model="input.cifs.comment" name="cifscomment">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <div class="checkbox checkbox-primary">
                                                <input type="checkbox" ng-model="input.cifs.available"
                                                       name="cifsavailable" id="cifsavailable">
                                                <label for="cifsavailable">
                                                    Is available
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <div class="checkbox checkbox-primary">
                                                <input type="checkbox" ng-model="input.cifs.browseable"
                                                       name="cifsbrowseable" id="cifsbrowseable">
                                                <label for="cifsbrowseable">
                                                    is browseable
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <div class="checkbox checkbox-primary">
                                                <input type="checkbox" ng-model="input.cifs.writeable"
                                                       name="cifswriteable" id="cifswriteable">
                                                <label for="cifswriteable">
                                                    Is writeable
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <div class="checkbox checkbox-primary">
                                                <input type="checkbox" ng-model="input.cifs.guest_ok" name="cifsguestok"
                                                       id="cifsguestok">
                                                <label for="cifsguestok">
                                                    Accessible by guests
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </accordion-group>
                                <accordion-group is-open="input.nfs.create">
                                    <accordion-heading>
                                        NFS
                                        <i class="pull-right" ng-class="{'fa fa-angle-up': input.nfs.create,
                                        'fa fa-angle-down': !input.nfs.create}"></i>
                                    </accordion-heading>
                                    <div class="form-group" ng-class="{'has-error': (contentForm3.submitted ||
                                        contentForm3.nfspath.$dirty) && contentForm3.nfspath.$invalid}">
                                        <label class="col-md-2 control-label" for="nfspath">Path</label>
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="icon-prepend fa fa-share"></i>
                                                </span>
                                                <input class="form-control" type="text" placeholder="Path..."
                                                       ng-model="input.nfs.path" name="nfspath" id="nfspath"
                                                       ng-required="input.nfs.create">
                                            </div>
                                            <span class="help-block" ng-show="(contentForm3.submitted ||
                                                contentForm3.nfspath.$dirty) && contentForm3.nfspath.$error.required">
                                                The path is required.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': (contentForm3.submitted ||
                                        contentForm3.nfsaddress.$dirty) && contentForm3.nfsaddress.$invalid}">
                                        <label class="col-md-2 control-label" for="nfsaddress">Address</label>
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="icon-prepend fa fa-share"></i>
                                                </span>
                                                <input class="form-control" type="text" placeholder="Address..."
                                                       ng-model="input.nfs.address" name="nfsaddress" id="nfsaddress"
                                                       ng-required="input.nfs.create">
                                            </div>
                                            <span class="help-block" ng-show="(contentForm3.submitted ||
                                                contentForm3.nfsaddress.$dirty) &&
                                                contentForm3.nfsaddress.$error.required">
                                                The address is required.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="nfsoptions">Options</label>
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="icon-prepend fa fa-share"></i>
                                                </span>
                                                <input class="form-control" type="text" placeholder="Options..."
                                                       ng-model="input.nfs.options" name="nfsoptions" id="nfsoptions">
                                            </div>
                                        </div>
                                    </div>
                                </accordion-group>
                            </accordion>
                        </form>
                    </div>
                    <div ng-class="{'active': isActiveTab(4)}" title="Save configuration" class="tab-pane">
                        <h3><strong>VM Storage Step 4 </strong> - Save configuration</h3>
                        <form name="$parent.contentForm4" role="form" class="form-horizontal" novalidate>
                            <br />
                            <h1 class="text-center text-success">
                                <strong><i class="fa fa-check fa-lg"></i> VM Storage Configuration Complete</strong>
                            </h1>
                            <h4 class="text-center">Click 'Done' to finish</h4>
                            <br />
                        </form>
                    </div>
                </div>
            </wizard>
        </div>
    </div>
</div>