{% extends "lvm/lvmbase.html" %}
{# kate: space-indent on; indent-width 2; replace-tabs on; #}
{% load lvm_extras %}
{% block Title %} :: LV List{% endblock %}
{% block BodyHeader %}
  <script type="text/javascript">
    function findPos(obj, parent_id){
      var curleft = curtop = 0;
      if( obj.offsetParent ){
        do {
          curleft += obj.offsetLeft;
          curtop  += obj.offsetTop;
        } while( (parent_id === null || obj.id != parent_id) && ((obj = obj.offsetParent) !== null) );
      }
      return [curleft, curtop];
    }

    function show_addshare_type_selector(button, id){
      var el   = document.getElementById('addshare_type_selector');
      var lvid = document.getElementById('addshare_type_selector__lvid');
      globalpos = findPos(button);         // For x coord
      buttonpos = findPos(button, "test"); // For y coord
      el.style.right      = (window.innerWidth - globalpos[0] + button.width) + "px";
      el.style.top        = buttonpos[1] + "px";
      el.style.visibility = "visible";
      lvid.value = id;
    }
  </script>
{% endblock %}
{% block Body %}
  <div id="addshare_type_selector">
    <form method="post" action="{% url lvm.views.lvaddshare %}">
      {% csrf_token %}
      <input type="hidden" id="addshare_type_selector__lvid" name="lvid" value="1337"  />
      {% for stype in Types %}
        <button type="submit" name="type" value="{{ stype }}">{{ stype }}</button>
      {% endfor %}
      <button type="reset"  onclick="document.getElementById('addshare_type_selector').style.visibility = 'hidden';">
        &nbsp;
      </button>
    </form>
  </div>
  {% for lv in LVs %}
    <div id="test" style="border: 0px solid black height; position: relative;">
      <div class="boxheader">
        <img src="{{ MEDIA_URL }}/boxicons/oben_links1.png" style="position: absolute; left: 0px; top: 0px"/>
        <img src="{{ MEDIA_URL }}/boxicons/oben_rechts.png" style="position: absolute; right: 0px; top: 0px"/>
      </div>

      <div class="content">
        <div class="lv">
          <img alt="lv" src="{{ MEDIA_URL }}/icons/drive.png" />
          <ul   class="lvtools">
          {% if lv.state == "new" or lv.state == "active" %}
            <li>
              <img
                alt="add share" title="add share" src="{{ MEDIA_URL }}/icons/add.png"
                onclick="show_addshare_type_selector(this, {{ lv.id }})" />
            </li>
            <li>
              <a href="{% url lvm_logicalvolume_edit lv.id %}">
                <img alt="edit"   src="{{ MEDIA_URL }}/icons/drive_edit.png"   />
              </a>
            </li>
          {% endif %}
          {% if lv.state == "new" or lv.state == "active" or lv.state == "done" %}
            <li>
              <a href="{% url lvm_logicalvolume_delete lv.id %}">
                <img alt="delete" src="{{ MEDIA_URL }}/icons/drive_delete.png" />
              </a>
            </li>
          {% endif %}
          </ul>
          <ul   class="lvinfo">
            <li>{{ lv.megs }}MB</li>
            <li>In volume group <img alt="lv" src="{{ MEDIA_URL }}/icons/database.png" />{{ lv.vg }}</li>
            <li>{% if lv.fs %}Formatted as {{ lv.fs.name }}{% else %}Unformatted{% endif %}</li>
            <li>
              {% if lv.snapshot %}
                Snapshot of {{ lv.snapshot.name }} ({{ lv.lvm_info.LVM2_SNAP_PERCENT }}%)
              {% else %}
                Standard volume
              {% endif %}
            </li>
          </ul>
          <span class="lvname">{{ lv.name }} <small>({{ lv.owner }})</small></span>
          <span class="lvstate state_{{ lv.state }}">{{ lv.get_state_display }}</span>
          <ul   class="lvshares">
            {% for share in lv.get_shares %}
              {% with share|shareitem as itemtemplate %}
                {% include itemtemplate %}
              {% endwith %}
            {% empty %}
              Volume is not currently shared.
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="boxfooter">
        <img src="{{ MEDIA_URL }}/boxicons/unten_links1.png" style="position:absolute ; left: 0px"/>
        <img src="{{ MEDIA_URL }}/boxicons/unten_rechts1.png" style="position:absolute ; right: 0px"/>
      </div>
    </div>
    <br />
  {% endfor %}
{% endblock %}
