<div class="openattic-modal-header">
    <span>Background-Tasks</span>
</div>
<div class="openattic-modal-content">
    <uib-tabset active="modalTabData.active">
        <uib-tab ng-repeat="(tabKey, tab) in tabs" heading="{{tab.name}}
            {{tab.count >= 0 ? ' (' + tab.count + ')' : ''}}" index="$index">
            <p ng-hide="tab.loaded">Loading...<p>
            <p ng-show="tab.loaded && tab.data.length === 0">There are no {{tabKey}} Tasks.<p>
            <form name="{{tab.name}}Tasks" role="form" novalidate ng-show="tab.data.length > 0">
                <table class="table table-striped table-bordered table-hover datatable dataTable">
                    <thead>
                    <tr>
                        <th width="3%">
                            <input type="checkbox" ng-model="tab.selection.checkAll" ng-change="checkAllTasks(tabKey)"/>
                        </th>
                        <th ng-repeat="col in tab.tableColumns" ng-click="order(col.attribute, tab)"
                            class="{{orderClass(col.attribute, tab)}}" ng-bind="col.name" width="{{col.width ? col.width : 'auto'}}">
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in tab.data | orderBy: tab.tableSort.attribute:tab.tableSort.reverse"
                        ng-class="{ info: isTaskSelected(row, tab) }">
                        <td>
                            <input class="tc_checkboxes" type="checkbox" ng-checked="isTaskSelected(row, tab)" checklist-model="tab.selection.items"
                                   ng-click="updateTaskSelection(tabKey, tab.selection.items)" checklist-value="row"/>
                        </td>
                        <td ng-click="toggleTaskSelection(row, tabKey, $event)" ng-repeat="attr in tab.tableColumns">
                            <span ng-if="attr.type === 'text'" ng-bind="selectColumn(attr, row)"></span>
                            <span ng-if="attr.type === 'date'" ng-bind="selectColumn(attr, row) | date:'medium'"></span>
                            <span ng-if="attr.type === 'percent'">
                                <uib-progressbar value="selectColumn(attr, row)">{{selectColumn(attr, row)}}%</uib-progressbar>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
            <p></p>
            <div class="task-detail panel panel-default" ng-show="tab.selection.item">
                <div class="panel-heading">
                    <h3 class="panel-title">Status of {{tab.selection.item.name}}</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <div ng-repeat="(key, val) in tab.selection.item">
                            <dt ng-bind="key"></dt>
                            <dd ng-bind="val"></dd>
                        </div>
                    </dl>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
<div class="openattic-modal-footer">
    <div class="button-group text-right">
        <button id="bot1-Msg1" class="btn btn-default btn-sm" ng-click="closeTasks()">Close</button>
    </div>
</div>
