<div class="openattic-modal-header">
  <span>
    <translate translate-params-deep="$ctrl.resolve.deep ? 'Deep ' : ''">
      Ceph OSD {{ deep }}Scrub
    </translate>
  </span>
</div>

<form name="$ctrl.form"
      role="form"
      novalidate>
  <div class="openattic-modal-content">
    <p>
      <translate translate-params-deep="$ctrl.resolve.deep ? 'deep ' : ''"
                 translate-params-name="$ctrl.resolve.osd.name">
        You are about to apply a {{ deep }}scrub to the Ceph OSD <strong>{{ name }}</strong>.
      </translate>
    </p>
  </div>

  <div class="openattic-modal-footer">
    <div class="button-group text-right">
      <oa-submit-button form="$ctrl.form"
                        on-submit="$ctrl.scrub()">
        <translate>Submit</translate>
      </oa-submit-button>

      <button translate
              id="cancelButton"
              class="btn btn-link btn-sm"
              ng-click="$ctrl.cancel()">
        Cancel
      </button>
    </div>
  </div>
</form>
