.split-screen {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 48%;
}

.simple-border {
    border: black dashed 1px;
}

.padded {
    padding: 10px;
}

form input.ng-invalid.ng-dirty {
    background-color: #ffcbc1;
}

form input.ng-invalid:focus {
    outline-color: red;
}

form input.ng-valid.ng-dirty {
    background-color: #1dca07;
}

.bm-tag {
    font-family: 'Consolas', monospace;
    font-size: 0.9em;
    background-color: #276dff;
    color: #ffffff;
    margin: 2px;
    padding: 2px;
    border-radius: 8px;
}