<div class="panel panel-default tc_detailsTab">
    <div class="panel-heading">
        <h3 class="panel-title">
            <translate translate-params-bucket="selection.item.bucket">
                Details of {{ bucket }}
            </translate>
        </h3>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt translate>Name:</dt>
            <dd ng-bind="$ctrl.selection.item.bucket"></dd>
            <dt translate>ID:</dt>
            <dd ng-bind="$ctrl.selection.item.id"></dd>
            <dt translate>Owner:</dt>
            <dd ng-bind="$ctrl.selection.item.owner"></dd>
            <span ng-if="$ctrl.selection.item.pool.length">
                <dt translate>Pool:</dt>
                <dd ng-bind="$ctrl.selection.item.pool"></dd>
            </span>
            <span ng-if="$ctrl.selection.item.index_pool.length">
                <dt translate>Index pool:</dt>
                <dd ng-bind="$ctrl.selection.item.index_pool"></dd>
            </span>
            <dt translate>Marker:</dt>
            <dd ng-bind="$ctrl.selection.item.marker"></dd>
            <dt translate>Maximum marker:</dt>
            <dd ng-bind="$ctrl.selection.item.max_marker"></dd>
            <dt translate>Version:</dt>
            <dd ng-bind="$ctrl.selection.item.ver"></dd>
            <dt translate>Master version:</dt>
            <dd ng-bind="$ctrl.selection.item.master_ver"></dd>
            <dt translate>Modification time:</dt>
            <dd ng-bind="$ctrl.selection.item.mtime"></dd>
            <dt translate>Shared via NFS:</dt>
            <dd>{{ $ctrl.selection.item.is_referenced ? "Yes" : "No" }}</dd>
        </dl>
        <legend translate>Endpoint</legend>
        <dl class="dl-horizontal">
            <dt translate>S3:</dt>
            <dd>
                <a>{{ $ctrl.selection.item.endpoint.s3 }}</a>
            </dd>
            <dt translate>Swift:</dt>
            <dd>
                <a>{{ $ctrl.selection.item.endpoint.swift }}</a>
            </dd>
        </dl>
    </div>
</div>
