[FORMAT]
max-line-length=120

[TYPECHECK]
generated-members=objects,id,_meta,DoesNotExist

[MESSAGES CONTROL]
disable=E1101,E1102,E1103,W0142,C0111,C0103,R0201,W0613,W0212

[REPORTS]
reports=y
include-ids=y
