backports.shutil-get-terminal-size==1.0.0
dateutils==0.6.6
decorator==4.0.9
Django==1.7.11
django-cors-headers==1.1.0
django-filter==0.7
djangorestframework==2.4.3
funcsigs==1.0.2
ipython==4.2.0
ipython-genutils==0.1.0
Markdown==2.6.6
moc==0.2
mock==2.0.0
netaddr==0.7.18
netifaces==0.10.4
numpy==1.11.0
pathlib2==2.1.0
pbr==1.9.1
pexpect==4.0.1
pickleshare==0.7.2
ptyprocess==0.5.1
python-dateutil==2.5.3
python-memcached==1.57
pytz==2016.4
pyudev==0.16.1
requests==2.9.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
wheel==0.24.0
