<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
<ceph-pool-attributes-editor>
    <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-frown-o"></i> </span>
            <h2>Sorry folks...</h2>
        </header>
        <div>
            <p>This feature is only available in the enterprise edition.</p>
        </div>
    </div>
</ceph-pool-attributes-editor>
