<h2 ng-bind="selection.item.status.text"></h2>
<ul>
    <li ng-repeat="(flag, desc) in selection.item.status.flags" ng-bind="desc"></li>
</ul>
<div ng-show="selection.item.usage.steal > 0">
    <h2>Stolen space</h2>
    <p>
        The pool reports stolen space. This means that storage capacity which should be available for use in this pool
        is instead used elsewhere. Depending on the pool type, examples may be:
    </p>
    <ul>
        <li>Redundancy and/or parity for data recovery after a disk failure.</li>
        <li>Space used by other pools in the same cluster.</li>
        <li>Space used for snapshots.</li>
    </ul>
</div>
