<oa-loading-panel message="{{ 'Ceph Cluster settings are loading...' | translate }}"
                  ng-show="!$ctrl.error && !$ctrl.model.$resolved"></oa-loading-panel>

<form ng-show="!$ctrl.error && $ctrl.model.$resolved"
      name="clusterForm"
      role="form"
      class="form-horizontal"
      novalidate>
  <div class="openattic-modal-header">
    <span><translate>Cluster:</translate>
      <small> {{ $ctrl.model.name }} ({{ $ctrl.model.fsid }})</small>
    </span>
  </div>

  <div class="openattic-modal-content">
    <fieldset>
      <legend>
        <small translate>Cluster-wide OSD Flags</small>
      </legend>
      <div class="checkbox checkbox-primary"
           ng-repeat="(key, flag) in $ctrl.data.osd_flags">
        <input type="checkbox"
               ng-model="flag.value"
               name="active"
               id="{{key}}">
        <label for="{{key}}"
               ng-class="['tc_' + key]">
          <strong>{{ flag.name }}</strong>
          <br>
          <span class="text-muted">{{flag.description}}</span>
        </label>
        <hr class="oa-hr-small">
      </div>
    </fieldset>
  </div>

  <div class="openattic-modal-footer">
    <div class="button-group text-right">
      <oa-submit-button form="clusterForm"
                        on-submit="$ctrl.submitAction()">
        <translate>Submit</translate>
      </oa-submit-button>
      <button translate
              id="cancelButton"
              class="btn btn-link btn-sm"
              ng-click="$ctrl.cancel()">Cancel</button>
    </div>
  </div>
</form>
