<div class="openattic-modal-header">
  <span>Delete erasure code profile</span>
</div>

<form name="addForm" role="form" novalidate>
  <div class="openattic-modal-content">
    <p>
      You are about to add a new erasure code profile.
    </p>

    <p>
      To confirm, please enter the information below and click <kbd>Add erasure code profile</kbd>, or cancel and return to the page.
    </p>

    <div class="form-group">

    </div>

    <div class="form-group">

    </div>
  </div>

  <div class="openattic-modal-footer">
    <div class="button-group text-right">
      <button id="bot2-Msg1" class="btn btn-primary btn-sm"
              ng-click="addErasureCodeProfile()" ng-disabled="addForm.$invalid">
        Add erasure code profile
      </button>
      <button id="bot1-Msg1" class="btn btn-link btn-sm" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</form>