<div class="login">
    <div class="row full-height vertical-align">
        <div class="col-sm-6 hidden-xs">
            <img src="images/suse_logo_256x256.png" alt="SUSE Enterprise Storage" class="pull-right">
        </div>
        <div class="col-xs-10 col-sm-4 col-lg-3 col-xs-offset-1 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
            <h1>Welcome to SUSE Enterprise Storage</h1>
            <form name="loginForm" ng-submit="login()" novalidate>
                <!-- username -->
                <div class="form-group has-feedback"
                     ng-class="{'has-error': (submitted || loginForm.username.$dirty) && loginForm.username.$invalid}">
                    <input name="username" ng-model="username" type="text" placeholder="Enter your username..."
                           class="form-control" required autofocus
                           uib-tooltip="{{fieldRequired}}"
                           tooltip-class="tc_usernameRequired"
                           tooltip-trigger="'none'"
                           tooltip-is-open="(submitted || loginForm.username.$dirty)&& loginForm.username.$error.required">
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                          ng-show="(submitted || loginForm.username.$dirty) && loginForm.username.$invalid"></span>
                </div>
                <!-- end username -->

                <!-- password -->
                <div class="form-group has-feedback"
                     ng-class="{'has-error': (submitted || loginForm.password.$dirty) && loginForm.password.$invalid}">
                    <div class="input-group">
                        <input id="password" name="password" type="password" ng-model="password" placeholder="Enter your password..."
                               class="form-control" required
                               uib-tooltip="{{fieldRequired}}"
                               tooltip-class="tc_passwdRequired"
                               tooltip-trigger="'none'"
                               tooltip-is-open="(submitted || loginForm.password.$dirty) && loginForm.password.$error.required">
                        <span class="input-group-btn">
                            <button type="button"
                                    class="btn btn-default btn-password"
                                    oa-password-button="password">
                            </button>
                        </span>
                    </div>
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                          ng-show="(submitted || loginForm.password.$dirty) && loginForm.password.$invalid"></span>
                </div>
                <!-- end password -->

                <input type="submit" class="btn btn-openattic btn-block" value="login"
                       uib-tooltip="{{correctInput}}"
                       tooltip-class="tc_correctInput"
                       tooltip-trigger="'none'"
                       tooltip-is-open="submitted && loginFailed && (!loginForm.username.$error.required && !loginForm.password.$error.required)">
            </form>
        </div>
    </div>
    <div class="row icon-bar">
        <a href="http://openattic.org" target="_blank">
            <i>Powered by openATTIC</i>
        </a>
    </div>
</div>