<div class="tab-pane active" id="vol-tab1">
    <fieldset ng-disabled="volume.id">
        <div class="form-group">
            <label class="col-md-2 control-label">Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="Name..." ng-model="volume.name" name="name" validname required>
                <span ng-show="volumeForm.name.$dirty && volumeForm.name.$error.required">This field is required!</span>
                <span ng-show="volumeForm.name.$dirty && volumeForm.name.$error.validname">{{errortext}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Pool</label>
            <div class="col-md-10">
                <select class="form-control" ng-model="data.sourcePool" ng-options="pool.name for pool in pools track by pool.id" name="pool" required>
                    <option value="">-- Select a pool --</option>
                </select>
                <span ng-show="volumeForm.pool.$error.required">This field is required!</span>
                <div ng-show="data.sourcePool">
                    {{data.sourcePool.usage.max_new_fsv_text}} available
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Size</label>
            <div class="col-md-10">
                <input class="form-control" name="megs" required ng-disabled="data.sourcePool === null"
                       volume-size-format volume-size-value max-value="{{data.sourcePool.usage.max_new_fsv}}"
                       ng-model="data.megs" placeholder="e.g., 10GB">
                <span ng-show="volumeForm.megs.$dirty && volumeForm.megs.$error.required">This field is required.</span>
                <span ng-show="volumeForm.megs.$dirty && volumeForm.megs.$error.volumeSizeFormat">This is not a valid number.</span>
                <span ng-show="volumeForm.megs.$dirty && volumeForm.megs.$error.volumeSizeValue">
                    The size must be at least 100MB and must not exceed {{data.sourcePool.usage.max_new_fsv_text}}.
                </span>
            </div>
        </div>
    </fieldset>
</div>
