<div class="tab-pane active" id="vol-tab3">
    <fieldset>
        <div class="form-group">
            <label class="col-md-4 control-label">What do you want to do with the volume?</label>
            <div class="col-md-8">
                <div class="radio">
                    <label>
                        <input type="radio" class="radiobox style-0" ng-model="data.filesystem" value="" ng-disabled="state.formatted">
                        <span>Create LUN</span>
                    </label>
                </div>
                <div class="radio" ng-show="supported_filesystems.xfs">
                    <label>
                        <input type="radio" class="radiobox style-0" ng-model="data.filesystem" value="xfs" ng-disabled="state.formatted">
                        <span>Create Virtualization Store -> XFS</span>
                    </label>
                </div>
                <div class="radio" ng-show="supported_filesystems.zfs">
                    <label>
                        <input type="radio" class="radiobox style-0" ng-model="data.filesystem" value="zfs" ng-disabled="state.formatted">
                        <span>Create ZFS Volume</span>
                    </label>
                </div>
                <div class="radio" ng-show="supported_filesystems.btrfs">
                    <label>
                        <input type="radio" class="radiobox style-0" ng-model="data.filesystem" value="btrfs" ng-disabled="state.formatted">
                        <span>Create File Store -> BTRFS</span>
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
</div>
