<oa-delete-confirmation-modal title="{{ ($ctrl.resolve.selectionItems.length > 1) ? 'Delete NFS exports' : 'Delete NFS export' }}"
                              on-confirm="$ctrl.deleteNfs()"
                              on-cancel="$ctrl.cancel()">
  <div ng-if="$ctrl.resolve.selectionItems.length === 1">
    <p>
      You are about to delete the NFS export
      <strong>{{$ctrl.resolve.selectionItems[0].host}}:{{$ctrl.resolve.selectionItems[0].path}}</strong>
    </p>
  </div>
  <div ng-if="$ctrl.resolve.selectionItems.length > 1">
    <p>
      You are about to delete multiple NFS exports.
    </p>
    <span class="text-danger">The following NFS exports will be deleted:</span>
    <ul class="text-danger">
      <li ng-repeat="selectionItem in $ctrl.resolve.selectionItems">
        {{selectionItem.host}}:{{selectionItem.path}}
      </li>
    </ul>
  </div>
</oa-delete-confirmation-modal>
