<div class="openattic-modal-header">
  <span>Edit dashboard '{{data.name}}'</span>
</div>

<form name="editForm" role="form" class="form-horizontal" novalidate>
  <div class="openattic-modal-content">
    <p>
      You are about to edit the dashboard <strong>{{data.name}}</strong>.
    </p>

    <p>
      To confirm, please enter the new name below and click <kbd>Edit dashboard</kbd>, or cancel and return to the page.
    </p>

    <div class="form-group">
      <label for="name" class="control-label col-sm-2">Name</label>
      <div class="col-sm-10">
        <input type="text"
               id="name"
               class="form-control"
               ng-model="input.name"
               ng-maxlength="20"
               maxlength="20"
               required
               autofocus>
      </div>
    </div>
  </div>

  <div class="openattic-modal-footer">
    <div class="button-group text-right">
      <button id="bot2-Msg1" class="btn btn-primary btn-sm"
              ng-click="editDashboard()" ng-disabled="editForm.$invalid">
        Edit dashboard
      </button>
      <button id="bot1-Msg1" class="btn btn-link btn-sm" ng-click="cancel()">Cancel
      </button>
    </div>
  </div>
</form>