<oa-loading-panel message="Module is loading..."
                  ng-show="!$ctrl.moduleAvailable.$resolved && $ctrl.displayLoadingPanelValue">
</oa-loading-panel>

<span ng-if="$ctrl.moduleAvailable.$resolved">
  <span ng-transclude
        ng-if="$ctrl.moduleAvailable.available"></span>
  <span ng-if="!$ctrl.moduleAvailable.available">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ $ctrl.getErrorTitle($ctrl.moduleAvailable.reason) }}</h3>
      </div>
      <div class="panel-body">
        <ng-include src="$ctrl.getErrorTemplate($ctrl.moduleAvailable.reason)"></ng-include>
        <span ng-if="$ctrl.moduleAvailable.message">
          <hr>
          <span ng-bind-html="$ctrl.moduleAvailable.message"></span>
        </span>
        <span ng-if="$ctrl.moduleAvailable.reason"
              class="pull-right">(code {{ $ctrl.moduleAvailable.reason }})
        </span>
      </div>
    </div>
  </span>
</span>
