<p>This module cannot be loaded due to a problem while trying to connect to DeepSea via the Salt REST API</p>

<hr>

<p>Please verify that:</p>
<ul>
  <li>
    <a ui-sref="settings">
      <strong>Salt API Host</strong> and
      <strong>TCP Port</strong> settings</a> are defined correctly
  </li>
  <li>The
    <strong>salt-api</strong> daemon is installed and running on the salt master node
    <kbd># systemctl status salt-api</kbd>
  </li>
  <li>No firewall is enabled on the Salt Master host that blocks access to the Salt REST API</li>
</ul>
