<p>This module cannot be loaded due to a problem while trying to connect to <strong>RGW S3 API</strong></p>

<hr>

<p>Please verify that:</p>
<ul>
  <li>
    <a ui-sref="settings"><strong>Object Gateway Host</strong> and <strong>Port</strong> settings</a> are defined correctly
  </li>
  <li>The <strong>ceph-radosgw.target</strong> daemon is installed and running on the Object Gateway node <kbd># systemctl status ceph-radosgw.target</kbd></li>
  <li>No firewall is enabled on the Object Gateway host that blocks access to the RGW S3 API</li>
</ul>
