<div class="openattic-modal-header">
  <span>
    <translate translate-params-deep="$ctrl.resolve.deep ? 'Deep ' : ''">
      Ceph Nodes {{ deep }}Scrub
    </translate>
  </span>
</div>

<form name="$ctrl.form"
      role="form"
      novalidate>
  <div class="openattic-modal-content">
    <!-- single cephMNode -->
    <div ng-if="$ctrl.resolve.cephNodes.length === 1">
      <p>
        <translate translate-params-deep="$ctrl.resolve.deep ? 'deep ' : ''"
                   translate-params-hostname="$ctrl.resolve.cephNodes[0].hostname">
          You are about to apply a {{ deep }}scrub to the Ceph node <strong>{{ hostname }}</strong>.
        </translate>
      </p>
    </div>
    <!-- end single cephMNode -->

    <!-- multiple cephMNodes -->
    <div ng-if="$ctrl.resolve.cephNodes.length > 1">
      <p>
        <translate translate-params-deep="$ctrl.resolve.deep ? 'deep ' : ''">
          You are about to apply a {{ deep }}scrub to multiple Ceph nodes.
        </translate>
      </p>
      <span>
        <translate translate-params-deep="$ctrl.resolve.deep ? 'deep ' : ''">
          The following Ceph nodes will be {{ deep }}scrubbed:
        </translate>
      </span>
      <ul>
        <li ng-repeat="cephNode in $ctrl.resolve.cephNodes">
          {{cephNode.hostname}}
        </li>
      </ul>
    </div>
    <!-- end multiple cephMNodes -->
  </div>

  <div class="openattic-modal-footer">
    <div class="button-group text-right">
      <oa-submit-button form="$ctrl.form"
                        on-submit="$ctrl.scrub()">
        <translate>Submit</translate>
      </oa-submit-button>

      <button translate
              id="cancelButton"
              class="btn btn-link btn-sm"
              ng-click="$ctrl.cancel()">
        Cancel
      </button>
    </div>
  </div>
</form>
