<table class="table table-transparent header-text-center text-center">
  <thead>
    <tr>
      <th></th>
      <th class="rbd-striping-object tc_object">
        <small>Object</small>
        <br>{{ $ctrl.objectSetIndex * $ctrl.stripeCount }}
      </th>
      <th ng-if="$ctrl.stripeCount >= 2"
          class="rbd-striping-column-separator"></th>
      <th ng-if="$ctrl.stripeCount >= 2"
          class="rbd-striping-object tc_object">
        <small>Object</small>
        <br>{{ $ctrl.objectSetIndex * $ctrl.stripeCount + 1 }}
      </th>
      <th ng-if="$ctrl.stripeCount >= 3"
          class="rbd-striping-column-separator"></th>
      <th ng-if="$ctrl.stripeCount >= 3"
          class="rbd-striping-object tc_object">
        <small>Object</small>
        <br>{{ $ctrl.objectSetIndex * $ctrl.stripeCount + 2 }}
      </th>
      <th ng-if="$ctrl.stripeCount >= 4"
          class="rbd-striping-column-separator"></th>
      <th ng-if="$ctrl.stripeCount >= 4"
          class="rbd-striping-object tc_object">
        <small>Object</small>
        <br>{{ $ctrl.objectSetIndex * $ctrl.stripeCount + 3 }}
      </th>
      <th ng-if="$ctrl.stripeCount > 5"
          class="rbd-striping-column-separator"></th>
      <th ng-if="$ctrl.stripeCount > 5"
          class="rbd-striping-object"></th>
      <th ng-if="$ctrl.stripeCount >= 5"
          class="rbd-striping-column-separator"></th>
      <th ng-if="$ctrl.stripeCount >= 5"
          class="rbd-striping-object tc_object">
        <small>Object</small>
        <br>{{ $ctrl.objectSetIndex * $ctrl.stripeCount + ($ctrl.stripeCount - 1) }}
      </th>
      <th class="rbd-striping-stripe"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-init="stripeNumber =  $ctrl.numStripesObjectSet * $ctrl.objectSetIndex">
      <td class="text-muted italic tc_objectSet"
          rowspan="{{ $ctrl.numStripesCurrentObjectSet <= 4 ? $ctrl.numStripesCurrentObjectSet : 5 }}">
        <small>Object
          <br>set</small>
        <br>
        <strong>{{ $ctrl.objectSetIndex }}</strong>
      </td>
      <td ng-init="stripeUnitNumber = $ctrl.numStripUnitsObjectSet * $ctrl.objectSetIndex"
          ng-class="$ctrl.getStripUnitStyle(stripeUnitNumber, stripeNumber)"
          class="tc_stripUnit"
          ng-bind-html="$ctrl.getStripUnitText(stripeUnitNumber)">
      </td>
      <td ng-if="$ctrl.stripeCount >= 2"
          class="rbd-striping-column-separator"></td>
      <td ng-if="$ctrl.stripeCount >= 2"
          ng-init="stripeUnitNumber = $ctrl.numStripUnitsObjectSet * $ctrl.objectSetIndex + 1"
          ng-class="$ctrl.getStripUnitStyle(stripeUnitNumber, stripeNumber)"
          class="tc_stripUnit"
          ng-bind-html="$ctrl.getStripUnitText(stripeUnitNumber)">
      </td>
      <td ng-if="$ctrl.stripeCount >= 3"
          class="rbd-striping-column-separator"></td>
      <td ng-if="$ctrl.stripeCount >= 3"
          ng-init="stripeUnitNumber = $ctrl.numStripUnitsObjectSet * $ctrl.objectSetIndex + 2"
          ng-class="$ctrl.getStripUnitStyle(stripeUnitNumber, stripeNumber)"
          class="tc_stripUnit"
          ng-bind-html="$ctrl.getStripUnitText(stripeUnitNumber)">
      </td>
      <td ng-if="$ctrl.stripeCount >= 4"
          class="rbd-striping-column-separator"></td>
      <td ng-if="$ctrl.stripeCount >= 4"
          ng-init="stripeUnitNumber = $ctrl.numStripUnitsObjectSet * $ctrl.objectSetIndex + 3"
          ng-class="$ctrl.getStripUnitStyle(stripeUnitNumber, stripeNumber)"
          class="tc_stripUnit"
          ng-bind-html="$ctrl.getStripUnitText(stripeUnitNumber)">
      </td>
      <td ng-if="$ctrl.stripeCount > 5"
          class="rbd-striping-column-separator"></td>
      <td ng-if="$ctrl.stripeCount > 5"
          rowspan="{{ $ctrl.numStripesCurrentObjectSet <= 4 ? $ctrl.numStripesCurrentObjectSet : 5 }}">&#8943;</td>
      <td ng-if="$ctrl.stripeCount >= 5"
          class="rbd-striping-column-separator"></td>
      <td ng-if="$ctrl.stripeCount >= 5"
          ng-init="stripeUnitNumber = $ctrl.numStripUnitsObjectSet * $ctrl.objectSetIndex + ($ctrl.stripeCount -1)"
          ng-class="$ctrl.getStripUnitStyle(stripeUnitNumber, stripeNumber)"
          class="tc_stripUnit"
          ng-bind-html="$ctrl.getStripUnitText(stripeUnitNumber)">
      </td>
      <td class="text-muted italic">
        <span class="badge tc_stripe">
          <small>Stripe</small> {{ stripeNumber }}</span>
      </td>
    </tr>
    <tr ng-if="$ctrl.numStripesCurrentObjectSet >= 2"
        ng-init="stripeNumber =  $ctrl.numStripesObjectSet *  $ctrl.objectSetIndex + 1">
      <td ng-init="stripeUnitNumber = $ctrl.numStripUnitsObjectSet * $ctrl.objectSetIndex + ($ctrl.stripeCount)"
          ng-class="$ctrl.getStripUnitStyle(stripeUnitNumber, stripeNumber)"
          class="tc_stripUnit"
          ng-bind-html="$ctrl.getStripUnitText(stripeUnitNumber)">
      </td>
      <td ng-if="$ctrl.stripeCount >= 2"
          class="rbd-striping-column-separator"></td>
      <td ng-if="$ctrl.stripeCount >= 2"
          ng-init="stripeUnitNumber = $ctrl.numStripUnitsObjectSet * $ctrl.objectSetIndex + ($ctrl.stripeCount + 1)"
          ng-class="$ctrl.getStripUnitStyle(stripeUnitNumber, stripeNumber)"
          class="tc_stripUnit"
          ng-bind-html="$ctrl.getStripUnitText(stripeUnitNumber)">
      </td>
      <td ng-if="$ctrl.stripeCount >= 3"
          class="rbd-striping-column-separator"></td>
      <td ng-if="$ctrl.stripeCount >= 3"
          ng-init="stripeUnitNumber = $ctrl.numStripUnitsObjectSet * $ctrl.objectSetIndex + ($ctrl.stripeCount + 2)"
          ng-class="$ctrl.getStripUnitStyle(stripeUnitNumber, stripeNumber)"
          class="tc_stripUnit"
          ng-bind-html="$ctrl.getStripUnitText(stripeUnitNumber)">
      </td>
      <td ng-if="$ctrl.stripeCount >= 4"
          class="rbd-striping-column-separator"></td>
      <td ng-if="$ctrl.stripeCount >= 4"
          ng-init="stripeUnitNumber = $ctrl.numStripUnitsObjectSet * $ctrl.objectSetIndex + ($ctrl.stripeCount + 3)"
          ng-class="$ctrl.getStripUnitStyle(stripeUnitNumber, stripeNumber)"
          class="tc_stripUnit"
          ng-bind-html="$ctrl.getStripUnitText(stripeUnitNumber)">
      </td>
      <td ng-if="$ctrl.stripeCount > 5"
          class="rbd-striping-column-separator"></td>
      <td ng-if="$ctrl.stripeCount >= 5"
          class="rbd-striping-column-separator"></td>
      <td ng-if="$ctrl.stripeCount >= 5"
          ng-init="stripeUnitNumber = $ctrl.numStripUnitsObjectSet * $ctrl.objectSetIndex + ($ctrl.stripeCount + $ctrl.stripeCount - 1)"
    
          ng-class="$ctrl.getStripUnitStyle(stripeUnitNumber, stripeNumber)"
          class="tc_stripUnit"
          ng-bind-html="$ctrl.getStripUnitText(stripeUnitNumber)">
      </td>
      <td class="text-muted italic">
        <span class="badge tc_stripe">
          <small>Stripe</small> {{ stripeNumber }}</span>
      </td>
    </tr>
    <tr ng-if="$ctrl.numStripesCurrentObjectSet > 4">
      <td class="active rbd-striping-cell-center">&#8942;</td>
      <td ng-if="$ctrl.stripeCount >= 2"
          class="rbd-striping-column-separator "></td>
      <td ng-if="$ctrl.stripeCount >= 2"
          class="active rbd-striping-cell-center">&#8942;</td>
      <td ng-if="$ctrl.stripeCount >= 3"
          class="rbd-striping-column-separator"></td>
      <td ng-if="$ctrl.stripeCount >= 3"
          class="active rbd-striping-cell-center">&#8942;</td>
      <td ng-if="$ctrl.stripeCount >= 4"
          class="rbd-striping-column-separator"></td>
      <td ng-if="$ctrl.stripeCount >= 4"
          class="active rbd-striping-cell-center">&#8942;</td>
      <td ng-if="$ctrl.stripeCount > 5"
          class="rbd-striping-column-separator"></td>
      <td ng-if="$ctrl.stripeCount >= 5"
          class="rbd-striping-column-separator"></td>
      <td ng-if="$ctrl.stripeCount >= 5"
          class="active rbd-striping-cell-center">&#8942;</td>
      <td></td>
    </tr>
    <tr ng-if="$ctrl.numStripesCurrentObjectSet >= 4"
        ng-init="stripeNumber = $ctrl.numStripesObjectSet * $ctrl.objectSetIndex + $ctrl.numStripesCurrentObjectSet - 2">
      <td ng-init="stripeUnitNumber = $ctrl.numStripUnitsObjectSet * $ctrl.objectSetIndex + ($ctrl.stripeCount * ($ctrl.numStripesCurrentObjectSet - 2))"
    
          ng-class="$ctrl.getStripUnitStyle(stripeUnitNumber, stripeNumber)"
          class="tc_stripUnit"
          ng-bind-html="$ctrl.getStripUnitText(stripeUnitNumber)">
      </td>
      <td ng-if="$ctrl.stripeCount >= 2"
          class="rbd-striping-column-separator"></td>
      <td ng-if="$ctrl.stripeCount >= 2"
          ng-init="stripeUnitNumber = $ctrl.numStripUnitsObjectSet * $ctrl.objectSetIndex + ($ctrl.stripeCount * ($ctrl.numStripesCurrentObjectSet - 2) + 1)"
    
          ng-class="$ctrl.getStripUnitStyle(stripeUnitNumber, stripeNumber)"
          class="tc_stripUnit"
          ng-bind-html="$ctrl.getStripUnitText(stripeUnitNumber)">
      </td>
      <td ng-if="$ctrl.stripeCount >= 3"
          class="rbd-striping-column-separator"></td>
      <td ng-if="$ctrl.stripeCount >= 3"
          ng-init="stripeUnitNumber = $ctrl.numStripUnitsObjectSet * $ctrl.objectSetIndex + ($ctrl.stripeCount * ($ctrl.numStripesCurrentObjectSet - 2) + 2)"
    
          ng-class="$ctrl.getStripUnitStyle(stripeUnitNumber, stripeNumber)"
          class="tc_stripUnit"
          ng-bind-html="$ctrl.getStripUnitText(stripeUnitNumber)">
      </td>
      <td ng-if="$ctrl.stripeCount >= 4"
          class="rbd-striping-column-separator"></td>
      <td ng-if="$ctrl.stripeCount >= 4"
          ng-init="stripeUnitNumber = $ctrl.numStripUnitsObjectSet * $ctrl.objectSetIndex + ($ctrl.stripeCount * ($ctrl.numStripesCurrentObjectSet - 2) + 3)"
    
          ng-class="$ctrl.getStripUnitStyle(stripeUnitNumber, stripeNumber)"
          class="tc_stripUnit"
          ng-bind-html="$ctrl.getStripUnitText(stripeUnitNumber)">
      </td>
      <td ng-if="$ctrl.stripeCount > 5"
          class="rbd-striping-column-separator"></td>
      <td ng-if="$ctrl.stripeCount >= 5"
          class="rbd-striping-column-separator"></td>
      <td ng-if="$ctrl.stripeCount >= 5"
          ng-init="stripeUnitNumber = $ctrl.numStripUnitsObjectSet * $ctrl.objectSetIndex + ($ctrl.stripeCount * ($ctrl.numStripesCurrentObjectSet - 2) + $ctrl.stripeCount - 1)"
    
          ng-class="$ctrl.getStripUnitStyle(stripeUnitNumber, stripeNumber)"
          class="tc_stripUnit"
          ng-bind-html="$ctrl.getStripUnitText(stripeUnitNumber)">
      </td>
      <td class="text-muted italic">
        <span class="badge tc_stripe">
          <small>Stripe</small> {{ stripeNumber }}</span>
      </td>
    </tr>
    <tr ng-if="$ctrl.numStripesCurrentObjectSet >= 3"
        ng-init="stripeNumber = $ctrl.numStripesObjectSet * $ctrl.objectSetIndex + $ctrl.numStripesCurrentObjectSet - 1">
      <td ng-init="stripeUnitNumber = $ctrl.numStripUnitsObjectSet * $ctrl.objectSetIndex + ($ctrl.stripeCount * ($ctrl.numStripesCurrentObjectSet - 1))"
    
          ng-class="$ctrl.getStripUnitStyle(stripeUnitNumber, stripeNumber)"
          class="tc_stripUnit"
          ng-bind-html="$ctrl.getStripUnitText(stripeUnitNumber)">
      </td>
      <td ng-if="$ctrl.stripeCount >= 2"
          class="rbd-striping-column-separator"></td>
      <td ng-if="$ctrl.stripeCount >= 2"
          ng-init="stripeUnitNumber = $ctrl.numStripUnitsObjectSet * $ctrl.objectSetIndex + ($ctrl.stripeCount * ($ctrl.numStripesCurrentObjectSet - 1) + 1)"
    
          ng-class="$ctrl.getStripUnitStyle(stripeUnitNumber, stripeNumber)"
          class="tc_stripUnit"
          ng-bind-html="$ctrl.getStripUnitText(stripeUnitNumber)">
      </td>
      <td ng-if="$ctrl.stripeCount >= 3"
          class="rbd-striping-column-separator"></td>
      <td ng-if="$ctrl.stripeCount >= 3"
          ng-init="stripeUnitNumber = $ctrl.numStripUnitsObjectSet * $ctrl.objectSetIndex + ($ctrl.stripeCount * ($ctrl.numStripesCurrentObjectSet - 1) + 2)"
    
          ng-class="$ctrl.getStripUnitStyle(stripeUnitNumber, stripeNumber)"
          class="tc_stripUnit"
          ng-bind-html="$ctrl.getStripUnitText(stripeUnitNumber)">
      </td>
      <td ng-if="$ctrl.stripeCount >= 4"
          class="rbd-striping-column-separator"></td>
      <td ng-if="$ctrl.stripeCount >= 4"
          ng-init="stripeUnitNumber = $ctrl.numStripUnitsObjectSet * $ctrl.objectSetIndex + ($ctrl.stripeCount * ($ctrl.numStripesCurrentObjectSet - 1) + 3)"
    
          ng-class="$ctrl.getStripUnitStyle(stripeUnitNumber, stripeNumber)"
          class="tc_stripUnit"
          ng-bind-html="$ctrl.getStripUnitText(stripeUnitNumber)">
      </td>
      <td ng-if="$ctrl.stripeCount > 5"
          class="rbd-striping-column-separator"></td>
      <td ng-if="$ctrl.stripeCount >= 5"
          class="rbd-striping-column-separator"></td>
      <td ng-if="$ctrl.stripeCount >= 5"
          ng-init="stripeUnitNumber = $ctrl.numStripUnitsObjectSet * $ctrl.objectSetIndex + ($ctrl.stripeCount * ($ctrl.numStripesCurrentObjectSet - 1) + $ctrl.stripeCount - 1)"
    
          ng-class="$ctrl.getStripUnitStyle(stripeUnitNumber, stripeNumber)"
          class="tc_stripUnit"
          ng-bind-html="$ctrl.getStripUnitText(stripeUnitNumber)">
      </td>
      <td class="text-muted italic">
        <span class="badge tc_stripe">
          <small>Stripe</small> {{ stripeNumber }}</span>
      </td>
    </tr>
  </tbody>
</table>
