<oa-delete-confirmation-modal pattern="$ctrl.buckets[0].bucket"
                              on-confirm="$ctrl.deleteBucket()"
                              on-cancel="$ctrl.cancel()"
                              title="{{ ($ctrl.buckets.length > 1) ? 'Delete buckets' : 'Delete bucket' }}">
  <!-- single bucket -->
  <div ng-if="$ctrl.buckets.length === 1">
    <p>
      <translate translate-params-bucket="$ctrl.buckets[0].bucket">
        You are about to delete the bucket <strong>{{ bucket }}</strong>.
      </translate>
    </p>
  </div>
  <!-- end single bucket -->

  <!-- multiple buckets -->
  <div ng-if="$ctrl.buckets.length > 1">
    <p translate>
      You are about to delete multiple buckets.
    </p>
    <span translate
          class="text-danger">The following buckets will be deleted:</span>
      <ul class="text-danger">
        <li ng-repeat="bucket in $ctrl.buckets | orderBy:'+bucket'">
          {{bucket.bucket}}
        </li>
      </ul>
  </div>
  <!-- end multiple buckets -->
</oa-delete-confirmation-modal>
