<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
<span ng-class="{
    'bg-primary': data.isRootNode,
    'bg-info':    data.isBelowRootNode && !data.isSelectorNode,
    'bg-success': data.isSelectorNode
}" >{{ data.name }}</span>
<em> &mdash; {{ data.type }}</em>
<em ng-show="data.nextStep && data.nextStep.op != 'emit'">We're looking for {{ getRealNum(data.nextStep) }} {{data.nextStep.type}}s </em>
<ul>
    <li ng-repeat="data in data.children"
        ng-include="'extensions/crushmap_editor/templates/crushMapNode.html'"
        ></li>
</ul>
