<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
<span ng-class="{
    'bg-primary': data.isRootNode,
    'bg-info':    data.isBelowRootNode && !data.isSelectorNode,
    'bg-success': data.isSelectorNode
}" ui-tree-handle>{{ data.name }}</span>
<em> &mdash; {{ data.type_name }}</em>
<ul ui-tree-nodes="" ng-model="data.items">
    <li ui-tree-node
        ng-repeat="data in data.items"
        ng-include="'extensions/crushmap_editor/templates/crushMapNode.html'"
        ></li>
</ul>
