<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
<div class="container-fluid">
    <div class="row" ng-show="!clusters.$resolved">
        Loading...
    </div>
    <div class="row" ng-show="clusters.$resolved && clusters.length === 0">
        No Ceph clusters available.
    </div>
    <div class="row" ng-show="clusters.$resolved && clusters.length > 0">
        <article class="col-sm-12 col-md-12 col-lg-6">
            <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>CRUSH Map for Cluster &ldquo;{{cluster.name}}&rdquo;</h2>
                </header>
                <div class="tree">
                    <ul>
                        <li><span ng-bind="cluster.name"></span></li>
                        <ul>
                            <li ng-repeat="data in cluster.crush_map" ng-include="'extensions/crushmap_editor/templates/crushMapNode.html'"></li>
                        </ul>
                    </ul>
                </div>
            </div>
        </article>
        <article class="col-sm-12 col-md-12 col-lg-6">
            <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Ruleset editor &ldquo;{{cluster.name}}&rdquo;</h2>
                </header>
                <div>
                    <form name="hostForm" role="form" class="form-horizontal" novalidate>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="ruleset">Ruleset</label>
                                <div class="col-md-10">
                                    <select
                                        ng-options="ruleset as ruleset.name for ruleset in cluster.rulesets track by ruleset.id"
                                        ng-model="activeRuleset" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="replicas">Replicas</label>
                                <div class="col-md-10">
                                    <input type="number" ng-model="repsize" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="steps">Steps</label>
                                <div class="col-md-10">
                                    <ul>
                                        <li ng-repeat="step in activeRuleset.steps">
                                            {{ step.op }} {{ step.type }} {{ step.item_name }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </article>
    </div>
</div>
