<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
<div>
    <div class="row">
        <big-breadcrumbs items="['System', 'Hosts']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>

    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>CRUSH Map for {{pool.name}}</h2>
                </header>
                <div>
                    <ul>
                        <li>root</li>
                        <ul>
                            <li>sas</li>
                            <li>sata</li>
                        </ul>
                    </ul>
                </div>
            </div>
        </article>
    </div>
</div>
