<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
<div class="container-fluid">
    <div class="row" ng-show="!clusters.$resolved">
        Loading...
    </div>
    <div class="row" ng-show="clusters.$resolved && clusters.length === 0">
        No Ceph clusters available.
    </div>
    <div class="row" ng-show="clusters.$resolved && clusters.length > 0">
        <article class="col-sm-12 col-md-12 col-lg-6">
            <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                <header>
                    <div class="widget-toolbar" role="menu">
                        <a class="dropdown-toggle" ng-click="query()"><i class="fa fa-refresh"></i> Refresh </a>
                    </div>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>CRUSH Map for Cluster &ldquo;{{cluster.name}}&rdquo;</h2>
                </header>
                <div class="tree">
                    <ul>
                        <li><span ng-bind="cluster.name"></span></li>
                        <ul>
                            <li ng-repeat="data in cluster.crush_map" ng-include="'extensions/crushmap_editor/templates/crushMapNode.html'"></li>
                        </ul>
                    </ul>
                </div>
            </div>
        </article>
        <article class="col-sm-12 col-md-12 col-lg-6">
            <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Ruleset editor</h2>
                </header>
                <div>
                    <form name="hostForm" role="form" class="form-horizontal" novalidate>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="ruleset">Contents</label>
                                <div class="col-md-10">
                                    <select class="form-control"
                                        ng-options="ruleset as ruleset.name for ruleset in cluster.rulesets track by ruleset.id"
                                        ng-model="activeRuleset">
                                        <option value="">Select a ruleset...</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset ng-show="activeRuleset">
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="replicas">Replicas</label>
                                <div class="col-md-10">
                                    <span>
                                        <p>Choose the minimum and maximum number of replicas allowed for this content.</p>
                                    </span>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="number" class="form-control" ng-model="activeRuleset.min_size" />
                                        </div>
                                        <div class="col-md-6">
                                            <input type="number" class="form-control" ng-model="activeRuleset.max_size" />
                                        </div>
                                    </div>
                                    <span ng-show="activeRuleset.min_size === 1">
                                        <p class="text-danger">1 replica means <em>no copies</em>. If you lose the original, your data is lost.</p>
                                    </span>
                                    <span ng-show="activeRuleset.min_size > 1">
                                        <p ng-class="{ 'text-warning': activeRuleset.min_size == 2, 'text-muted': activeRuleset.min_size > 2 }">
                                            {{ activeRuleset.min_size }} replicas means "the original file + {{ activeRuleset.min_size - 1 }}
                                            <ng-pluralize count="activeRuleset.min_size - 1" when="{1: 'copy', 'other': 'copies'}"></ng-pluralize>".
                                        </p>
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset ng-show="activeRuleset">
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="steps">Rules</label>
                                <div class="col-md-10">
                                    <ol>
                                        <li ng-repeat="stepset in stepsets">
                                            Spread {{ stepset.replicas }}
                                            <ng-pluralize count="stepset.replicas" when="{1: 'replica', 'other': 'replicas'}"></ng-pluralize>
                                            across {{ stepset.acrosstype }}s
                                            <span ng-show="stepset.groupbytype">in the same {{ stepset.groupbytype }}</span>
                                            underneath {{ stepset.take }}.
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </article>
    </div>
</div>
