{% extends "drbd/drbdbase.html" %}
{# kate: space-indent on; indent-width 2; replace-tabs on; #}
{% block Title %} :: DRBD Devices{% endblock %}
{% block Body %}
    <div id="iscsi" style="border: 0px solid black height; position: relative;">
      <div class="boxheader">
        <img src="{{ MEDIA_URL }}/boxicons/oben_links1.png" style="position: absolute; left: 0px; top: 0px"/>
      <a style="margin-left:20px;font-size:12px;" href="{% url drbd_device_add %}"> <img src="{{ MEDIA_URL }}/icons/add.png" alt="add" /> Objekt hinzufügen </a>
        <img src="{{ MEDIA_URL }}/boxicons/oben_rechts.png" style="position: absolute; right: 0px; top: 0px"/>
      </div>
<table border="1">
    <colgroup width="200pt";></colgroup>
    {% for dev in object_list %}
      <tr>
        <td><a href="{% url drbd_device_edit dev.id %}">{{ dev.volume.name }}</a></td>
        <td>{{ dev.selfaddress }} → {{ dev.peeraddress }}</td>
        <td><a href="{% url api_drbd_device_handler dev.id %}">API</a></td>
      </tr>
    {% empty %}
      No devices
    {% endfor %}
  </table>
      <div class="boxfooter">
        <img src="{{ MEDIA_URL }}/boxicons/unten_links1.png" style="position:absolute ; left: 0px"/>
        <img src="{{ MEDIA_URL }}/boxicons/unten_rechts1.png" style="position:absolute ; right: 0px"/>
      </div>
    </div>
{% endblock %}
