'use strict';
(function(){
  module.exports = {
    url     : '<url_of_your_machine>/openattic/#/login', // Set where to go to log in.
    username: '<log_in_name>', // Name of the user protractor uses.
    password: '<user_password>', // Password for the $log_in_name user.
    sleep   : 2000, // Default browser test sleep time.
    outDir: '<existing_path>', // Path in which the test report will be stored. If preserveDirectory is false, this folder will be cleaned on each test.
    preserveDirectory: <boolean>, // Indicates if each report should be created in a separate directory with unique name.
    allScriptsTimeout: <ms>, // Timeout value for each test in miliseconds.

    cephCluster: { // Contains all ceph cluster definitions
      cluster1: { // Defines a cluster
        name: '<cluster_name>', // The name of the ceph cluster.
        pools: { // Contains all pool definitions for this cluster
          cephPool1: { // Defines a pool
            name        : '<ceph_pool_name>',
            size        : '<size>',
            unit        : 'GB',
            writable    : '<isWritable>' // If $isWritable is false nothing will be created on the pool.
          },
          cephPool2: { // Defines a pool
            name        : '<ceph_pool_name>',
            size        : '<size>',
            unit        : 'GB',
            writable    : '<isWritable>' // If $isWritable is false nothing will be created on the pool.
          }
        }
      },
      cluster2: { // Defines a cluster
        name: '<cluster_name>', // The name of the ceph cluster.
        pools: { // Contains all pool definitions for this cluster
          cephPool1: { // Defines a pool
            name        : '<ceph_pool_name>',
            size        : '<size>',
            unit        : 'GB',
            writable    : '<isWritable>' // If $isWritable is false nothing will be created on the pool.
          },
          cephPool2: { // Defines a pool
            name        : '<ceph_pool_name>',
            size        : '<size>',
            unit        : 'GB',
            writable    : '<isWritable>' // If $isWritable is false nothing will be created on the pool.
          },
          cephPool3: { // Defines a pool
            name        : '<ceph_pool_name>',
            size        : '<size>',
            unit        : 'GB',
            writable    : '<isWritable>' // If $isWritable is false nothing will be created on the pool.
          }
        }
      }
    }
  };
}());
