<div ng-if="$ctrl.loading">
  <oa-loading-panel message="Ceph clusters are loading..."></oa-loading-panel>
</div>
<!-- The cluster selection box -->
<div class="panel panel-default"
     ng-if="!$ctrl.loading && $ctrl.cluster.results.length > 1">
  <div class="panel-heading">
    <h3 class="panel-title">Select a Cluster</h3>
  </div>
  <div class="panel-body">
    <div class="form-group no-margin">
      <select class="form-control"
              id="cluster-selection"
              ng-model="$ctrl.registry.selectedCluster"
              ng-change="$ctrl.onClusterChange()"
              ng-options="(c.name + ' (' + c.fsid + ')') for c in $ctrl.cluster.results track by c.fsid">
      </select>
    </div>
  </div>
</div>
<span ng-transclude
      ng-if="!$ctrl.loading">
</span>
