Source: openattic
Section: python
Priority: optional
Maintainer: Michael Ziegler <diese-addy@funzt-halt.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://www.open-attic.org
#Vcs-Git: git://git.debian.org/collab-maint/openattic.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/openattic.git;a=summary

Package: openattic
Architecture: all
Depends: ${misc:Depends}, openattic-base,
 openattic-module-lvm,
 openattic-module-nfs,
 openattic-module-http,
 libapache2-mod-wsgi,
 apache2,
 openattic-mysql
Suggests: python-django-rosetta
Description: Comprehensive storage management system
 Meta Package that installs the most common set of openATTIC modules along
 with the basic requirements.

Package: openattic-full-mysql
Architecture: all
Depends: ${misc:Depends}, openattic-base,
 openattic-module-lvm,
 openattic-module-nfs,
 openattic-module-http,
 openattic-module-iet-iscsi,
 openattic-module-samba,
 openattic-module-munin,
 openattic-module-drbd,
 openattic-module-ftp-mysql,
 libapache2-mod-wsgi, apache2,
 openattic-mysql
Suggests: python-django-rosetta
Description: Comprehensive storage management system
 Meta Package that installs all openATTIC modules on a MySQL database.

Package: openattic-full-pgsql
Architecture: all
Depends: ${misc:Depends}, openattic-base,
 openattic-module-lvm,
 openattic-module-nfs,
 openattic-module-http,
 openattic-module-iet-iscsi,
 openattic-module-samba,
 openattic-module-munin,
 openattic-module-drbd,
 openattic-module-ftp-pgsql,
 libapache2-mod-wsgi, apache2,
 openattic-pgsql
Suggests: python-django-rosetta
Description: Comprehensive storage management system
 Meta Package that installs all openATTIC modules on a PGSQL database.

Package: openattic-sqlite
Architecture: all
Depends: ${misc:Depends}, sqlite3
Conflicts: openattic-mysql, openattic-pgsql
Description: Configures openATTIC with an SQLite3 database
 Configures openATTIC with an SQLite3 database. This setup is recommended
 in cases where you do not plan on using the FTP module later on, because
 SQLite keeps its database in one single file and does not require an
 extra database server to run.

Package: openattic-mysql
Architecture: all
Depends: ${misc:Depends}, python-mysqldb,
 dbconfig-common, mysql-server
Recommends: mysql-client
Conflicts: openattic-sqlite, openattic-pgsql
Description: Configures openATTIC with a MySQL database
 Configures openATTIC with a MySQL database. This setup is recommended
 if you are more experienced in MySQL (or just like it better) than
 PGSQL and you want to use the FTP module, which requires sharing a
 database with ProFTPd.

Package: openattic-pgsql
Architecture: all
Depends: ${misc:Depends}, python-psycopg2,
 dbconfig-common, postgresql
Recommends: postgresql-client
Conflicts: openattic-sqlite, openattic-mysql
Description: Configures openATTIC with a PGSQL database
 Configures openATTIC with a PGSQL database. This setup is recommended
 if you are more experienced in PGSQL (or just like it better) than
 MySQL and you want to use the FTP module, which requires sharing a
 database with ProFTPd.

Package: openattic-base
Architecture: all
Depends: ${misc:Depends},
 ${python:Depends},
 python-django,
 dbus,
 python-dbus,
 python-pam,
 python-m2crypto,
 python-django-extdirect (>= 0.6),
 python-statgrab,
 ssl-cert,
 libjs-extjs (>= 3.0.0), libjs-extjs (<< 4.0),
 openattic-sqlite | openattic-mysql | openattic-pgsql
Description: Basic requirements for openATTIC
 Installs the most basic set of packages required to run openATTIC, namely
 the web GUI, RPCd and Systemd, along with a basic set of modules.

Package: openattic-module-lvm
Architecture: all
Depends: ${misc:Depends}, openattic-base,
 lvm2, parted, ntfs-3g
Description: LVM module for openATTIC
 Installs the LVM module, which handles partitioning physical disks into
 logical volumes and creating snapshots. This module is required by most
 modules that create shares.

Package: openattic-module-nfs
Architecture: all
Depends: ${misc:Depends}, openattic-module-lvm,
 nfs-kernel-server
Description: NFS module for openATTIC
 Installs the NFS module, which handles sharing volumes for other *nix
 hosts via NFS.

Package: openattic-module-iet-iscsi
Architecture: all
Depends: ${misc:Depends}, openattic-module-lvm,
 iscsitarget, iscsitarget-dkms
Description: IET iSCSI module for openATTIC
 Installs the IET iSCSI module, which uses the iSCSI Enterprise Target
 implementation in order to share volumes in a block-oriented manner.

Package: openattic-module-samba
Architecture: all
Depends: ${misc:Depends}, openattic-module-lvm, samba
Description: Samba module for openATTIC
 Installs the Samba module, which handles sharing volumes for Windows
 hosts using SMB/CIFS.

Package: openattic-module-ftp-mysql
Architecture: all
Depends: ${misc:Depends}, openattic-module-lvm, proftpd,
 openattic-mysql, proftpd-mod-mysql
Conflicts: openattic-module-ftp-pgsql
Description: FTP module for openATTIC
 Installs the FTP module, which provides FTP accounts for volumes using
 ProFTPd.
 .
 This package configures ProFTPd to use a shared MySQL database with
 openATTIC.

Package: openattic-module-ftp-pgsql
Architecture: all
Depends: ${misc:Depends}, openattic-module-lvm, proftpd,
 openattic-mysql, proftpd-mod-pgsql
Conflicts: openattic-module-ftp-mysql
Description: FTP module for openATTIC
 Installs the FTP module, which provides FTP accounts for volumes using
 ProFTPd.
 .
 This package configures ProFTPd to use a shared PostgreSQL database with
 openATTIC.

Package: openattic-module-munin
Architecture: all
Depends: ${misc:Depends}, openattic-base,
 munin-node, munin
Description: Munin module for openATTIC
 Installs the Munin module, which provides statistics and graphs using Munin.

Package: openattic-module-drbd
Architecture: all
Depends: ${misc:Depends}, openattic-module-lvm,
 drbd8-utils
Description: DRBD module for openATTIC
 Installs the DRBD module, which uses Linbit's Distributed Replicated Block
 Device (DRBD) to mirror volumes to another openATTIC host in a block oriented
 fashion.
 .
 This module provides the groundwork for building high availability clusters
 using openATTIC.

Package: openattic-module-http
Architecture: all
Depends: ${misc:Depends}, openattic-module-lvm,
 apache2
Description: HTTP module for openATTIC
 Installs the HTTP module, which allows accessing data in a volume via HTTP.
 This is useful e.g. for software repositories.
