#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

override_dh_auto_install:
	which bower || npm install -g bower
	which grunt || npm install -g grunt-cli
	
	bower install --allow-root
	npm install
	grunt --no-color build
	
	dh_auto_install

%:
	dh $@ 
