<div class="flex-container wizard-selector panel-body ">
    <div ng-repeat="wizard in wizards" class="flex-item-1">
        <button type="button" class="btn btn-default btn-lg btn-block wizard-selector-lower-row"
                ng-click="selectPage(wizard.page)">
            <span ng-show="!wizard.stackedIcon" class="btn-block">
                <i ng-class="wizard.icon"></i>
            </span>
            <span ng-show="wizard.stackedIcon" class="fa-stack fa-2x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i ng-class="wizard.icon"></i>
            </span>
            <span class="btn-block tc_wizardTitle">{{wizard.title}}</span>
        </button>
    </div>
</div>