<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Attributes for {{host.name}}</h3>
    </div>
    <div class="panel-body">
        <form name="hostForm" role="form" class="tag-form" novalidate>
            <fieldset>
                <section>
                    <label>iSCSI IQN</label>
                    <div class="form-group">
                        <tags-input class="tags-input-home" placeholder="Add an IQN"
                                    ng-model="data.iscsiInis"
                                    on-tag-added="iscsiIniAdded($tag)"
                                    on-tag-removed="iniRemoved($tag)">
                        </tags-input>
                    </div>
                </section>
                <section>
                    <label>FC WWN</label>
                    <div class="form-group">
                        <tags-input class="tags-input-home" placeholder="Add a WWN"
                                    ng-model="data.fcInis"
                                    on-tag-added="fcIniAdded($tag)"
                                    on-tag-removed="iniRemoved($tag)">

                        </tags-input>
                    </div>
                </section>
            </fieldset>
        </form>
    </div>
</div>
