<div class="col-sm-12 col-lg-6">
    <form name="hostForm" role="form" class="form-horizontal" novalidate>
        <div class="panel panel-default">
            <div class="panel-heading tc_formHeadline">
                <h3 ng-hide="editing" class="panel-title tc_hostAddTitle">Add Host: {{host.name}}</h3>
                <h3 ng-show="editing" class="panel-title tc_hostEditTitle">Edit Host: {{host.name}}</h3>
            </div>
            <div class="panel-body">
                <fieldset>
                    <div class="form-group" ng-class="{'has-error': (submitted || hostForm.name.$dirty)
                    && hostForm.name.$invalid}">
                        <label class="col-sm-3 control-label" for="hostName">Hostname</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Hostname..."
                                   ng-model="host.name" name="name"
                                   id="hostName" required validname uniquename="host">
                            <span class="help-block tc_hostnameRequired" ng-show="(submitted || hostForm.name.$dirty)
                            && hostForm.name.$error.required">
                                The name is required.
                            </span>
                            <span class="help-block tc_hostNameNotValid" ng-show="hostForm.name.$error.validname">{{errortext}}</span>
                            <span class="help-block tc_noUniqueName" ng-show="hostForm.name.$error.uniquename">
                                The chosen host name is already in use.
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox checkbox-primary">
                                <input type="checkbox" ng-model="iscsi.check">
                                <label ng-click="iscsi.check = !iscsi.check">Use ISCSI for sharing</label>
                            </div>
                        </div>
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox checkbox-primary">
                                <input type="checkbox" ng-model="fc.check">
                                <label ng-click="fc.check = !fc.check">Use Fibre Channel for sharing</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': (submitted || iscsi.name.$dirty)
                    && iscsi.name.$invalid}" ng-show="iscsi.check">
                        <label class="col-sm-3 control-label" for="iscsi">iSCSI IQN</label>
                        <div class="col-sm-9">
                            <tags-input class="tags-input-home" placeholder="Add an IQN"
                                        ng-model="data.iscsiInis"
                                        on-tag-adding="validShareName($tag)"
                                        on-tag-added="addIni($tag, 'iscsi')"
                                        on-tag-removed="rmIni($tag)">
                            </tags-input>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': (submitted || wwn.name.$dirty)
                    && wwn.name.$invalid}" ng-show="fc.check">
                        <label class="col-sm-3 control-label" for="wwn">FC WWN</label>
                        <div class="col-sm-9">
                            <tags-input class="tags-input-home" placeholder="Add a WWN"
                                        ng-model="data.fcInis"
                                        on-tag-adding="validShareName($tag)"
                                        on-tag-added="addIni($tag, 'qla2xxx')"
                                        on-tag-removed="rmIni($tag)">
                            </tags-input>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="panel-footer">
                <div class="button-group text-right">
                    <button type="submit" class="btn btn-sm btn-primary tc_submitButton" ng-click="submitAction(hostForm)">
                        Submit
                    </button>
                    <button type="button" class="btn btn-sm btn-default tc_backButton" ng-click="cancelAction()">
                        Back
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
