<div class="col-sm-12 col-lg-6">
    <form name="hostForm" role="form" class="form-horizontal" novalidate>
        <div class="panel panel-default">
            <div class="panel-heading tc_formHeadline">
                <h3 ng-hide="editing" class="panel-title tc_hostAddTitle">Create Host: {{host.name}}</h3>
                <h3 ng-show="editing" class="panel-title tc_hostEditTitle">Edit Host: {{host.name}}</h3>
            </div>
            <div class="panel-body">
                <fieldset>
                    <div class="form-group" ng-class="{'has-error': (submitted || hostForm.name.$dirty)
                    && hostForm.name.$invalid}">
                        <label class="col-sm-3 control-label" for="hostName">Hostname</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Hostname..."
                                   ng-model="host.name" name="name"
                                   id="hostName" required validname uniquename="host">
                            <span class="help-block tc_hostnameRequired" ng-show="(submitted || hostForm.name.$dirty)
                            && hostForm.name.$error.required">
                                The name is required.
                            </span>
                            <span class="help-block tc_hostNameNotValid" ng-show="hostForm.name.$error.validname">{{errortext}}</span>
                            <span class="help-block tc_noUniqueName" ng-show="hostForm.name.$error.uniquename">
                                The chosen host name is already in use.
                            </span>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="panel-footer">
                <div class="button-group text-right">
                    <button type="submit" class="btn btn-sm btn-primary tc_submitButton" ng-click="submitAction(hostForm)">
                        Submit
                    </button>
                    <button type="button" class="btn btn-sm btn-default tc_backButton" ng-click="cancelAction()">
                        Back
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>