<article class="col-sm-12 col-md-12 col-lg-6">
    <div class="jarviswidget" id="wid-id-0">
        <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
            <h2>Create Host: {{host.name}}</h2>
        </header>
        <div class="widget-body">
            <form name="hostForm" role="form" class="form-horizontal" novalidate>
                <fieldset>
                    <div class="form-group" ng-class="{'has-error': (submitted || hostForm.name.$dirty)
                    && hostForm.name.$invalid}">
                        <label class="col-md-2 control-label" for="host.name">Hostname</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="Hostname..."
                                   ng-model="host.name" name="name"
                                    id="host.name" required validname unique-host-name>
                            <span class="help-block tc_hostnameRequired" ng-show="(submitted || hostForm.name.$dirty)
                            && hostForm.name.$error.required">
                                The name is required.
                            </span>
                            <span class="help-block tc_hostNameNotValid" ng-show="hostForm.name.$error.validname">{{errortext}}</span>
                            <span class="help-block tc_noUniqueName" ng-show="hostForm.name.$error.uniqueHostName">
                                The chosen host name is already in use.
                            </span>
                        </div>
                    </div>
                </fieldset>
                <div class="pull-right" style="padding: 6px 16px">
                    <button type="submit" class="btn btn-primary tc_submitButton" ng-click="submitAction(hostForm)">
                        Submit
                    </button>
                    <button type="button" class="btn btn-default tc_backButton" ng-click="cancelAction()">
                        Back
                    </button>
                </div>
            </form>
        </div>
    </div>
</article>
