<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Status of {{selection.item.name}}</h3>
    </div>
    <div class="panel-body">
        <h2>Basic information</h2>
        <dl class="dl-horizontal">
            <dt>Name:</dt>
            <dd ng-bind="selection.item.name"></dd>
        </dl>
        <dl class="dl-horizontal" ng-if="selection.item.netdevice_set.length">
            <dt>Netdevices:</dt>
            <dd ng-repeat="netDev in selection.item.netdevice_set" ng-bind="netDev.title"></dd>
        </dl>
        <dl class="dl-horizontal" ng-if="selection.item.fcWwn.length">
            <dt>FC WWNs:</dt>
            <dd ng-repeat="fcWwn in selection.item.fcWwn" ng-bind="fcWwn.text"></dd>
        </dl>
        <dl class="dl-horizontal" ng-if="selection.item.iscsiIqn.length">
            <dt>iSCSI IQNs:</dt>
            <dd ng-repeat="iscsiIqn in selection.item.iscsiIqn" ng-bind="iscsiIqn.text"></dd>
        </dl>
        <div ng-if="selection.item.primary_ip_address">
            <h2>Information about the primary address</h2>
            <dl class="dl-horizontal">
                <dt>Address:</dt>
                <dd ng-bind="selection.item.primary_ip_address.address"></dd>
                <dt>Device:</dt>
                <dd ng-bind="selection.item.primary_ip_address.device.title"></dd>
                <div ng-if="selection.item.primary_ip_address.device.domain">
                <dt>Domain:</dt>
                <dd ng-bind="selection.item.primary_ip_address.device.domain"></dd>
                </div>
                <div ng-if="selection.item.primary_ip_address.device.gateway">
                <dt>Gateway:</dt>
                <dd ng-bind="selection.item.primary_ip_address.device.gateway"></dd>
                </div>
                <div ng-if="selection.item.primary_ip_address.device.nameservers">
                <dt>Nameservers:</dt>
                <dd ng-bind="selection.item.primary_ip_address.device.nameservers"></dd>
                </div>
            </dl>
        </div>
    </div>
</div>
