<span class="MsgTitle">Delete log entry by date</span>
<p class="pText">Select a date. Are entries that are older than this date will be deleted.</p>
<p class="input-group col-md-4">
    <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="datetime"
           is-open="datePicker.opened" show-button-bar="false" />
    <span class="input-group-btn">
        <button class="btn btn-default" ng-click="open($event)">
            <span class="glyphicon glyphicon-calendar"></span>
        </button>
    </span>
    <div class="MessageBoxButtonSection">
        <button id="bot1-Msg1" class="btn btn-default btn-sm botTempo" ng-click="no()"> No</button>
        <button id="bot2-Msg1" class="btn btn-default btn-sm botTempo" ng-click="yes()"> Yes</button>
    </div>
</p>
