@charset "UTF-8";

/*** Default-Accordion ***/
#accordionDefault {
	border: solid 1px black;
	border-top: 0px;
	overflow: hidden;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#accordionDefault .content {
	height: 400px;
	overflow: auto; 
	margin: 0px;
	padding: 0px;
	padding-right:10px;
	padding-left: 10px;
	background-repeat: repeat-x;
	background-color:#f0f0f0;
}

#accordionDefault .tab {
	height: 24px;
	background-image:url(images/style/report_head.gif); 
	background-repeat: repeat-x;
	background-color: #CCCCCC;
	border-top: solid 1px black;
	border-bottom: solid 1px gray;
	margin: 0;
	padding-top: 4px;
	padding-left: 20px;
	cursor: pointer;
	-moz-user-select: none;
	 /* -khtml-user-select: none; */
	font-weight: bold;
	color: #000000;
	line-height: 20px;
}

#accordionDefault .hover {
	background-image: none;
	background-color: #33CCFF;
}

/*** Host-Accordion ***/
#accordionHost {
	overflow: hidden;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#accordionHost .content {
	height: 250px;
	overflow: auto;
	margin: 0px;
	padding-right:10px;
	padding-left: 10px;
	background-repeat: repeat-x;
	background-color:#f0f0f0;
}

#accordionHost .tab {
	height: 16px;
	background-image:url(images/style/submenu_normal.gif);
	background-repeat: repeat-x; 
	background-color: #CCCCCC;
	border-top: solid 1px black;
	border-bottom: solid 1px gray;
	margin: 0px;
	padding-top: 2px;
	padding-left: 10px;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	text-align: left;
	font-weight: bold;
	color: #555555;
}

#accordionHost .hover {
	background-image: none;
	background-color: #33CCFF;
}

/*** Service-Accordion ***/
#accordionService {
	overflow: hidden;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#accordionService .content {
	height: 155px;
	overflow: auto;
	margin: 0px;
	padding-right:10px;
	padding-left: 10px;
	background-repeat: repeat-x;
	background-color:#f0f0f0;
}

#accordionService .tab {
	height: 16px;
	background-image:url(images/style/submenu_normal.gif);
	background-repeat: repeat-x;
	background-color: #CCCCCC;
	border-top: solid 1px black;
	border-bottom: solid 1px gray;
	margin: 0px;
	padding-top: 2px;
	padding-left: 10px;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	text-align: left;
	font-weight: bold;
	color: #555555;
}

#accordionService .hover {
	background-image: none;
	background-color: #33CCFF;
}