@charset "utf-8";

html,body {
border:0;
overflow:hidden;
background:#261717 url(images/neueseite/bg.gif) top repeat-x;
color:#333;
font-family:Verdana,Arial,Helvetica,sans-serif;
right:8px;
left:8px;
height:100%;
margin-top:0;
padding:0;
}

a {
outline:0;
color:#000;
}

h2 {
font-size:14px;
line-height:24px;
letter-spacing:.3em;
font-weight:700;
}

h2 img {
display:block;
float:left;
padding-right:7px;
}

table {
table-layout:auto;
border-collapse:collapse;
empty-cells:show;
padding:0;
}

th {
padding-left:5px;
font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
line-height:20px;
text-align:left;
margin:0;
}

td {
padding-left:20px;
font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:400;
line-height:17px;
margin:0;
}

td.noval {
text-align:center;
color:#C66;
font-weight:700;
line-height:25px;
}

table.main th {
background-image:url(images/tables/th_head.png);
}

table.main td {
background-image:url(images/tables/td_border.png); 
background-repeat:no-repeat;
background-position:left;
border-bottom:1px solid #ccc;
}

table.main td.new {
background:none;
border-left:1px solid #DBDBDB;
}

table.main th.left {
background-image:url(images/tables/th_left.png);
line-height:20px;
}

table.main th.right {
background-image:url(images/tables/th_right.png);
background-repeat:no-repeat;
background-position:right top;
line-height:20px;
}

table.main th.right_pic {
background-image:url(images/tables/th_right.png);
background-repeat:no-repeat;
background-position:right top;
line-height:20px;
text-decoration:none;
width: 45px;
}

table.main a {
text-decoration:none;
}

table.main th.new {

}

table.main td.footer {
border-bottom:0 solid #000;
background:url(images/tables/td_footer.png) bottom repeat-x;
line-height:23px;
}

table.main td.footer li {
display:inline;
padding-right:15px;
}

table.main td.footer li .selected {
background-image:url(images/icons/all_select.gif);
background-position:left;
background-repeat:no-repeat;
padding-left:19px;
text-decoration:none;
}

table.main td.footer li .deselcted {
background-image:url(images/icons/all_deselect.gif);
background-position:left;
background-repeat:no-repeat;
padding-left:19px;
text-decoration:none;
}

table.main td.footer li .editit {
background-image:url(images/icons/configuration.gif);
background-position:left;
background-repeat:no-repeat;
padding-left:19px;
text-decoration:none;
}

table.main td.footer li .createpdf {
background-image:url(images/icons/create_pdf.gif);
background-position:left;
background-repeat:no-repeat;
padding-left:19px;
text-decoration:none;
}

table.main td.footer_left {
border-bottom:0 solid #000;
background:url(images/tables/td_footer_left.png) bottom left;
line-height:23px;
}

table.main td.footer_left li .createpdf {
background-image:url(images/icons/create_pdf.gif);
background-position:left;
background-repeat:no-repeat;
padding-left:19px;
text-decoration:none;
}

table.main td.footer_right {
border-bottom:0 solid #000;
background:url(images/tables/td_footer_right.png) bottom right;
line-height:23px;
}

form legend img {
float:left;
display:block;
padding-right:5px;
}

form label {
clear:left;
float:left;
width:199px;
margin-right:.4em;
padding-top:.1em;
text-align:right;
color:#333;
font-size:11px;
font-weight:700;
}

form h3 {
font-size:11px;
font-weight:700;
text-align:center;
margin:0;
padding:10px;
}

button {
margin-top:5px;
margin-right:20px;
cursor:pointer;
}

input {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-style:normal;
font-weight:700;
color:#333;
background-color:#fff;
margin:0;
}

textarea {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-style:normal;
font-weight:bolder;
color:#333;
background-color:#fff;
margin:1px;
}

select {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-style:normal;
font-weight:bolder;
color:#333;
margin:1px;
}

iframe {
border:0px;
width:100%;
height:100%;
margin:60px 0px 0px 0px;
padding:0px;
overflow:auto;
}

div.iframe_modifier {
position: fixed;
top: 165px;
left: 195px;
}

dd {
padding: 2px;  
}

#head {
width:100%;
background:url(images/neueseite/head_bg.gif);
height:116px;
z-index:9;
}

#head_logo {
float:left;
margin-left:180px;
width:300px;
height:75px;
}

#head_tools {
float:right;
color:#eaeaea;
height:30px;
background-image:url(images/style/background_headtools.png);
background-position:left top;
padding-left:15px;
}

.head_clock {
background-image:url(images/style/button_clock.png);
float:left;
color:#fff;
letter-spacing:.1em;
height:18px;
font-size:12px;
font-weight:700;
font-family:"Courier New", Courier, monospace;
padding-top:2px;
padding-left:24px;
padding-right:3px;
margin-right:10px;
margin-top:4px;
}

#head_tools a img {
margin-top:4px;
margin-right:10px;
}

/*--- Definiert den Bereich für die Hauptnavigation */
#topmenu {
position:absolute;
right:8px;
left:8px;
height:50px;
top:90px;
z-index:99;
background-image:url(images/neueseite/main_menu_bg.gif);
}
/*--- Definiert das Suchfeld in der Hauptnavigation */
#topsearch {
position:absolute;
background-image:url(images/neueseite/menu_a_link_first.gif);
background-position:bottom right;
background-repeat:no-repeat;
width:225px;
height:50px;
z-index:99;
margin-top:-1px;
}

#topsearch img {
margin-top:10px;
vertical-align:middle;
margin-left:-4px;
background:transparent;
}

#topsearch .textfield {
background:transparent url(images/neueseite/input_bg.gif) no-repeat scroll 0 0;
border:medium none;
color:#393939;
float:left;
font-size:10px;
margin-top:10px;
margin-left:5px;
padding:5px;
width:120px;
}

#topsearch .image {
margin-top:10px;
vertical-align:middle;
}

/*--- Definiert die Links der Hauptnavigation */
#topnav {
position:absolute;
width:100%;
margin-left:200px;
}

#topnav ul {
background-position:right -47px;
color:#FFFFFF;
margin: 0;
padding: 0;
}

#topnav li a {
  position:relative;
  z-index:2;
  font-weight: 700;
  text-decoration: none;
  border: 0 none;
  float: left; /*For IE*/
  display: block;
  height: 50px; 
  line-height:50px;
  color:#c0c0c0;
  text-align:center;
  text-transform:uppercase;
  margin:0px -25px 0px 0px;
  padding: 0 30px 0 40px;
  background: url(images/menu_aa_link.gif) right 2px no-repeat transparent;
}


#topnav ul li a:hover {
z-index:3;
background-position: right -47px;
color:#fff;
}

#topnav ul li a.active {
color:#fff;
z-index:1;
background-position: right -96px;
}

#topnav img {
vertical-align: middle;  
}

/*--- Definiert den Bereich der Unternavigation (linke Seite) */
#submenu {
position:absolute;
width:180px;
bottom:0;
background-image:url(images/neueseite/logoneu1.png);
background-position:top;
background-repeat:no-repeat;
border-right:0 solid #333;
z-index:1;
top:0;
}

/*--- Definiert den Bereich der Baum-Navigation (bei Monitoring) */ #subnav_tools { width:100%; background-color:#333; background-image:url(images/style/background_subnav_tools.gif);
border-bottom:1px solid #000;
height:25px;
padding-left:0;
}

#subnav_tools img {
padding-right:1px;
padding-left:2px;
border-right:1px dotted #333;
}
/*--- Definiert die Links der Navigation links  (Accordion)*/ #subnav { border-right:1px solid #000; position:absolute; background-image:url(images/neueseite/footer_bg_left.gif);
background-position: bottom left;
background-repeat: no-repeat;
top:139px;
bottom:0;
left:0;
width:180px;
overflow:auto;
overflow-x:hidden;
}

#subnav ul {
list-style-type:none;
display:block;
background-color:#999;
border-top:1px solid #CCC;
margin:0;
padding:0;
}

#subnav li {
width:100%;
letter-spacing:.03em;
line-height:17px;
display:block;
font-weight:700;
text-decoration:none;
color:#EAEAEA;
}

#subnav li b {
width:100%;
letter-spacing:.03em;
line-height:17px;
display:block;
font-weight:700;
padding-left:12px;
text-decoration:none;
color:#EAEAEA;
border-top:4px solid #999;
background-color:#C00;
background-image:url(images/style/background_topnav.gif);
}

#subnav li a {
width:169px;
letter-spacing:.03em;
line-height:10px;
display:block;
font-weight:700;
text-decoration:none;
color:#222;
background-image:url(images/style/submenu_normal.gif);
border-bottom:1px solid #333;
border-right:1px solid #F90;
padding:1px 1px 1px 10px;
}

#subnav li strong {
width:169px;
letter-spacing:.03em;
line-height:17px;
display:block;
font-weight:700;
text-decoration:none;
color:#c0c0c0;
background-image:url(images/neueseite/sub_li_bg.gif);
background-repeat: repeat-x;
background-color: #161616;
cursor:pointer;
padding:1px 1px 1px 10px;
}

#subnav li strong:hover {
background-color:#1f1f1f;
color:#fff;
}

#subnav li a:hover {
background-color:#DBDBDB;
background-image:url(images/style/submenu_over.gif);
border-bottom:1px solid #333;
color:#222;
}

#subnav li a.active {
background-color:#DBDBDB;
background-image:url(images/style/submenu_over.gif);
border-bottom:1px solid #333;
color:#222;
}

/*--- Definiert den Bereich für den Content-Bereich  */
#main {
position:absolute;
left:188px;
right:8px;
background-image:url(images/neueseite/footer_bg_right.gif);
background-position: bottom right;
background-repeat: no-repeat;
background-color:#fff;
top:140px;
bottom:0;
overflow:auto;
}
/*--- Definiert den Bereich für den eigentlichen Inhalt */
#content {
position:relative;
padding-right:10px;
padding-left:10px;
left:0;
top:0;
right:0;
bottom:0;
height:100%;
overflow:visible;
}


/*--- Definiert den Bereich für das Cockpit und Monitoring Dashboard */
#cockpit_widgets {
padding-top:20px;
width:640px;
}

/*--- generelle Angaben für die Widgets */
.widget_template {
float: left;
width:300px;
margin:0px 10px 20px 10px;
}

/*--- Kopf der Widgets */
.widget_head {
height:18px;
background-image:url(images/widgets/widget_head.gif);
padding-left:10px;
padding-top:3px;
font-weight:700;
}

.widget_head a {
margin-right:5px;
}

.widget_head span.left {
float: left;
}

.widget_head span.right {
float: right;
margin-right: 7px;
}

/*--- Inhalt Widgets */
.widget_main {
min-height:150px;
background-color:#eaeaea;
background-image:url(images/widgets/widget_main.gif);
padding-left:10px;
padding-top:2px;
height:150px;
overflow:auto;
margin-right:1px;
width:400px;
}

.widget_main ul {
display:block;
margin-left:-10px;
margin-right:3px;
}

.widget_main li {
height:19px;
list-style:none;
color:#333;
padding-top:4px;
border-bottom:1px solid #CCC;
}

.widget_main li a {
padding-left:30px;
background-position:left;
background-repeat:no-repeat;
text-decoration:none;
}

.widget_main li.outage a {
color:#C00;
background-image:url(images/widgets/widget_warning.gif);
}

.widget_main li.downtime a {
background-image:url(images/widgets/widget_downtime.gif);
}

/*--- Tacho-Grafiken der Widgets */
.widget_tacho {
height:150px;
background-color:#eaeaea;
background-image:url(images/widgets/widget_main.gif);
}


/*--- Legende unter den Widgets für Host und Service-Status */
.widget_legend_head {
height:12px;
background-color:#eaeaea;
background-image:url(images/widgets/widget_legend.gif);
text-align:center;
}

.widget_legend_head a {
cursor:s-resize;
}

.widget_legend {
height:75px;
background-color:#eaeaea;
background-image:url(images/widgets/widget_main.gif);
}

.widget_legend ul {
display:block;
margin-top:0;
margin-left:15px;
margin-right:3px;
padding-top:4px;
}

.widget_legend li {
padding-top:0;
list-style:none;
padding-left:5px;
color:#000;
border-left:13px solid #000;
margin-bottom:5px;
}

.widget_legend li a {
list-style:none;
text-decoration:none;
color:#333;
background-image:url(images/icons/listview.gif);
background-position:right;
background-repeat:no-repeat;
padding-right:12px;
}

.widget_legend_detail {
background-color:#eaeaea;
height:150px;
padding:5px;
}

.widget_legend_detail ul {
display:block;
}

.widget_legend_detail li {
list-style:none;
text-decoration:none;
color:#333;
font-size:10px;
}

.widget_legend_detail li a {
color:#333;
}

.widget_legend_detail table {
background-image:none;
border-right:1px solid #ccc;
}
.widget_legend_detail td {
background-image:none;
border-left:1px solid #ccc;
}


.widget_bottom {
height:10px;
background-image:url(images/widgets/widget_bottom.gif);
}

div.styleSheetFix {
  clear: both;
  height: 1px;
  margin: 0px;
  padding: 0px;
  font-size: 1px;
}

/*--- Einblendbare Ebenen für die Detailauswerung Host und Service*/
#hostdetail {
position:absolute;
left:20px;
top:214px;
width:295px;
height:0;
overflow:hidden;
border-bottom:1px solid #666;
z-index:1;
}

#servicedetail {
position:absolute;
left:341px;
top:214px;
width:296px;
height:0;
overflow:hidden;
z-index:1;
border-bottom:1px solid #666;
}

#monitor_widgets {
width:100%;
padding:0;
} 

#wizard_sla_content {
min-height:420px;
background-image:url(images/widgets/wizard_host_content.gif);
}

#wizard_sla_content_table {
padding-top:20px;
padding-left:35px;
}

#wizard_sla_content_table1 {
width:380px;
height:170px;
overflow:auto;
border:1px solid #000;
}

#wizard_sla_content_table1 tr {
border:0 solid #000;
border-bottom:1px solid #000;
}

#wizard_sla_content_table1 td {
border:0 solid #000;
}

#wizard_sla_content_infotext {
margin-left:50px;
margin-right:50px;
text-align:center;
font-weight:700;
font-size:11px;
}

#wizard_sla_content1 {
background-image:url(images/widgets/wizard_host_content.gif);
}

#wizard_sla_content1 table {
margin-left:20px;
}

#wizard_sla_content1 th {
border:0 solid #000;
border-top:1px solid #000;
border-bottom:1px solid #000;
background-color:#999;
background-image:url(images/style/report_head.gif);
height:20px;
}

#wizard_sla_content1 td {
border:0 solid #000;
background-image:none;
}

#wizard_sla_content1 ul {
border:0 solid #000;
margin-left:15px;
list-style:none;
}

#wizard_sla_content1 ul li ul {
margin-left:15px;
border:0 solid #000;
}

#wizard_sla_content1 ol {
margin-left:15px;
display:inline;
list-style-type:none;
}

#wizard_sla_content1 ol li {
margin-bottom:15px;
background:url(images/icons/reporting.gif) left top no-repeat;
padding:5px 5px 5px 26px;
}

#wizard_sla_content1 ol li ul li {
margin-left:15px;
margin-bottom:5px;
border:0 solid #000;
border-bottom:0 solid #000;
background:url(images/icons/topmenu_monitor.png) left top no-repeat;
border-top:1px solid #333;
}

#wizard_sla_content1 ol li ul li ul li {
margin-left:15px;
border:0 solid #000;
border-bottom:0 solid #000;
background:url(images/icons/topmenu_conf.png) left top no-repeat;
}

#wizard_sla_content1_list {
float:right;
width:600px;
height:auto;
border:0 solid #000;
border-bottom:0 solid #000;
}

#wizard_sla_bottom_info {
float:left;
width:300px;
height:30px;
background:url(images/widgets/info_bottom.png) left top no-repeat;
padding-top:9px;
padding-left:30px;
margin-left:15px;
color:#FFF;
font-weight:700;
}

#wizard_sla_bottom img {
float:right;
margin-top:2px;
margin-right:5px;
margin-left:5px;
}

#widget_monitor_host_headline {
float:left;
padding-left:10px;
padding-top:5px;
padding-right:0;
font-weight:700;
}

#widget_monitor_host_main {
background-color:#eaeaea;
}

#widget_monitor_host_status {
clear:both;
float:right;
width:47%;
background-color:#FFF;
border:1px solid #333;
margin:1%;
padding:0px;
}

#widget_monitor_host_check {
float:left;
width:48%;
margin-top:10px;
background-color:#FFF;
border-right:1px solid #000;
border-left:1px solid #000;
border-bottom:1px solid #000;
min-height:100%;
}

#widget_monitor_service_headline {
clear:both;
float:left;
padding-left:5px;
padding-top:4px;
font-weight:700;
}

#widget_monitor_service_headline img {
border:0;
padding-left:5px;
padding-top:1px;
}

#widget_monitor_service_status {
clear:both;
float:right;
width:48.5%;
height:223px;
margin-left:.5%;
margin-top:1%;
background-color:#FFF;
border:1px solid #333;
padding:.5%;
}

#widget_monitor_service_check {
float:left;
width:49%;
margin-top:1%;
background-color:#FFF;
border-right:1px solid #000;
border-left:1px solid #000;
border-bottom:1px solid #000;
min-height:100%;
}

#widget_monitor_service_graph {
clear: both;
padding-top:10px;
width:100%;
}

#widget_monitor_service_form {
width:29%;
float:left;
background-color:#EAEAEA;
border:1px solid #666;
border-right:3px solid #666;
border-bottom:3px solid #666;
height:180px;
}

#widget_monitor_service_form form label {
float:left;
width:1%;
margin-right:.1em;
padding-top:.5em;
text-align:right;
color:#333;
font-size:10px;
font-weight:700;
}

#widget_monitor_service_image {
text-align:center;
border:1px solid #666;
border-right:3px solid #666;
border-bottom:3px solid #666;
background-color:#EAEAEA;
height:180px;
}

#widget_monitor_service_formhead {
position:relative;
height:50px;
background-color:#CCC;
border-left:1px solid #333;
border-right:1px solid #333;
border-top:1px solid #333;
}

form.widget_monitor_service_graph {
display:inline;
font-size:9px;
width:100%;
}

.formlayer {
position:absolute;
width:502px;
height:302px;
margin-left:-251px;
margin-top:-151px;
background-color:#fff;
background-image:url(images/style/background_formlayer.gif);
z-index:1;
visibility:hidden;
left:50%;
top:50%;
}

#formlayer_title {
float:left;
font-weight:700;
width:400px;
padding:5px;
}

#formlayer_close {
float:right;
margin-right:5px;
}

#formlayer_form {
clear:both;
float:left;
}

#formlayer_table {
width:300px;
height:138px;
overflow:auto;
border:1px solid #000;
}

.active {
background-color:#F90;
background-image:none;
}

#plussearch {
position:absolute;
width:500px;
height:500px;
z-index:100;
margin-left:-251px;
margin-top:-250px;
left:50%;
top:50%;
visibility:hidden;
}

#plussearch form {
width:500px;
margin-top:0;
margin-bottom:0;
}

.popup_top {
background:url(images/style/background_popup_top.png) left top;
width:100%;
height:30px;
float:left;
}

.popup_content {
clear:both;
float:left;
width:100%;
background:url(images/style/background_popup_standard.png) left repeat-y;
min-height:180px;
}

.popup_content label {
width:32%;
color:#888;
}

.popup_content label strong {
width:60%;
color:#000;
text-align:left;
}

.popup_bottom {
clear:both;
float:left;
width:100%;
height:40px;
background:url(images/style/background_popup_button.png) bottom right no-repeat;
}

#tabs {
float:left;
width:100%;
background:#FFF;
line-height:normal;
}

#tabs ul {
list-style:none;
margin:0;
padding:10px 10px 0 30px;
}

#tabs li {
display:inline;
margin:0;
padding:0;
}

#tabs a {
float:left;
background:url(images/style/tab_left.png) no-repeat left top;
text-decoration:none;
font-weight:700;
margin:0;
padding:0 0 0 7px;
}

#tabs a span {
display:block;
background:url(images/style/tab_right.png) no-repeat right top;
color:#000;
float:none;
padding:5px 15px 4px 6px;
}

#tabs_new {
float:left;
width:100%;
background:#FFF;
line-height:normal;
}

#tabs_new ul {
list-style:none;
margin:0;
padding:10px 10px 0 30px;
}

#tabs_new li {
display:inline;
margin:0;
padding:0;
}

#tabs_new a {
float:left;
background:url(images/style/tab_left.png) no-repeat left top;
text-decoration:none;
font-weight:700;
margin:0;
padding:0 0 0 7px;
}

#tabs_new a span {
display:block;
background:url(images/style/tab_right.png) no-repeat right top;
color:#000;
float:none;
padding:5px 15px 4px 6px;
}

.form_top {
background:url(images/style/background_form_top.png) left top;
width:100%;
height:30px;
float:left;
}

.form_content {
clear:both;
float:left;
width:100%;
background:url(images/style/background_form_standard.png) left repeat-y;
min-height:200px;
}

.form_bottom {
clear:both;
float:left;
width:100%;
height:40px;
background:url(images/style/background_form_button.png) bottom right no-repeat;
}

#form_error {
width:670px;
background-color:#C96;
padding:10px;
}

.showquestion {
height:auto;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
text-align:center;
color:#C00;
background-image:url(./images/style/show_question.png);
background-position:center top;
background-repeat:no-repeat;
padding:40px 0px;
}

.showquestion .info {
color:#000;
font-weight:400;
}

.showerror {
width:670px;
margin-top:10px;
padding-top:35px;
height:auto;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
color:#fff;
background:url(./images/style/show_error_back.png) left top no-repeat;
}

.showerror ul {
background-image:url(./images/style/show_error.png);
background-position:left bottom;
padding-bottom:15px;
min-height:100px;
}

.showerror li {
margin-left:30px;
padding-left:32px;
line-height:22px;
list-style:inside;
list-style-type:none;
background-image:url(./images/style/show_error_list.png);
background-position:left;
background-repeat:no-repeat;
width: 540px;
}

.showsuccess {
width:670px;
margin-top:10px;
padding-top:35px;
height:auto;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:700;
letter-spacing:.3em;
color:#093;
background:url(./images/style/show_success_top.png) left top no-repeat;
}

.showsuccess ul {
padding-top:30px;
background-image:url(./images/style/show_success_back.png);
background-position:left bottom;
padding-bottom:15px;
min-height:100px;
}

.showsuccess li {
margin-left:90px;
padding-left:37px;
line-height:25px;
list-style:inside;
list-style-type:none;
background-image:url(./images/style/show_success_list.png);
background-position:left;
background-repeat:no-repeat;
}

.showwarning {
width:670px;
margin-top:10px;
padding-top:35px;
height:auto;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:700;
letter-spacing:.3em;
color:#C4BA00;
background:url(./images/style/show_warning_top.png) left top no-repeat;
}

.showwarning ul {
padding-top:30px;
background-image:url(./images/style/show_success_back.png);
background-position:left bottom;
padding-bottom:15px;
min-height:100px;
}

.showwarning li {
margin-left:90px;
padding-left:37px;
line-height:25px;
list-style:inside;
list-style-type:none;
background-image:url(./images/style/show_warning_list.png);
background-position:left;
background-repeat:no-repeat;
}
/*
.showwarning {
width:670px;
margin-top:10px;
padding-top:35px;
height:auto;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
color:#fff;
background:url(./images/style/show_warning_back.png) left top no-repeat;
}

.showwarning ul {
background-image:url(./images/style/show_warning.png);
background-position:left bottom;
padding-bottom:15px;
min-height:100px;
}

.showwarning li {
margin-left:30px;
padding-left:32px;
line-height:22px;
list-style:inside;
list-style-type:none;
background-image:url(./images/style/show_warning_list.png);
background-position:left;
background-repeat:no-repeat;
width: 540px;
}
*/

#formsuccess {
height:auto;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
color:#093;
background-image:url(./images/forms/success.gif);
background-position:left;
background-repeat:no-repeat;
padding:10px 40px;
}

#formerror {
height:auto;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
color:#C00;
background-image:url(./images/forms/error.gif);
background-position:left top;
background-repeat:no-repeat;
padding:10px 40px;
}

div.formhinweis {
height:auto;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
color:#069;
background-image:url(./images/forms/hinweis.gif);
background-position:left;
background-repeat:no-repeat;
padding:10px 40px;
margin-left: 20px;
}

div.selectionlist {
border:0 #eee solid;
position:relative;
top:8px;
left:10px;
width:376px;
height:152px;
overflow:auto;
}

div.selectionlist_small {
border:0 #eee solid;
position:relative;
top:8px;
left:10px;
width:376px;
height:75px;
overflow:auto;
}

div.showlist {
  float: left;
  width:376px;
  margin: 2px 0px 15px 15px;
}

div.infotext {
  position:relative;
  width:390px;
  overflow:auto;
}
  
div.rightlist {
position:relative;
top:-22px;
left:205px;
width:376px;
}

.formsearch {
width:494px;
margin-top:0;
margin-bottom:0;
}

.formsearch fieldset {
margin-top:12px;
margin-left:5px;
border:0 solid;
border-top:1px solid #999;
}

.formsearch legend {
color:#999;
font-size:11px;
font-weight:Bold;
}

.formsearch label {
float:left;
width:20%;
margin-right:.4em;
padding-top:.5em;
text-align:right;
color:#777;
font-size:10px;
font-weight:400;
}

#performance {
width:650px;
}

#performance fieldset {
border:1px solid #333;
border-top:1px solid #333;
}

#performance legend {
color:#333;
font-size:11px;
font-weight:Bold;
}

#performance_left table {
margin-top:0;
border:0 solid;
background:url(images/style/performance_table1.gif) bottom left no-repeat;
padding-bottom:15px;
}

#performance_right table {
margin-top:0;
border:0 solid;
background:url(images/style/performance_table2.gif) bottom left no-repeat;
padding-bottom:15px;
}

#performance td {
height:25px;
border:0 solid;
}

#performance th {
height:25px;
color:#fff;
background-image:none;
font-weight:400;
border:0 solid;
}

img,#widget_legend_detail .table {
border:0;
}

td.footer ul,#form_error li {
list-style:none;
}

form,#wizard_sla_content form,#wizard_host_content form {
margin-bottom:0;
margin-top:0;
width:670px;
}

form fieldset,form legend {
color:#666;
font-weight:700;
line-height:26px;
padding-right:5px;
}

#head img,#performance_left {
float:left;
}

/******************************TOOLTIP********************/

div.show_tooltip_title {
font: 11px Arial, Helvetica, sans-serif;
font-weight:bold;
padding-top: 10px;
padding-left:15px;
padding-right:10px;
line-height: 19px;
}

div.show_tooltip_text{
font: 11px Arial, Helvetica, sans-serif;
padding-top: 10px;
padding-left: 15px;
padding-right:10px;
line-height: 12px;
}

div.show_tooltip_text ul{
padding-left: 15px;
}

div.show_tooltip_title_left {
font: 11px Arial, Helvetica, sans-serif;
font-weight:bold;
padding-top: 10px;
padding-left:5px;
padding-right:15px;
line-height: 19px;
}

div.show_tooltip_text_left{
font: 11px Arial, Helvetica, sans-serif;
padding-top: 10px;
padding-left:5px;
padding-right:15px;
line-height: 15px;
}

/* Statustooltip */
.tooltip_body {
  width: 345px;
  color:#000000;
}
.tooltip_header{
  background-image: url(images/tooltip/showinfo_title.png);
  height:34px;
  
}
.tooltip_header h1{
  font-size:11px;
  font-weight: bold;
  color:#fff;
  padding-left:25px;
  padding-top:3px;
  float: left;
}
.tooltip_header a.close {
  position: relative; 
  text-decoration: none; 
  float: right; 
  width: 15px;  
  height: 15px;
  background: transparent url(images/tooltip/close_showinfo.png);
  display: block;
  line-height: 0;  
  font-size: 0px;  
  border: 0;  
  margin-right:20px;
  margin-top:8px;
}
.tooltip_header a.close:hover { 
  background: url(images/tooltip/close_showinfo_over.png); 
}
.tooltip_body table {
  margin-left:1px;
  width: 335px;
}
.tooltip_body th{
  color:#333; 
  font-weight:bold; 
  background:url(images/tooltip/background_td_showinfo.png); 
  border-left:1px solid #c0c0c0;
  border-right:1px solid #c0c0c0;
}
.tooltip_body td{
  border:1px solid #c0c0c0; 
  background:white;
}
.tooltip_footer {
  background-image:url(images/tooltip/showinfo_footer.png); 
  position:relative;
  border:none;
  height: 25px;
}

.content_left{
  text-align:right;
}
.content_right{
  text-align: left;
  width: 205px;
}

/* Konfigurationstooltip */
.config_tooltip_body {
  width: 170px; color: #fff;
}
.config_tooltip_header{
  background-image: url(images/tooltip/config_tooltip_header.png);
  height:22px;  
}
.config_tooltip_header span{
  font-size:11px;
  font-weight: bold;
  color:#fff;
  padding-left:4px;
  float: left;
  padding-top:4px;
}
.config_tooltip_header a.close {
  position: relative; 
  text-decoration: none; 
  float: right; 
  width: 15px;  
  height: 15px;
  background: transparent url(images/tooltip/close_showinfo.png);
  display: block;  
  margin-right:4px;
  margin-top:3px;
}
.config_tooltip_header a.close:hover { 
  background: url(images/tooltip/close_showinfo_over.png); 
}
.config_tooltip_body ul{
  background:url(images/tooltip/background_links.png) bottom right; 
  font: 11px Arial, Helvetica, sans-serif; 
  padding: 0px;
  list-style:none; 
  padding-left:10px;
}
.config_tooltip_body ul li a{
  text-decoration:none; 
  color: #fff;
}
.config_tooltip_body li{
  padding-left:22px; 
  border-bottom:1px solid #fff; 
  line-height: 21px;
  background:no-repeat left top;
  text-decoration:none; 
  color: #fff;
}
.config_tooltip_body a:hover{
  text-decoration:none; 
  color:#000;
}
.config_tooltip_body ul li.tooltip_config_allocate { 
  background-image: url(images/tooltip/allocate.png);
  background-repeat: no-repeat;
}
.config_tooltip_body ul li.tooltip_config_copy,ul li.tooltip_config_copy_multi { 
  background-image: url(images/tooltip/copy.png);
  background-repeat: no-repeat;
}
.config_tooltip_body ul li.tooltip_config_del { 
  background-image: url(images/tooltip/delete.png); 
  background-repeat: no-repeat;
}
.config_tooltip_body ul li.tooltip_config_edit,
					 ul li.tooltip_config_edit_multi
  { 
  background-image: url(images/tooltip/edit.png); 
  background-repeat: no-repeat;
  }
.config_tooltip_body ul li.tooltip_config_wizard  { 
  background-image: url(images/tooltip/wizard.png);
  background-repeat: no-repeat;}

.config_tooltip_body ul li.tooltip_config_hostgroup,ul li.tooltip_config_hostgroup { 
  background-image: url(images/icons/hostgroups.gif);
  background-repeat: no-repeat;
}

.config_tooltip_body ul li.tooltip_config_change_location { 
  background-image: url(images/tooltip/locations.png); 
  background-repeat: no-repeat;
  }

/*Ende - Tooltips*/

#topsearch form,#topnav li {
display:inline;
}

#hostdetail li a,#servicedetail a {
color:#333;
text-decoration:underline;
}

#widget_monitor {
width:100%;
}

#wizard_sla,#wizard_host {
height:480px;
margin-left:10px;
margin-top:10px;
width:700px;
}

#wizard_sla_head,#wizard_host_head {
background-image:url(images/widgets/wizard_host_head.gif);
height:25px;
}

#wizard_sla_head_title,#wizard_host_head_title {
background-image:url(images/icons/wizard_title.gif);
background-position:left;
background-repeat:no-repeat;
font-weight:700;
padding-left:30px;
padding-top:5px;
}

#wizard_sla_content form label,#wizard_host_content form label {
clear:left;
color:#333;
float:left;
font-size:11px;
font-weight:700;
margin-right:.4em;
padding-top:.5em;
text-align:right;
width:230px;
}

#wizard_sla_content ul,#wizard_host_content ul {
display:block;
list-style:none;
margin:0;
padding:0;
}

#wizard_sla_content li a,#wizard_host_content li a {
background-image:url(images/icons/edit.gif);
background-position:left;
background-repeat:no-repeat;
margin-left:240px;
padding-bottom:2px;
padding-left:20px;
padding-top:2px;
text-decoration:none;
}

#wizard_sla_content_ani,#wizard_host_content_ani {
margin-right:5px;
margin-top:200px;
}

#wizard_sla_bottom,#wizard_host_bottom {
background-image:url(images/widgets/wizard_host_bottom.gif);
height:35px;
}

#widget_monitor_host_head,#widget_monitor_service_head {
background-color:#CCC;
background-image:url(images/style/report_head.gif);
border-left:1px solid #333;
border-right:1px solid #333;
border-top:1px solid #333;
height:30px;
}

#widget_monitor_host_headlinks,#widget_monitor_service_headlinks {
float:right;
margin-right:5px;
padding-left:0;
}

#widget_monitor_host_headlinks img,#widget_monitor_service_headlinks img {
margin-right:5px;
padding-top:2px;
}

.popup_top a img,#performance_right {
float:right;
}

#tabs a:hover,#tabs a.active {
background-position:0 -21px;
}

#tabs a:hover span,#tabs a.active span {
background-position:100% -21px;
color:#fff;
}


#tabs_new a:hover,#tabs_new a.active {
background-position:0 -21px;
}

#tabs_new a:hover span,#tabs_new a.active span {
background-position:100% -21px;
color:#fff;
}
