/**
 *  Content
 *      Style
 *      Flex Element
 *      Modules
 *      --- oaDatatable
 *      --- Dashboard widgets
 *      ------- ClusterStatus
 *      ------- oaWizards
 *      Command Logs - CCS Fix
 *      Celsius instead of Fahrenheit
 *      Misc
 */

/* Style */
.errorbox { color: #a94442; }
.required { color: red; }
.greenicon { color: green; }
.redicon { color: red; }
.margin-top-15 { margin-top: 15px; }
.margin-top-20 { margin-top: 20px; }
.margin-top-25 { margin-top: 25px; }
.margin-top-30 { margin-top: 30px; }
.margin-bottom-15 { margin-bottom: 15px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-25 { margin-bottom: 25px; }
.margin-bottom-30 { margin-bottom: 30px; }

/* Flex Element */
.flex-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-item-1 { -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; flex: 1; padding: 0 15px; }
.flex-item-2 { -webkit-flex: 2; -moz-flex: 2; -ms-flex: 2; flex: 2; padding: 0 15px; }
.flex-item-3 { -webkit-flex: 3; -moz-flex: 3; -ms-flex: 3; flex: 3; padding: 0 15px; }
.flex-item-4 { -webkit-flex: 4; -moz-flex: 4; -ms-flex: 4; flex: 4; padding: 0 15px; }
.flex-item-5 { -webkit-flex: 5; -moz-flex: 5; -ms-flex: 5; flex: 5; padding: 0 15px; }
.flex-item-6 { -webkit-flex: 6; -moz-flex: 6; -ms-flex: 6; flex: 6; padding: 0 15px; }
.flex-item-7 { -webkit-flex: 7; -moz-flex: 7; -ms-flex: 7; flex: 7; padding: 0 15px; }
.flex-item-8 { -webkit-flex: 8; -moz-flex: 8; -ms-flex: 8; flex: 8; padding: 0 15px; }
.flex-item-9 { -webkit-flex: 9; -moz-flex: 9; -ms-flex: 9; flex: 9; padding: 0 15px; }

/* Modules */
/* --- oaDatatable */
.oadatatable div.widget-body {
    position: relative;
}
.oadatatable div.overlay {
    position:      absolute;
    top:           0;
    left:          0;
    z-index:       10;
    height:        100%;
    width:         100%;
    background-color: rgba(30, 30, 30, 0.2);
}
.oadatatable div.overlay-content {
    margin:        200px auto;
    width:         50px;
    height:        50px;
    background-color: rgba(30, 30, 30, 0);
}
.oadatatable th.oadatatablecheckbox {
    width: 16px;
}
.oadatatable .oadatatableshowhidemenu {
    padding-left: 20px;
    cursor: default;
}
.oadatatable .oadatatableshowhidemenu label {
    margin-bottom: 0;
    width: 100%;
    cursor: pointer;
}
.oadatatable .oadatatableactionsmenu a {
    text-align: left;
    padding-left: 40px;
}
.oadatatable .oadatatableactionsmenu a i {
    margin-left: -20px;
}
.oadatatable .btn {
    margin-top:     0 !important;
    height:      32px !important;
    line-height: 28px !important;
    padding-top:    0 !important;
}
.oadatatable .input-group {
    width: 40%;
}

/* --- Dashboard widgets */
.widget {
    border: 0 solid #d4d4d4 !important;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.widget-icon {
    line-height: 37px !important;
}
.widget .btn-block+.btn-block {
    margin-top: 0;
}

/* ------- ClusterStatus */
.cluster-status {
    padding-bottom:0!important;
}
.cluster-status .graph-form {
    border-bottom: 1px solid #dadada;
    margin: 0 -10px 8px -10px;
    padding: 0 0 8px 10px;
}
.cluster-status .graph-form .checkbox {
    display: inline-block;
    margin: 0 25px 0 0;
}
.cluster-status .graph-form label {
    line-height: 1.42857143;
}
.cluster-status .legendColorBox div>div {
    border-radius: 0!important;
}
.cluster-status .legendLabel {
    padding-top: 5px!important;
    padding-left: 3px!important;
    color: #000;
}
.cluster-status .show-stat-microcharts {
    margin-top: 10px!important;
}
.cluster-status .show-stat-microcharts > div {
    margin-top: 0!important;
}
.cluster-status .show-stat-microcharts .easy-pie-title {
    width: 110px;
    padding-top: 5px;
}
.cluster-status .smaller-stat {
    margin-top: 10px;
}

/* ------- oaWizards */
.force-left label {
    text-align: left !important;
}
.force-left .text-right {
    text-align: left !important;
}
.oawizards .flex-item-1 {
    min-width: 150px;
}
.oawizards .flex-item-6 {
    min-width: 250px;
}
.widget .wizard-selector {
    margin-top: -20px;
}
.wizard-selector-lower-row {
    margin-top: 20px;
}
.wizard-selector .flex-item-1 {
    min-width: 220px;
}
.wizard-nav-btn {
    margin-bottom: 10px !important;
    margin-left: 5px !important;
}
.wizard-nav-items-4 {
    left: 0;
}
.wizard-nav-items-3 {
    left: 15%;
}
.wizard-nav-items-2 {
    left: 25%;
}
.wizard-pointer {
    cursor: pointer;
}
.wizard-default {
    cursor: default;
}
.bootstrapWizard li .title {
    position: static;
    margin-top: 20px;
}

/* Command Logs - CCS Fix */
.code-clogs {
    display: block;
    padding: 9px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

/* Celsius instead of Fahrenheit */
.degree-sign:after {
    content: "\00B0 C"!important;
}

/* Misc */
.MessageBoxButtonSection div {
    float: right;
}

.MessageBoxButtonSection div button {
    float: none;
}

.oaprogress {
    position: relative;
    margin-bottom: 0;
}

.oaprogress div.progress-bar {
    position: static;
}

.oaprogress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
    font-weight: normal;
}

.tabs-left .tab-content .row {
    margin-left: 10px;
}

.tabs-left > .tab-content {
    padding-left: 20px;
}

.tab-pane > h2 {
    margin-top: 0;
}

.formactions.well {
    overflow: auto;
    padding: 10px 20px;
}

.loginmain {
    margin-left: 0 !important;
}

.progress-bar-freespace {
    background-color: #ddd;
}

.progress-bar-stolenspace {
    background-color: #aaa;
}

.progress-bar {
    background-image: none !important;
}

.graph-widget ul {
    width: 300px !important;
}

.graph-widget ul li {
    padding: 0 !important;
    background: none repeat scroll 0 0 transparent !important;
}

.statistics-content {
    min-height: 700px;
}
.progress-bar-outer{
    margin-top: 5px !important;
}
.progress-bar-outer div {
    border-radius: 31px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 0 0 0;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    margin: 0;
    height: 16px;
}
.progress-bar-outer div div {
    background-color: #0091d9;
}
.progress-bar-outer div div span {
    position: relative;
    top: -3px;
}
.bootstrapWizard li.prevtab .step, .bootstrapWizard li.prevtab.complete .step {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #0aa66e;
    color: #fff;
    font-weight: 700;
    padding-top: 7px;
    padding-right: 13px;
    padding-bottom: 7px;
    padding-left: 13px;
    font-size: 15px;
    border-radius: 50%;
    border-top-color: rgb(85, 96, 110);
    border-top-style: solid;
    border-top-width: 3px;
    border-right-color: rgb(85, 96, 110);
    border-right-style: solid;
    border-right-width: 3px;
    border-bottom-color: rgb(85, 96, 110);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-left-color: rgb(85, 96, 110);
    border-left-style: solid;
    border-left-width: 3px;
}

form .input-group-addon{
    color: #A2A2A2 !important;
    background-color: transparent;
}

accordion .panel-title {
    font-size: 14px !important;
}

.MessageBoxContainer table {
    color: black;
}

.oatodo {
    padding-left: 20px;
}

.done-true {
    text-decoration: line-through;
    color: grey;
}

.thicker-border {
    border-width: 2px !important;
}