/* Basics */
html,
body {
  height: 100%;
  font-size: 12px;
}
.full-height {
  height: 100%;
}
.vertical-align {
  display: flex;
  align-items: center;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* Grid */
.container,
.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}
.row {
  margin-left: -20px;
  margin-right: -20px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-left: 20px;
  padding-right: 20px;
}

/* Branding */
.navbar-openattic .navbar-brand,
.navbar-openattic .navbar-brand:hover{
  color: #ececec;
  height: auto;
  margin: 15px 0 15px 20px;
  padding: 0;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.navbar-openattic .navbar-brand>img {
  height: 25px;
}

/* Navbar */
.navbar-openattic {
  margin-bottom: 0;
  background: #474544;
  border: 0;
  border-radius: 0;
  border-top: 4px solid #288cea;
  font-size: 1.2em;
}
.navbar-openattic .navbar-header {
  display: flex;
  float: none;
}
.navbar-openattic .navbar-toggle {
  margin-left: auto;
  border: 0;
}
.navbar-openattic .navbar-toggle:focus,
.navbar-openattic .navbar-toggle:hover {
  background-color: transparent;
  outline: 0;
}
.navbar-openattic .navbar-toggle .icon-bar {
  background-color: #ececec;
}
.navbar-openattic .navbar-toggle:focus .icon-bar,
.navbar-openattic .navbar-toggle:hover .icon-bar {
  -webkit-box-shadow: 0 0 3px #fff;
  box-shadow: 0 0 3px #fff;
}
.navbar-openattic .navbar-collapse {
  padding: 0;
}
.navbar-openattic .navbar-nav>li>a {
  color: #ececec;
  line-height: 1;
  padding: 10px 20px;
}
.navbar-openattic .navbar-nav>li>a:focus,
.navbar-openattic .navbar-nav>li>a:hover {
  color: #ececec;
}
.navbar-openattic .navbar-nav>li>a:hover {
  background-color: #505050;
}
.navbar-openattic .navbar-nav>.open>a,
.navbar-openattic .navbar-nav>.open>a:hover,
.navbar-openattic .navbar-nav>.open>a:focus {
  color: #ececec;
  border-color: transparent;
  background-color: transparent;
}
.navbar-openattic .navbar-primary>li>a {
  border: 0;
}
.navbar-openattic .navbar-primary>.active>a,
.navbar-openattic .navbar-primary>.active>a:hover,
.navbar-openattic .navbar-primary>.active>a:focus {
  color: #ececec;
  background-color: #288cea;
  border: 0;
}
.navbar-openattic .navbar-utility a,
.navbar-openattic .navbar-utility .fa{
  font-size: 1.0em;
}
.navbar-openattic .navbar-utility>.active>a {
  color: #ececec;
  background-color: #505050;
}
@media (min-width: 768px) {
  .navbar-openattic .navbar-primary>li>a {
    border-bottom: 4px solid transparent;
  }
  .navbar-openattic .navbar-primary>.active>a,
  .navbar-openattic .navbar-primary>.active>a:hover,
  .navbar-openattic .navbar-primary>.active>a:focus {
    background-color: transparent;
    border-bottom: 4px solid #288cea;
  }
  .navbar-openattic .navbar-utility {
    border-bottom: 0;
    font-size: 11px;
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media (max-width: 767px) {
  .navbar-openattic .navbar-nav {
    margin: 0;
  }
  .navbar-openattic .navbar-collapse,
  .navbar-openattic .navbar-form {
    border-color: #ececec;
  }
  .navbar-openattic .navbar-collapse {
    padding: 0;
  }
  .navbar-nav .open .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #505050;
  }
  .navbar-nav .open .dropdown-menu .dropdown-header,
  .navbar-nav .open .dropdown-menu>li>a {
    padding: 5px 15px 5px 35px;
  }
  .navbar-openattic .navbar-nav .open .dropdown-menu>li>a {
    color: #ececec;
  }
  .navbar-openattic .navbar-nav .open .dropdown-menu>.active>a {
    color: #ececec;
    background-color: #288cea;
  }
  .navbar-openattic .navbar-nav>li>a:hover {
    background-color: #288cea;
  }
  .navbar-openattic .navbar-utility {
    border-top: 1px solid #ececec;
  }
  .navbar-openattic .navbar-primary>.active>a,
  .navbar-openattic .navbar-primary>.active>a:hover,
  .navbar-openattic .navbar-primary>.active>a:focus {
    background-color: #288cea;
  }

  .navbar-openattic .tc_api-recorder a:after {
    content: ";
  }
  .navbar-openattic .tc_logout a:after {
    content: "";
  }
}

/* Dropdown */
.dropdown-menu>li>a {
  color: #474544;
}
.dropdown-menu>.active>a {
  color: #ececec;
  background-color: #288cea;
}

/* Caret */
.caret {
  color: #288cea;
}

/* Login */
.login {
  height: 100%;
}
.login .icon-bar {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 10px;
  left: 10px;
}
.login .icon-bar>a {
  color: #ececec;
  text-decoration: none;
}
.login .icon-bar>a .fa-dark {
  color: #474544;
}
.login .row {
  color: #ececec;
  background-color: #474544;
}
.login h1 {
  margin-top: 0;
  margin-bottom: 30px;
}
.login .form-control {
  color: #ececec;
  background-color: #555555;
}
.login .col-lg-1, .login .col-lg-10, .login .col-lg-11, .login .col-lg-12, .login .col-lg-2, .login .col-lg-3,
.login .col-lg-4, .login .col-lg-5, .login .col-lg-6, .login .col-lg-7, .login .col-lg-8, .login .col-lg-9 {
  padding-left: 35px;
  padding-right: 35px;
}
.login .col-md-1, .login .col-md-10, .login .col-md-11, .login .col-md-12, .login .col-md-2, .login .col-md-3,
.login .col-md-4, .login .col-md-5, .login .col-md-6, .login .col-md-7, .login .col-md-8, .login .col-md-9 {
  padding-left: 30px;
  padding-right: 30px;
}
.login .col-sm-1, .login .col-sm-10, .login .col-sm-11, .login .col-sm-12, .login .col-sm-2, .login .col-sm-3,
.login .col-sm-4, .login .col-sm-5, .login .col-sm-6, .login .col-sm-7, .login .col-sm-8, .login .col-sm-9 {
  padding-left: 25px;
  padding-right: 25px;
}
.login .col-xs-1, .col-xs-10, .login .col-xs-11, .login .col-xs-12, .login .col-xs-2, .login .col-xs-3,
.login .col-xs-4, .login .col-xs-5, .login .col-xs-6, .login .col-xs-7, .login .col-xs-8, .login .col-xs-9 {
  padding-left: 15px;
  padding-right: 15px;
}

/* Buttons */
.btn-primary {
  color: #ececec;
  background-color: #288cea;
  border-color: #288cea;
}
.btn-openattic {
  color: #ececec;
  background-color: #288cea;
  border-color: #288cea;
}

/* Breadcrumb */
.breadcrumb {
  padding: 8px 0;
  background-color: transparent;
  border-radius: 0;
}
.breadcrumb>li+li:before {
    padding: 0 5px 0 7px;
    color: #474544;
    font-family: "FontAwesome";
    content: "\f101";
}
.breadcrumb>li>span {
  color: #474544;
}

/* Hyperlink */
a {
  color: #288cea;
}
a:hover,
a:focus{
  color: #474544;
}

/* Datatables */
.dataTables_wrapper {
  border: 1px solid #dddddd;
}
.dataTables_wrapper .table {
  border-left: 0;
  border-right: 0;
}
.dataTables_wrapper table th,
.dataTables_wrapper table td {
  border-left: 0;
}

.dataTables_wrapper .table-bordered>thead>tr>th:first-child,
.dataTables_wrapper .table-bordered>thead>tr>td:first-child,
.dataTables_wrapper .table-bordered>tbody>tr>th:first-child,
.dataTables_wrapper .table-bordered>tbody>tr>td:first-child{
  border-left: 0px;
}
.dataTables_wrapper .table-bordered>tbody>tr>td,
.dataTables_wrapper .table-bordered>tbody>tr>th,
.dataTables_wrapper .table-bordered>thead>tr>td,
.dataTables_wrapper .table-bordered>thead>tr>th {
  border-right: 0px;
}




.center {
    margin-top:50px;
}

.modal-header {
	padding-bottom: 5px;
}

.modal-footer {
    	padding: 0;
	}

.modal-footer .btn-group button {
	height:40px;
	border-top-left-radius : 0;
	border-top-right-radius : 0;
	border: none;
	border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
	border-right: 0;
}