/* Basics */
html, body {
  height: 100%;
}
.main {
  height: 100%;
}
.vertical-align {
    display: flex;
    align-items: center;
}

/* Branding */
.navbar-openattic .navbar-brand,
.navbar-openattic .navbar-brand:hover{
  color: #ececec;
  height: auto;
  margin: 15px 0 15px 25px;
  padding: 0;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.navbar-openattic .navbar-brand>img {
  height: 25px;
}

/* Navbar */
.navbar-openattic {
  margin-bottom: 0;
  background: #474544;
  border: 0;
  border-radius: 0;
  border-top: 4px solid #288cea;
}
.navbar-openattic .navbar-header {
  display: flex;
  float: none;
}
.navbar-openattic .navbar-toggle {
  margin-left: auto;
  border: 0;
}
.navbar-openattic .navbar-toggle:focus,
.navbar-openattic .navbar-toggle:hover {
  background-color: transparent;
  outline: 0;
}
.navbar-openattic .navbar-toggle .icon-bar {
  background-color: #ececec;
}
.navbar-openattic .navbar-toggle:focus .icon-bar,
.navbar-openattic .navbar-toggle:hover .icon-bar {
  -webkit-box-shadow: 0 0 3px #fff;
  box-shadow: 0 0 3px #fff;
}
.navbar-openattic .navbar-collapse {
  padding: 0 5px;
}
.navbar-openattic .navbar-nav>li>a {
  color: #ececec;
  line-height: 1;
  padding: 10px 20px;
}
.navbar-openattic .navbar-nav>li>a:focus,
.navbar-openattic .navbar-nav>li>a:hover {
  color: #ececec;
}
.navbar-openattic .navbar-nav>li>a:hover {
  background-color: #505050;
}
.navbar-openattic .navbar-nav>.open>a,
.navbar-openattic .navbar-nav>.open>a:hover,
.navbar-openattic .navbar-nav>.open>a:focus {
  color: #ececec;
  border-color: transparent;
  background-color: transparent;
}
.navbar-openattic .navbar-primary>li>a {
  border: 0;
}
.navbar-openattic .navbar-primary>.active>a,
.navbar-openattic .navbar-primary>.active>a:hover,
.navbar-openattic .navbar-primary>.active>a:focus {
  color: #ececec;
  background-color: #288cea;
  border: 0;
}
.navbar-openattic .navbar-utility a,
.navbar-openattic .navbar-utility .fa{
  font-size: 1.0em;
}
.navbar-openattic .navbar-utility>.active>a {
  color: #ececec;
  background-color: #505050;
}
@media (min-width: 768px) {
  .navbar-openattic .navbar-primary>li>a {
    border-bottom: 4px solid transparent;
  }
  .navbar-openattic .navbar-primary>.active>a,
  .navbar-openattic .navbar-primary>.active>a:hover,
  .navbar-openattic .navbar-primary>.active>a:focus {
    background-color: transparent;
    border-bottom: 4px solid #288cea;
  }
  .navbar-openattic .navbar-utility {
    border-bottom: 0;
    font-size: 11px;
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media (max-width: 767px) {
  .navbar-openattic .navbar-nav {
    margin: 0;
  }
  .navbar-openattic .navbar-collapse,
  .navbar-openattic .navbar-form {
    border-color: #ececec;
  }
  .navbar-openattic .navbar-collapse {
    padding: 0;
  }
  .navbar-openattic .navbar-collapse .navbar-nav>li>a {
    padding: 10px 25px;
  }
  .navbar-nav .open .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #505050;
  }
  .navbar-nav .open .dropdown-menu .dropdown-header,
  .navbar-nav .open .dropdown-menu>li>a {
    padding: 5px 15px 5px 35px;
  }
  .navbar-openattic .navbar-nav .open .dropdown-menu>li>a {
    color: #ececec;
  }
  .navbar-openattic .navbar-nav .open .dropdown-menu>.active>a {
    color: #ececec;
    background-color: #288cea;
  }
  .navbar-openattic .navbar-nav>li>a:hover {
    background-color: #288cea;
  }
  .navbar-openattic .navbar-utility {
    border-top: 1px solid #ececec;
  }
  .navbar-openattic .navbar-primary>.active>a,
  .navbar-openattic .navbar-primary>.active>a:hover,
  .navbar-openattic .navbar-primary>.active>a:focus {
    background-color: #288cea;
  }

  .navbar-openattic .tc_api-recorder a:after {
    content: ";
  }
  .navbar-openattic .tc_logout a:after {
    content: "";
  }
}

/* Dropdown */
.dropdown-menu>li>a {
  color: #474544;
}
.dropdown-menu>.active>a {
  color: #ececec;
  background-color: #288cea;
}

/* Caret */
.caret {
  color: #288cea;
}

/* Login */
.login {
  color: #ececec;
  background-color: #474544;
}
.login,
.login .row {
  height: 100%;
}
.login h1 {
  margin-top: 0;
  margin-bottom: 30px;
}
.login .form-control {
  color: #ececec;
  background-color: #555555;
}
.login .col-lg-1, .login .col-lg-10, .login .col-lg-11, .login .col-lg-12, .login .col-lg-2, .login .col-lg-3,
.login .col-lg-4, .login .col-lg-5, .login .col-lg-6, .login .col-lg-7, .login .col-lg-8, .login .col-lg-9 {
  padding-left: 35px;
  padding-right: 35px;
}
.login .col-md-1, .login .col-md-10, .login .col-md-11, .login .col-md-12, .login .col-md-2, .login .col-md-3,
.login .col-md-4, .login .col-md-5, .login .col-md-6, .login .col-md-7, .login .col-md-8, .login .col-md-9 {
  padding-left: 30px;
  padding-right: 30px;
}
.login .col-sm-1, .login .col-sm-10, .login .col-sm-11, .login .col-sm-12, .login .col-sm-2, .login .col-sm-3,
.login .col-sm-4, .login .col-sm-5, .login .col-sm-6, .login .col-sm-7, .login .col-sm-8, .login .col-sm-9 {
  padding-left: 25px;
  padding-right: 25px;
}
.login .col-xs-1, .col-xs-10, .login .col-xs-11, .login .col-xs-12, .login .col-xs-2, .login .col-xs-3,
.login .col-xs-4, .login .col-xs-5, .login .col-xs-6, .login .col-xs-7, .login .col-xs-8, .login .col-xs-9 {
  padding-left: 15px;
  padding-right: 15px;
}

/* Buttons */
.btn-openattic {
  color: #ececec;
  background-color: #288cea;
  border-color: #288cea;
}
