<p ng-hide="editing">
  Place {{ $ctrl.stepset|humanizeRuleNum:rule }} replica
  <span ng-show="$ctrl.getRealNum($ctrl.stepset).max && $ctrl.getRealNum($ctrl.stepset).max > 1">s on different {{ $ctrl.stepset.acrosstype.name }}s</span>
  <span ng-show="$ctrl.stepset.groupbytype">in the same {{ $ctrl.stepset.groupbytype.name }}</span>
  in the {{ $ctrl.stepset.take.name }} {{ $ctrl.stepset.take.type_name === 'root' ? 'tree' : $ctrl.stepset.take.type_name }}.
</p>
<span ng-show="editing">
  Place
  <button class="btn btn-default"
          ng-class="{ active: $ctrl.editreplicas }"
          ng-click="$ctrl.editreplicas = !$ctrl.editreplicas">
    {{ $ctrl.stepset | humanizeRuleNum:$ctrl.rule }}
  </button>
  <div class="well"
       ng-show="editreplicas">
    <div class="radio">
      <input type="radio"
             name="repsz"
             id="repsz0"
             ng-model="$ctrl.replicas_source"
             ng-change="onUpdate()"
             value="fix">
      <label for="repsz0">all replicas</label>
    </div>
    <div class="radio form-inline">
      <input type="radio"
             name="repsz"
             id="repszPos"
             ng-model="$ctrl.replicas_source"
             value="pos">
      <label for="repszPos">exactly</label>
      <input type="number"
             class="form-control input-small"
             id="repszNumPos"
             ng-disabled="$ctrl.replicas_source != 'pos'"
             ng-model="$ctrl.replicas_pos"
             ng-change="onUpdate()"> replicas
    </div>
    <div class="radio form-inline">
      <input type="radio"
             name="repsz"
             id="repszNeg"
             ng-model="$ctrl.replicas_source"
             value="neg">
      <label for="repszNeg">all but</label>
      <input type="number"
             class="form-control input-small"
             id="repszNumNeg"
             ng-disabled="replicas_source != 'neg'"
             ng-change="onUpdate()"
             ng-model="$ctrl.replicas_neg"> replicas
    </div>
  </div>
  replicas on different
  <span class="dropdown">
    <button class="btn btn-default dropdown-toggle"
            data-toggle="dropdown">
      {{ $ctrl.stepset.acrosstype.name }}s
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu"
        role="menu">
      <li ng-repeat="btype in $ctrl.cluster.crushmap.types"
          role="presentation">
        <a role="menuitem"
           ng-click="$ctrl.stepset.acrosstype = btype">{{ btype.name }}s</a>
      </li>
    </ul>
  </span>
  in the
  <button class="btn btn-default"
          ng-class="{ active: $ctrl.edittakenode }"
          ng-click="$ctrl.edittakenode = !$ctrl.edittakenode">
    {{ $ctrl.stepset.take.name }} {{ $ctrl.stepset.take.type_name === 'root' ? 'tree' : $ctrl.stepset.take.type_name }}.
  </button>
</span>
