<p translate
   translate-params-stepset="$ctrl.stepset|humanizeRuleNum:rule"
   translate-params-acrosstype-name="$ctrl.stepset.acrosstype.name"
   translate-params-groupbytype-name="$ctrl.stepset.groupbytype.name"
   translate-params-take-name="$ctrl.stepset.take.name"
   translate-params-type-name="$ctrl.stepset.take.type_name === 'root' ? 'tree' : $ctrl.stepset.take.type_name"
   ng-hide="editing">
  Place {{ stepset }} replica
  <span ng-show="$ctrl.getRealNum($ctrl.stepset).max && $ctrl.getRealNum($ctrl.stepset).max > 1">s on different {{ acrosstypeName }}s</span>
  <span ng-show="$ctrl.stepset.groupbytype">in the same {{ groupbytypeName }}</span>
  in the {{ takeName }} {{ typeName }}.
</p>
<span ng-show="editing">
  <translate>Place</translate>
  <button class="btn btn-default"
          ng-class="{ active: $ctrl.editreplicas }"
          ng-click="$ctrl.editreplicas = !$ctrl.editreplicas">
    {{ $ctrl.stepset | humanizeRuleNum:$ctrl.rule }}
  </button>
  <div class="well"
       ng-show="editreplicas">
    <div class="radio">
      <input type="radio"
             name="repsz"
             id="repsz0"
             ng-model="$ctrl.replicas_source"
             ng-change="onUpdate()"
             value="fix">
      <label translate
             for="repsz0">all replicas</label>
    </div>
    <div class="radio form-inline">
      <input type="radio"
             name="repsz"
             id="repszPos"
             ng-model="$ctrl.replicas_source"
             value="pos">
      <label translate
             for="repszPos">exactly</label>
      <input translate
             type="number"
             class="form-control input-small"
             id="repszNumPos"
             ng-disabled="$ctrl.replicas_source != 'pos'"
             ng-model="$ctrl.replicas_pos"
             ng-change="onUpdate()"> replicas
    </div>
    <div class="radio form-inline">
      <input type="radio"
             name="repsz"
             id="repszNeg"
             ng-model="$ctrl.replicas_source"
             value="neg">
      <label translate
             for="repszNeg">all but</label>
      <input translate
             type="number"
             class="form-control input-small"
             id="repszNumNeg"
             ng-disabled="replicas_source != 'neg'"
             ng-change="onUpdate()"
             ng-model="$ctrl.replicas_neg"> replicas
    </div>
  </div>
  <span translate>replicas on different</span>
  <span class="dropdown">
    <button class="btn btn-default dropdown-toggle"
            data-toggle="dropdown">
      {{ $ctrl.stepset.acrosstype.name }}s
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu"
        role="menu">
      <li ng-repeat="btype in $ctrl.cluster.crushmap.types"
          role="presentation">
        <a role="menuitem"
           ng-click="$ctrl.stepset.acrosstype = btype">{{ btype.name }}s</a>
      </li>
    </ul>
  </span>
  <translate>in the</translate>
  <button class="btn btn-default"
          ng-class="{ active: $ctrl.edittakenode }"
          ng-click="$ctrl.edittakenode = !$ctrl.edittakenode">
    {{ $ctrl.stepset.take.name }} {{ $ctrl.stepset.take.type_name === 'root' ? 'tree' : $ctrl.stepset.take.type_name }}.
  </button>
</span>
