<p>This module cannot be loaded due to an authentication problem while connecting to the RGW S3 API</p>

<hr>

<p>Please verify that:</p>
<ul>
  <li>
    <a ui-sref="settings"><strong>Object Gateway Access Key</strong>, <strong>Secret Key</strong> and <strong>Admin User</strong>
    settings</a> are defined correctly
  </li>
  <li>
    Alternatively check that <strong>DeepSea</strong> is returning the correct <strong>RGW</strong> information
    by running the following command on the Salt master:
    <kbd># salt-run ui_rgw.credentials</kbd>
  </li>
</ul>
