<p>This module cannot be loaded due to a problem while trying to connect to DeepSea via the Salt REST API</p>

<hr>

<p>Please verify that:</p>
<ul>
  <li>
    <strong>SALT_API_HOST</strong> and <strong>SALT_API_PORT</strong> are defined correctly in the openATTIC configuration file
    <strong>/etc/(default|sysconfig)/openattic</strong>
  </li>
  <li>No firewall is enabled on the Salt Master host that blocks access to the Salt REST API</li>
  <li>The <strong>salt-api</strong> daemon is running on the salt master node <kbd># systemctl status salt-api</kbd></li>
</ul>
