<p>This module cannot be loaded due to an authentication problem while connecting to the RGW S3 API</p>

<hr>

<p>Please verify that:</p>
<ul>
  <li>
    <strong>RGW_API_ACCESS_KEY</strong>, <strong>RGW_API_SECRET_KEY</strong> and <strong>RGW_API_ADMIN_RESOURCE</strong>
    are defined correctly in the openATTIC configuration file
    <strong>/etc/(default|sysconfig)/openattic</strong> (only if you are not using <strong>DeepSea</strong>)
  </li>
  <li>
    Alternatively check that <strong>DeepSea</strong> is returning the correct <strong>RGW</strong> information
    by running the following command on the Salt master:
    <kbd># salt-run ui_rgw.credentials</kbd>
  </li>
</ul>
