<div ng-controller="chartCtrl" class="cluster-status container-fluid padding-10">

    <div class="row no-space">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <flot ng-if="!incompatibleBrowser" dataset="lineChartDataset" options="lineChartOptions" height="250px"></flot>
            <div ng-if="incompatibleBrowser" ng-bind="incompatibleBrowserMessage"></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 show-stats">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                    <span class="text"> Hosts <span class="pull-right">1 / 1</span> </span>
                    <progressbar value="100" type="success"></progressbar>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                    <span class="text"> Disks <span class="pull-right">18 / 20</span> </span>
                    <progressbar value="90" type="danger"></progressbar>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                    <span class="text"> Disk Usage <span class="pull-right">70TB / 100TB</span> </span>
                    <progressbar value="70" type="warning"></progressbar>
                </div>
            </div>
        </div>
    </div>

    <div class="row show-stat-microcharts">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="easy-pie-chart" easypiechart ng-init="" percent="percentDiscUsage" options="defaultOptions">
                <span class="percent percent-sign" ng-bind="percent"></span>
            </div>
            <span class="easy-pie-title"> Disk Usage <i class="fa fa-caret-up icon-color-bad"></i> </span>
            <ul class="smaller-stat pull-right hidden-sm">
                <li>
                    <span class="label bg-color-greenLight"><i class="fa fa-caret-up"></i> 57%</span>
                </li>
                <li>
                    <span class="label bg-color-red"><i class="fa fa-caret-down"></i> 2%</span>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="easy-pie-chart" easypiechart ng-init="" percent="temperature" options="defaultOptions">
                <span class="percent degree-sign" ng-bind="percent"></span>
            </div>
            <span class="easy-pie-title"> Temperature <i class="fa fa-caret-down icon-color-bad"></i> </span>
            <ul class="smaller-stat pull-right">
                <li>
                    <span class="label bg-color-blueLight"><i class="fa fa-caret-up"></i> 0%</span>
                </li>
                <li>
                    <span class="label bg-color-darken"><i class="fa fa-caret-down"></i> 2%</span>
                </li>
            </ul>
        </div>
    </div>
</div>

