<!-- Volume Mirroring -->
<div class="form-group">
    <div ng-class="wizard ? 'col-sm-offset-2 col-sm-10' : 'col-sm-offset-3 col-sm-9'">
        <div class="checkbox checkbox-primary">
            <input id="volumeMirroring"
                   ng-model="data.volume_mirroring"
                   class="tc_volume_volume_mirroring"
                   type="checkbox">
            <label for="volumeMirroring">Volume Mirroring</label>
        </div>
    </div>
</div>
<!-- Remote Pool -->
<drbd-pool-selection pool="data.remote_pool"
                     pool-size="volumeData.megs"
                     pools="remote_pools"
                     validation="validation"
                     wizard="wizard"
                     ng-show="data.volume_mirroring">
</drbd-pool-selection>
<!-- Sync Rate -->
<div class="form-group"
     ng-class="{'has-error': (validation.$submitted || validation.syncer_rate.$dirty) &&
        validation.syncer_rate.$invalid}"
     ng-show="data.volume_mirroring">
    <label ng-class="wizard ? 'col-md-2' : 'col-sm-3'"
           class="control-label"
           for="syncer_rate">Sync Rate</label>
    <div ng-class="wizard ? 'col-md-10' : 'col-sm-9'">
        <input id="syncer_rate"
               name="syncer_rate",
               class="form-control"
               type="text"
               drbd-sync-rate-validate
               placeholder="e.g., 30M",
               ng-model="data.syncer_rate"
               ng-required="data.volume_mirroring">
        <span class="help-block"
              ng-show="(validation.$submitted || validation.syncer_rate.$dirty) &&
                validation.syncer_rate.$error.required">
            This field is required!
        </span>
        <span class="help-block"
              ng-show="validation.syncer_rate.$error.drbdSyncRateValidate">
            This is not a valid value.
        </span>
    </div>
</div>
<!-- Protocol -->
<div class="form-group" ng-show="data.volume_mirroring">
    <label ng-class="wizard ? 'col-md-2' : 'col-sm-3'"
           class="control-label"
           for="protocol">Protocol</label>
    <div ng-class="wizard ? 'col-md-10' : 'col-sm-9'">
        <select id="protocol"
                name="protocol",
                class="form-control"
                ng-model="data.protocol"
                ng-required="data.volume_mirroring">
            <option value="" hidden>Choose a protocol</option>
            <option value="A">Asynchronous</option>
            <option value="B">Semi-synchronous</option>
            <option value="C">Synchronous</option>
        </select>
    </div>
</div>
