<div class="col-sm-12 col-lg-6">
  <oa-loading-panel message="Form is loading..."
                    ng-show="!clusters && !error">
  </oa-loading-panel>
  <oa-error-panel message="Failed to load the form data."
                  on-back="cancelAction()"
                  ng-if="error">
  </oa-error-panel>

  <form name="poolForm"
      role="form"
      class="form-horizontal"
      ng-show="clusters && !error"
      novalidate
      oa-check-form>
    <div class="panel panel-default">
      <div class="panel-heading tc_formHeadline">
        <h3 class="panel-title">
          {{editing ? 'Edit' : 'Create'}} Ceph pool: {{pool.name}}
        </h3>
      </div>
      <div class="panel-body">
        <div class="form-group"
            ng-class="{'has-error': (poolForm.$submitted || poolForm.name.$dirty) && poolForm.name.$invalid}">
          <label class="control-label col-sm-3"
              for="poolName">
            Name
          </label>
          <div class="col-sm-9">
            <input id="poolName"
                name="name"
                type="text"
                class="form-control tc_pool_name"
                placeholder="Name..."
                ng-disabled="editing"
                ng-model="pool.name"
                uniquename="ceph-pool"
                validname
                ng-required="!editing"
                autofocus>
            <span class="help-block tc_nameRequired"
                ng-show="(poolForm.$submitted || poolForm.name.$dirty) && poolForm.name.$error.required">
              This field is required!
            </span>
            <span class="help-block tc_noValidName"
                ng-show="poolForm.name.$error.validname">
              {{errortext}}
            </span>
            <span class="help-block tc_noUniqueName"
                ng-show="poolForm.name.$error.uniquename">
              The chosen Ceph pool name is already in use.
            </span>
          </div>
        </div>

        <div ng-if="clusters.length || editing">
          <div class="form-group"
              ng-class="{'has-error': (poolForm.$submitted || poolForm.cluster.$dirty) && poolForm.cluster.$invalid}"
              ng-if="clusters.length !== 1 && !editing">
            <label class="control-label col-sm-3"
                for="cluster">
              Cluster
            </label>
            <div class="col-sm-9">
              <select class="form-control tc_cluster_selection"
                  id="cluster"
                  name="cluster"
                  ng-disabled="!clusters"
                  ng-model="data.cluster"
                  ng-options="(cluster.name + ' (' + cluster.fsid + ')') for cluster in clusters track by cluster.fsid"
                  ng-required="!editing">
                <option class="tc_clusterOption"
                    value="">
                  -- Select a cluster --
                </option>
              </select>
              <span class="help-block tc_clusterRequired"
                  ng-show="(poolForm.$submitted || poolForm.cluster.$dirty) && poolForm.cluster.$error.required">
                This field is required!
              </span>
              <span class="help-block tc_clusterLoading"
                  ng-show="poolForm.$error.clusterLoading">
                Couldn't load any cluster, please contact your administrator for details.
              </span>
            </div>
          </div>

          <div class="form-group"
              ng-class="{'has-error': (poolForm.$submitted || poolForm.poolTypes.$dirty) &&
                  poolForm.poolTypes.$invalid}">
            <label class="control-label col-sm-3"
                for="poolTypes">
              Pool type
            </label>
            <div class="col-sm-9">
              <select class="form-control tc_poolTypes_selection"
                  id="poolTypes"
                  name="poolTypes"
                  ng-change="rulesetChange()"
                  ng-model="pool.type"
                  ng-options="poolType.name as poolType.description for poolType in data.poolTypes"
                  ng-disabled="editing"
                  ng-required="!editing">
                <option class="tc_poolTypesOption"
                    value="">
                  -- Select a pool type --
                </option>
              </select>
              <span class="help-block tc_typeRequired"
                  ng-show="(poolForm.$submitted || poolForm.poolTypes.$dirty) && poolForm.poolTypes.$error.required">
                This field is required!
              </span>
            </div>
          </div>

          <div ng-show="editing || pool.type && data.cluster.loaded">
            <div class="form-group"
                ng-class="{'has-error': (poolForm.$submitted || poolForm.crushSet.$dirty) &&
                    poolForm.crushSet.$invalid}"
                ng-if="data.cluster.rules[pool.type].length > 0">
              <label class="control-label col-sm-3"
                  for="crushSet">
                Crush ruleset
              </label>
              <div class="col-sm-9">
                <select class="form-control tc_crushSet_selection"
                    id="crushSet"
                    name="crushSet"
                    ng-change="rulesetChange()"
                    ng-disabled="editing || data.cluster.rules[pool.type].length === 1"
                    ng-model="data.ruleset"
                    ng-options="rule.rule_name for rule in data.cluster.rules[pool.type]"
                    ng-required="!editing && data.cluster.rules[pool.type].length > 0">
                  <option class="tc_crushSetOption"
                      value="">
                    -- Select a crush ruleset --
                  </option>
                </select>
                <span class="help-block tc_crushSetRequired"
                    ng-show="(poolForm.$submitted || poolForm.crushSet.$dirty) && poolForm.crushSet.$error.required">
                  This field is required!
                </span>
                <span class="help-block"
                    ng-show="data.ruleset">
                  <ul class="list-inline">
                    <li ng-show="crushSize.show">
                      <a ng-click="crushSize.open = !crushSize.open">Size</a>
                      <div uib-collapse="!crushSize.open"
                          expanding="crushSteps.show = !crushSteps.show"
                          collapsed="crushSteps.show = !crushSteps.show">
                        <ul class="list-unstyled">
                          <li>Minimum size: {{data.ruleset.min_size}}</li>
                          <li>Maximum size: {{data.ruleset.max_size}}</li>
                        </ul>
                      </div>
                    </li>
                    <li ng-show="crushSteps.show">
                      <a ng-click="crushSteps.open = !crushSteps.open">Steps</a>
                      <div uib-collapse="!crushSteps.open"
                          expanding="crushSize.show = !crushSize.show"
                          collapsed="crushSize.show = !crushSize.show">
                        <ol>
                          <li ng-bind="describeStep(step)" ng-repeat="step in data.ruleset.steps"></li>
                        </ol>
                      </div>
                    </li>
                  </ul>
                </span>
              </div>
            </div>

            <div class="form-group"
                ng-class="{'has-error': (poolForm.$submitted || poolForm.size.$dirty) && poolForm.size.$invalid}"
                ng-if="pool.type === 'replicated'">
              <label class="control-label col-sm-3"
                  for="size">
                Replicated size
              </label>
              <div class="col-sm-9">
                <input class="form-control tc_pool_size"
                    id="size"
                    max="{{editing ? pool.size : getMaxSize()}}"
                    min="{{editing ? pool.size : data.ruleset.min_size || 1}}"
                    name="size"
                    type="number"
                    ng-change="onSizeChange()"
                    ng-disabled="editing"
                    ng-model="pool.size"
                    ng-model-options="{ updateOn: 'blur' }"
                    ng-required="!editing">
                <span class="help-block tc_sizeRequired"
                    ng-show="(poolForm.$submitted || poolForm.size.$dirty) && poolForm.size.$error.required">
                  This field is required!
                </span>
                <span class="help-block tc-applied-rule-set"
                    ng-hide="editing || poolForm.size.$invalid">
                  <ul class="list-inline">
                    <li>Minimum: {{data.ruleset.min_size || 1}}</li>
                    <li>Maximum: {{getMaxSize()}}</li>
                  </ul>
                </span>
                <span class="help-block tc-size-out-of-range"
                    ng-show="!editing && poolForm.size.$invalid">
                  The size specified is out of range.
                  A value from {{data.ruleset.min_size || 1}} to {{getMaxSize()}} is valid.
                </span>
              </div>
            </div>

            <div class="form-group"
                ng-class="{'has-error': (poolForm.$submitted || poolForm.erasureProfiles.$dirty) &&
                    poolForm.erasureProfiles.$invalid}"
                ng-if="pool.type === 'erasure'">
              <label class="control-label col-sm-3"
                  for="erasureProfiles">
                Erasure code profile
              </label>
              <div class="col-sm-9">
                <div class="input-group">
                  <select class="form-control tc_erasureProfiles_selection"
                      id="erasureProfiles"
                      name="erasureProfiles"
                      ng-change="ecProfileChange(); pgSizeChange()"
                      ng-model="pool.erasure.profile"
                      ng-disabled="editing || data.profiles.length === 1"
                      ng-options="profile as profile.name for profile in data.profiles"
                      ng-required="!editing && pool.type === 'erasure'">
                    <option class="tc_erasureProfilesOption"
                        value="">
                      -- Select an erasure code profile --
                    </option>
                  </select>
                  <span class="input-group-btn">
                    <button class="btn btn-default"
                        type="button"
                        ng-disabled="editing"
                        ng-click="addErasureCodeProfile()">
                      <i class="fa fa-plus"
                          aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-default"
                        type="button"
                        ng-click="deleteErasureCodeProfile()"
                        ng-disabled="editing || data.profiles.length < 1">
                      <i class="fa fa-trash-o"
                          aria-hidden="true"></i>
                    </button>
                  </span>
                </div>
                <span class="help-block tc_erasureRequired"
                    ng-show="(poolForm.$submitted || poolForm.erasureProfiles.$dirty) && poolForm.erasureProfiles.$error.required">
                  This field is required!
                </span>
              </div>
            </div>

            <div class="form-group"
                ng-class="{'has-error': (poolForm.$submitted || poolForm.pgNum.$dirty) && poolForm.pgNum.$invalid}">
              <label class="control-label col-sm-3"
                  for="pgNum">
                Placement groups
              </label>
              <div class="col-sm-9">
                <input class="form-control tc_pool_pgNum"
                    id="pgNum"
                    placeholder="{{pool.pg_num}}"
                    min="{{pool.pg_num}}"
                    name="pgNum"
                    type="number"
                    ng-keyup="pgKeyChange($event)"
                    ng-model="data.pg_num"
                    ng-model-options="{ updateOn: 'blur' }"
                    ng-change="pgUpdate()"
                    required>
                <span class="help-block tc_pgNumDecreaseInvalid"
                    ng-show="editing">
                  The pg size of a pool can only be increased in edit mode.
                </span>
                <span class="help-block tc_pgNumRequired"
                    ng-show="(poolForm.$submitted || poolForm.pgNum.$dirty) && poolForm.pgNum.$error.required">
                  This field is required!
                </span>
                <span class="help-block">
                  <a target="_blank" href="http://ceph.com/pgcalc">Calculation help</a>
                </span>
              </div>
            </div>

            <div class="form-group"
                ng-if="bluestore && pool.type === 'erasure'">
              <label class="control-label col-sm-3">
                Flags
              </label>
              <div class="col-sm-9">
                <div class="input-group">
                  <div class="checkbox checkbox-primary">
                    <input id="ec-overwrites"
                        type="checkbox"
                        ng-disabled="editing"
                        ng-model="data.flags.ec_overwrites"
                        ng-name="ec-overwrites">
                    <label for="ec-overwrites"
                        class="tc-ec-overwrites">
                      EC Overwrite
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <!-- Compression -->
            <div ng-if="bluestore">
              <legend>Compression</legend>
              <div class="form-group"
                  ng-class="{'has-error': (poolForm.$submitted || poolForm.compressionMode.$dirty) && poolForm.compressionMode.$invalid}">
                <label class="control-label col-sm-3" for="compressionMode">
                  Mode
                </label>
                <div class="col-sm-9">
                  <select class="form-control tc_compressionMode"
                      id="compressionMode" name="compressionMode"
                      ng-disabled="editing"
                      ng-model="pool.compression_mode"
                      ng-options="compressionMode.name as compressionMode.description for compressionMode in data.compressionModes"
                      ng-required="!editing">
                    <option class="tc_compressionModeOption" value="">
                      -- Select a compression mode --
                    </option>
                  </select>
                  <span class="help-block tc_compressionModeRequired"
                      ng-show="(poolForm.$submitted || poolForm.compressionMode.$dirty) && poolForm.compressionMode.$error.required">
                    This field is required!
                  </span>
                </div>
              </div>
              <div ng-show="pool.compression_mode && pool.compression_mode !== 'none'">
                <div class="form-group"
                    ng-class="{'has-error': (poolForm.$submitted || poolForm.compressionAlgorithm.$dirty) && poolForm.compressionAlgorithm.$invalid}">
                  <label class="control-label col-sm-3" for="compressionAlgorithm">
                    Algorithm
                  </label>
                  <div class="col-sm-9">
                    <select class="form-control tc_compressionAlgorithmSelection"
                        id="compressionAlgorithm" name="compressionAlgorithm"
                        ng-disabled="editing"
                        ng-model="pool.compression_algorithm"
                        ng-options="compressionAlgorithm.name as compressionAlgorithm.description for compressionAlgorithm in data.compressionAlgorithms"
                        ng-required="!editing && pool.compression_mode && pool.compression_mode !== 'none'">
                      <option class="tc_compressionAlgorithmOption" value="">
                        -- Select a compression algorithm --
                      </option>
                    </select>
                    <span class="help-block tc_compressionAlgorithmRequired"
                        ng-show="(poolForm.$submitted || poolForm.compressionAlgorithm.$dirty) && poolForm.compressionAlgorithm.$error.required">
                      This field is required!
                    </span>
                  </div>
                </div>
                <div class="form-group"
                    ng-class="{'has-error': (poolForm.$submitted || poolForm.compressionMinBlobSize.$dirty) && poolForm.compressionMinBlobSize.$invalid}">
                  <label class="control-label col-sm-3" for="compressionMinBlobSize">
                    Minimum blob size
                  </label>
                  <div class="col-sm-9">
                    <input id="compressionMinBlobSize" name="compressionMinBlobSize"
                        type="text" min="0" ng-model-options="{ updateOn: 'blur' }"
                        class="form-control tc_compressionMinBlobSize"
                        placeholder="e.g., 128K"
                        ng-disabled="editing"
                        ng-model="data.compression_min_blob_size"
                        ng-change="updateCompressionMinBlobSize()"
                        ng-required="!editing && pool.compression_mode && pool.compression_mode !== 'none'">
                    <span class="help-block tc_compressionMinBlobSizeRequired"
                        ng-show="(poolForm.$submitted || poolForm.compressionMinBlobSize.$dirty) && poolForm.compressionMinBlobSize.$error.required">
                      This field is required!
                    </span>
                    <span class="help-block tc_compressionMinBlobSizeMin"
                        ng-show="poolForm.compressionMinBlobSize.$error.min">
                      Value should be greater or equal to 0
                    </span>
                  </div>
                </div>
                <div class="form-group"
                    ng-class="{'has-error': (poolForm.$submitted || poolForm.compressionMaxBlobSize.$dirty) && poolForm.compressionMaxBlobSize.$invalid}">
                  <label class="control-label col-sm-3" for="compressionMaxBlobSize">
                    Maximum blob size
                  </label>
                  <div class="col-sm-9">
                    <input id="compressionMaxBlobSize" type="text" min="0"
                        class="form-control tc_compressionMaxBlobSize"
                        placeholder="e.g., 512K" name="compressionMaxBlobSize"
                        ng-disabled="editing"
                        ng-model-options="{ updateOn: 'blur' }"
                        ng-model="data.compression_max_blob_size"
                        ng-change="updateCompressionMaxBlobSize()"
                        ng-required="!editing && pool.compression_mode && pool.compression_mode !== 'none'">
                    <span class="help-block tc_compressionMaxBlobSizeRequired"
                        ng-show="(poolForm.$submitted || poolForm.compressionMaxBlobSize.$dirty) && poolForm.compressionMaxBlobSize.$error.required">
                      This field is required!
                    </span>
                    <span class="help-block tc_compressionMaxBlobSizeMin"
                        ng-show="poolForm.compressionMaxBlobSize.$error.min">
                      Value should be greater or equal to 0
                    </span>
                  </div>
                </div>
                <div class="form-group"
                    ng-class="{'has-error': (poolForm.$submitted || poolForm.compressionRequiredRatio.$dirty) && poolForm.compressionRequiredRatio.$invalid}">
                  <label class="control-label col-sm-3"
                      for="compressionRequiredRatio">
                    Required ratio
                  </label>
                  <div class="col-sm-9">
                    <input id="compressionRequiredRatio"
                        name="compressionRequiredRatio"
                        type="number" min="0" max="1" step="0.1"
                        class="form-control tc_compressionRequiredRatio"
                        placeholder="Compression required ratio..."
                        ng-disabled="editing"
                        ng-required="!editing"
                        ng-model="pool.compression_required_ratio">
                    <span class="help-block tc_ccompressionRequiredRatioRequired"
                        ng-show="(poolForm.$submitted || poolForm.compressionRequiredRatio.$dirty) && poolForm.compressionRequiredRatio.$error.required">
                      This field is required!
                    </span>
                    <span class="help-block tc_compressionRequiredRatioMinMax"
                        ng-show="poolForm.compressionRequiredRatio.$error.min || poolForm.compressionRequiredRatio.$error.max">
                      Value should be between 0.0 and 1.0
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Compression end-->

            <!-- Applications -->
            <legend>Applications</legend>
            <div class="form-group">
              <label class="col-sm-3 control-label"
                  for="appSelection">
                Add applications
              </label>
              <div class="col-sm-9">
                <div class="input-group">
                  <select class="form-control tc-app-selection"
                      ID="AppSelection"
                      name="appSelection"
                      ng-model="app.selection"
                      ng-change="apps.getAvail()"
                      ng-options="appName for appName in apps.getAvail()">
                    <option class="tc_appOption" value="">
                      - Select an application to use -
                    </option>
                  </select>
                  <span class="input-group-btn">
                    <button class="btn btn-default tc-add-app"
                        type="button"
                        uib-tooltip="Add application"
                        ng-disabled="!app.selection || apps.used.length > 3"
                        ng-click="app.add(app.selection)">
                      <i class="fa fa-plus"
                          aria-hidden="true"></i>
                    </button>
                  </span>
                </div>
                <span class="help-block tc-max-apps" ng-show="apps.used.length > 3">
                  You can use up to four application per pool.
                </span>
              </div>
            </div>
            <div class="form-group"
                ng-class="{'has-error': (poolForm.$submitted || poolForm.apps.$dirty) && poolForm.apps.$invalid}">
              <label class="col-sm-3 control-label"
                  for="apps">
                Applications
              </label>
              <div class="col-sm-9">
                <span ng-repeat="appName in apps.used track by $index">
                  <div class="input-group"
                      ng-class="{'has-error': $first && poolForm.customApp && !poolForm.customApp.$valid}">
                    <input type="text"
                        class="form-control tc-used-app"
                        name="{{appName ? appName : 'customApp'}}"
                        maxlength="128"
                        ng-model="appName"
                        ng-model-options="{ updateOn: 'blur' }"
                        ng-change=app.add(appName)
                        ng-value="appName"
                        pattern="[A-Za-z0-9_]+"
                        ng-readonly="appName !== undefined && appName !== ''">
                    <span class="input-group-btn">
                      <button class="btn btn-default tc-delete-app"
                          type="button"
                          uib-tooltip="Remove application"
                          ng-click="app.removeByIndex($index)">
                        <i class="fa fa-trash-o"></i>
                      </button>
                    </span>
                  </div>
                  <span class="help-block" ng-show="$first && poolForm.customApp && !poolForm.customApp.$valid">
                    The following characters are valid: _ a-z A-Z 0-9
                  </span>
                  <br>
                </span>
                <span ng-hide="apps.used.length !== 0"
                    class="form-control no-border text-muted">
                  No application added <input type="text"
                                           class="no-border"
                                           ng-model="apps.used[0]"
                                           name="apps"
                                           id="apps"
                                           ng-if="apps.used.length === 0"
                                           required readonly>
                </span>
                <span class="help-block" ng-show="poolForm.$submitted || poolForm.apps.$dirty">
                  <span class="tc_appsRequired" ng-show="poolForm.apps.$error.required">Required field</span>
                </span>
              </div>
            </div>
            <!-- Applications end-->

          </div>
        </div>
        <div class="text-center"
            ng-if="(!clusters.length || cluster.length === 1 && !data.cluster.loaded)">
          <i class="fa fa-spinner fa-spin fa-fw"></i>
        </div>
      </div>

      <div class="panel-footer">
        <div class="button-group text-right">
          <oa-submit-button form="poolForm" on-submit="submitAction()">
            {{ !editing ? 'Create' : 'Update' }}
          </oa-submit-button>
          <button class="btn btn-sm btn-default tc_backButton"
              type="button"
              ng-click="cancelAction()">
            Back
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
