<div class="col-sm-12 col-lg-6">
  <form name="poolForm"
      role="form"
      class="form-horizontal"
      novalidate
      oa-check-form>
    <div class="panel panel-default">
      <div class="panel-heading tc_formHeadline">
        <h3 class="panel-title">
          Create Ceph pool: {{pool.name}}
        </h3>
      </div>
      <div class="panel-body">
        <div class="form-group"
            ng-class="{'has-error': (poolForm.$submitted || poolForm.name.$dirty) && poolForm.name.$invalid}">
          <label class="control-label col-sm-3"
              for="poolName">
            Name
          </label>
          <div class="col-sm-9">
            <input id="poolName"
                name="name"
                type="text"
                class="form-control tc_pool_name"
                placeholder="Name..."
                ng-model="pool.name"
                uniquename="ceph-pool"
                validname
                required
                autofocus>
            <span class="help-block tc_nameRequired"
                ng-show="(poolForm.$submitted || poolForm.name.$dirty) && poolForm.name.$error.required">
              This field is required!
            </span>
            <span class="help-block tc_noValidName"
                ng-show="poolForm.name.$error.validname">
              {{errortext}}
            </span>
            <span class="help-block tc_noUniqueName"
                ng-show="poolForm.name.$error.uniquename">
              The chosen Ceph pool name is already in use.
            </span>
          </div>
        </div>

        <div class="form-group"
            ng-class="{'has-error': (poolForm.$submitted || poolForm.cluster.$dirty) && poolForm.cluster.$invalid}">
          <label class="control-label col-sm-3"
              for="cluster">
            Cluster
          </label>
          <div class="col-sm-9">
            <select class="form-control tc_cluster_selection"
                id="cluster"
                name="cluster"
                ng-disabled="!clusters"
                ng-model="data.cluster"
                ng-options="(cluster.name + ' (' + cluster.fsid + ')') for cluster in clusters track by cluster.fsid"
                required>
              <option class="tc_clusterOption"
                  value=""
                  ng-bind="waitingClusterMsg">
              </option>
            </select>
            <span class="help-block tc_clusterRequired"
                ng-show="(poolForm.$submitted || poolForm.cluster.$dirty) && poolForm.cluster.$error.required">
              This field is required!
            </span>
            <span class="help-block tc_clusterLoading"
                ng-show="poolForm.$error.clusterLoading">
              Couldn't load any cluster, please contact your administrator for details.
            </span>
          </div>
        </div>

        <div class="form-group"
            ng-class="{'has-error': (poolForm.$submitted || poolForm.poolTypes.$dirty) &&
                poolForm.poolTypes.$invalid}">
          <label class="control-label col-sm-3"
              for="poolTypes">
            Pool type
          </label>
          <div class="col-sm-9">
            <select class="form-control tc_poolTypes_selection"
                id="poolTypes"
                name="poolTypes"
                ng-model="pool.type"
                ng-options="poolType.name as poolType.description for poolType in data.poolTypes"
                required>
              <option class="tc_poolTypesOption"
                  value="">
                -- Select a pool type --
              </option>
            </select>
            <span class="help-block tc_typeRequired"
                ng-show="(poolForm.$submitted || poolForm.poolTypes.$dirty) && poolForm.poolTypes.$error.required">
              This field is required!
            </span>
          </div>
        </div>

        <div class="form-group"
            ng-class="{'has-error': (poolForm.$submitted || poolForm.pgNum.$dirty) && poolForm.pgNum.$invalid}"
            ng-show="pool.type === 'replicated' || pool.type === 'erasure'">
          <label class="control-label col-sm-3"
              for="pgNum">
            Placement groups
          </label>
          <div class="col-sm-9">
            <input class="form-control tc_pool_pgNum"
                id="pgNum"
                min="1"
                name="pgNum"
                type="number"
                ng-model="pool.pg_num"
                required>
            <span class="help-block tc_pgNumRequired"
                ng-show="(poolForm.$submitted || poolForm.pgNum.$dirty) && poolForm.pgNum.$error.required">
              This field is required!
            </span>
          </div>
        </div>

        <!-- Replicated begin -->
        <div ng-show="pool.type === 'replicated'">
          <div class="form-group"
              ng-class="{'has-error': (poolForm.$submitted || poolForm.size.$dirty) && poolForm.size.$invalid}">
            <label class="control-label col-sm-3"
                for="replica_size">
              Replica size
            </label>
            <div class="col-sm-9">
              <input class="form-control tc_pool_size"
                  id="replica_size"
                  max="{{data.osdCount}}"
                  min="1"
                  name="size"
                  type="number"
                  ng-model="pool.replicated.size"
                  ng-required="pool.type === 'replicated'">
              <span class="help-block tc_sizeRequired"
                  ng-show="(poolForm.$submitted || poolForm.size.$dirty) && poolForm.size.$error.required">
                This field is required!
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox checkbox-primary">
                <input type="checkbox"
                    ng-disabled="poolForm.crushSet.$error.sizeError"
                    ng-model="data.expert"
                    ng-name="expert">
                <label class="tc_expertSettings"
                    for="data.expert"
                    ng-click="data.expert = poolForm.crushSet.$error.sizeError ||!data.expert">
                  Expert settings
                </label>
              </div>
            </div>
          </div>
          <div ng-show="data.expert || poolForm.crushSet.$error.sizeError">
            <div class="form-group"
                ng-class="{'has-error': (poolForm.$submitted || poolForm.crushSet.$dirty) &&
                    poolForm.crushSet.$invalid}">
              <label class="control-label col-sm-3"
                  for="crushSet">
                Crush ruleset
              </label>
              <div class="col-sm-9">
                <select class="form-control tc_crushSet_selection"
                    id="crushSet"
                    name="crushSet"
                    ng-enabled="data.cluster" ng-model="data.ruleset"
                    ng-options="rule.rule_name for rule in data.cluster.rules"
                    ng-required="data.expert">
                  <option class="tc_crushSetOption"
                      value="">
                    -- Select a crush ruleset --
                  </option>
                </select>
                <span class="help-block tc_crushSetRequired"
                    ng-show="(poolForm.$submitted || poolForm.crushSet.$dirty) && poolForm.crushSet.$error.required">
                  This field is required!
                </span>
                <span class="help-block tc_crushSetFailure"
                    ng-bind="replicaSizeError"
                    ng-show="(poolForm.$submitted || poolForm.crushSet.$dirty) && poolForm.crushSet.$error.sizeError">
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- Replicated end -->

        <!-- Erasure begin -->
        <div ng-show="pool.type === 'erasure'">
          <div class="form-group"
              ng-class="{'has-error': (poolForm.$submitted || poolForm.erasureProfiles.$dirty) &&
                  poolForm.erasureProfiles.$invalid}">
            <label class="control-label col-sm-3"
                for="erasureProfiles">
              Erasure code profile
            </label>
            <div class="col-sm-9">
              <div class="input-group">
                <select class="form-control tc_erasureProfiles_selection"
                    id="erasureProfiles"
                    name="erasureProfiles"
                    ng-model="pool.erasure.profile"
                    ng-options="profile as profile.name for profile in data.profiles"
                    ng-required="pool.type === 'erasure'">
                  <option class="tc_erasureProfilesOption"
                      value="">
                    -- Select an erasure code profile --
                  </option>
                </select>
                <span class="input-group-btn">
                  <button class="btn btn-default"
                      type="button"
                      ng-click="addErasureCodeProfile()">
                    <i class="fa fa-plus"
                        aria-hidden="true"></i>
                  </button>
                  <button class="btn btn-default"
                      type="button"
                      ng-click="deleteErasureCodeProfile()"
                      ng-disabled="data.profiles.length < 1">
                    <i class="fa fa-trash-o"
                        aria-hidden="true"></i>
                  </button>
                </span>
              </div>
              <span class="help-block tc_erasureRequired"
                  ng-show="(poolForm.$submitted || poolForm.erasureProfiles.$dirty) && poolForm.erasureProfiles.$error.required">
                This field is required!
              </span>
            </div>
          </div>
        </div>
        <!-- Erasure end -->
      </div>

      <div class="panel-footer">
        <div class="button-group text-right">
          <button class="btn btn-sm btn-primary tc_submitButton"
              type="submit"
              ng-click="submitAction(poolForm)"
              ng-disabled="poolForm.$invalid || poolForm.$submitted">
            Create
            <i class="fa fa-spinner fa-spin fa-fw"
              ng-if="poolForm.$submitted"></i>
          </button>
          <button class="btn btn-sm btn-default tc_backButton"
              type="button"
              ng-click="cancelAction()">
            Back
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
