<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Cache tier of {{selection.item.name}}</h3>
    </div>
    <div class="panel-body">
        <h2>Basic information:</h2>
        <dl class="dl-horizontal">
            <dt>tier_of:</dt>
            <dd ng-bind="selection.item.tier_of"></dd>
            <dt>write_tier:</dt>
            <dd ng-bind="selection.item.write_tier"></dd>
            <dt>tiers:</dt>
            <dd ng-bind="selection.item.tiers | json"></dd>
        </dl>

        <h2>Advanced information:</h2>
        <dl class="dl-horizontal">
            <dt>target_max_bytes:</dt>
            <dd ng-bind="selection.item.target_max_bytes"></dd>
            <dt>hit_set_period:</dt>
            <dd ng-bind="selection.item.hit_set_period"></dd>
            <dt>hit_set_count:</dt>
            <dd ng-bind="selection.item.hit_set_count"></dd>
            <dt>hit_set_params:</dt>
            <dd ng-bind="selection.item.hit_set_params | json"></dd>
        </dl>
    </div>
</div>
