<oadatatable data="data" class="oadatatable tc_cephPoolTable" filter-config="filterConfig" selection="selection">
    <table class="table table-striped table-bordered table-hover dataTable">
        <thead>
            <tr>
                <th class="oadatatablecheckbox" ng-if="selection.available">
                    <input type="checkbox" ng-model="selection.checkAll"/>
                </th>
                <th ng-show="columns['Name']">Name</th>
                <th ng-show="columns['ID']">ID</th>
                <th ng-show="columns['Replicas']">Replicas</th>
                <th ng-show="columns['Placement Groups']">Placement Groups</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data.pool"
                ng-class="{ info: isRowSelected(row) }"
                ng-click="toggleSelection(row, $event)">
                <td ng-if="selection.available">
                    <input type="checkbox" checklist-model="selection.items" checklist-value="row"/>
                </td>
                <td ng-show="columns['Name']"><i class="fa fa-bomb" ng-show="row.full"></i> {{row.name}}</td>
                <td ng-show="columns['ID']" ng-bind="row.id"></td>
                <td ng-show="columns['Replicas']" ng-bind="row.size"></td>
                <td ng-show="columns['Placement Groups']" ng-bind="row.pg_num"></td>
            </tr>
        </tbody>
    </table>
</oadatatable>
