<div ng-show="selection.item">
    <ul class="nav nav-tabs">
        <li ui-sref-active="active">
            <a ui-sref="cephPools.detail.status({cephPool: selection.item.id, '#': 'more'})"
               class="tc_statusTab" data-toggle="tab" data-target="#tab-content">Status</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="cephPools.detail.cacheTier({cephPool: selection.item.id, '#': 'more'})"
               class="tc_cacheTieringTab" data-toggle="tab" data-target="#tab-content">Cache Tiering</a>
        </li>
    </ul>
    <div class="tab-content" ui-view="tab-content"></div>
</div>
