
div.lvlistheader {
	width: 800px;
	min-height: 20px;
	margin: 5px auto;
	background-color: #EDF3FE;
	border: 1px dotted darkgrey;
	clear: both;
}

div.lvlistheader img {
	border: none;
}


div.lv {
	width: 800px;
	min-height: 90px;
	margin: 5px auto;
	background-color: #EDF3FE;
	border: 1px dotted darkgrey;
	clear: both;
}

div.lv img {
	border: none;
}

div.vg {
	width: 800px;
	min-height: 90px;
	margin: 5px auto;
	background-color: #EDF3FE;
	border: 1px dotted darkgrey;
	clear: both;
}

div.vg img {
	border: none;
}



span.lvname {
	font: 14pt bold;
}


ul.lvtools {
	margin: 0;
	background-color: #EDF3FE;
	float: right;
	list-style-type: none;
}

ul.lvtools li {
	display: inline;
}


ul.sharetools {
	margin: 0;
	padding: 0;
	float: right;
	list-style-type: none;
}

ul.sharetools li {
	display: inline;
}


ul.lvinfo {
	margin: 0;
	background-color: #EDF3FE;
	clear: both;
	float: right;
	width: 300px;
	list-style-type: none;
}

ul.lvshares {
	width: 400px;
	background-color: white;
	margin-bottom: 0;
	min-height: 60px;
	list-style-image: url('icons/drive_network.png');
}

ul.vgshares {
	width: 400px;
	background-color: white;
	margin-bottom: 0;
	min-height: 60px;
	list-style-image: url('icons/drive.png');
}

span.lvstate {
	margin-left: 5px;
	padding-left: 20px;
	height: 16px;
	background-repeat: no-repeat;
	display: inline;
	color: gray;
	font-size: 8pt;
}

span.state_new {
	background-image: url('icons/time_go.png');
}

span.state_pending {
	background-image: url('icons/time_go.png');
}

span.state_active {
	background-image: url('icons/tick.png');
}

span.state_delete {
	background-image: url('icons/time_delete.png');
}

span.state_dpend {
	background-image: url('icons/time_delete.png');
}

span.state_done {
	background-image: url('icons/cross.png');
}

#addshare_type_selector {
	padding: 10px;
	border: 1px solid maroon;
	background-color: white;
	top: 150px;
	left: 550px;
	position: absolute;
	z-index: 10;
	visibility: hidden;
}

#addshare_type_selector form {
	display: inline;
	line-height: 20px;
}

#addshare_type_selector button {
	border: 1px solid maroon;
	height: 20px;
	padding: 0;
}

#addshare_type_selector button[type=reset] {
	background-image: url('icons/cancel.png');
 	background-repeat: no-repeat;
	background-position: 1px 1px;
	padding-left: 8px;
}


