{% extends "cmdlog/cmdlogbase.html" %}
{# kate: space-indent on; indent-width 2; replace-tabs on; #}
{% load cmdlog_extras %}
{% block Title %} :: Log Entry :: {{ object.command }}{% endblock %}
{% block Body %}
  <table class="main">
    <tr><th>Command</th><td>{{ object.command }}</td></tr>
    <tr><th>Start Time</th><td>{{ object.starttime }}</td></tr>
    <tr><th>End time</th><td>{{ object.endtime }}</td></tr>
    <tr><th>Return code</th><td>{{ object.exitcode }}</td></tr>
  </table>
<h3>Output</h3>
<pre style="whitespace: pre-wrap">{{ object.text|highlight }}</pre>
{% endblock %}
