{% extends "cmdlog/cmdlogbase.html" %}
{# kate: space-indent on; indent-width 2; replace-tabs on; #}
{% block Title %} :: Log Entries{% endblock %}
{% block Body %}
  {% if object_list %}
    <table class="main">
      <tr>
        <th class="left">Command</th>
        <th>Date/time</th>
        <th class="right">Exit status</th>
      </tr>
      {% for entry in object_list %}
        <tr>
          <td><a href="{% url cmdlog_entry_detail entry.id %}">{{ entry.command }}</a></td>
          <td>{{ entry.starttime }}
          <td>{{ entry.exitcode }}
        </tr>
      {% endfor %}
      <tr style="height: 10px">
        <td class="footer_left"></td>
        <td class="footer"></td>
        <td class="footer_right"></td>
      </tr>
    </table>
  {% else %}
    <div class="msgnotice">No commands have been logged yet.</div>
  {% endif %}
{% endblock %}
