{% extends "index_status.html" %}
{# kate: space-indent on; indent-width 2; replace-tabs on; #}
{% block Title %} :: Performance{% endblock %}
{% block defaultTogglee %}"noen"{% endblock %}
{% block Body %}
  <h1>Performance</h1>
   <div style="background: #DDFFE0;border: 1px solid green;display: block;font-weight: bold;margin: 2px auto 14px;padding: 6px 6px 6px 30px;text-align: left;"/>
        System:
        <br />
        <img src="/munin/localdomain/localhost.localdomain/cpu-day.png" align="top" />
        <img src="/munin/localdomain/localhost.localdomain/memory-day.png" align="top" />
   </div>
<br />
   <div style="background: #DDFFE0;border: 1px solid green;display: block;font-weight: bold;margin: 2px auto 14px;padding: 6px 6px 6px 30px;text-align: left;"/>
        Netzwerk:
        <br />
        <img src="/munin/localdomain/localhost.localdomain/nfsd-day.png" align="top" />
        <img src="/munin/localdomain/localhost.localdomain/if_eth0-day.png" align="top" />
   </div>
<br />
   <div style="background: #DDFFE0;border: 1px solid green;display: block;font-weight: bold;margin: 2px auto 14px;padding: 6px 6px 6px 30px;text-align: left;"/>
        Services:
        <br />
        <img src="/munin/localdomain/localhost.localdomain/apache_volume-day.png" align="top" />
        <img src="/munin/localdomain/localhost.localdomain/fw_packets-day.png" align="top" />
   </div>
{% endblock %}
