<html>
  <head>
    <title>openATTIC</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}/extjs/resources/css/ext-all.css" />
    {% if THEME %}
      <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/extjs_themes/css/xtheme-{{ THEME }}.css" />
    {% endif %}
    <script src="{{ MEDIA_URL }}/extjs/adapter/ext/ext-base.js"></script>
    <script src="{{ MEDIA_URL }}/extjs/ext-all.js"></script>
    <script src="/filer/userprefs/initprefs.js"></script>
    <script src="/filer/direct/api.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/portal/Portal.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/portal/PortalColumn.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/portal/Portlet.js"></script>
    <script src="{{ MEDIA_URL }}/js/directstateprovider.js"></script>
    <script src="{{ MEDIA_URL }}/js/menutree.js"></script>
    <script src="{{ MEDIA_URL }}/js/portal.js"></script>
    <script src="{{ MEDIA_URL }}/js/cmdlog__logentry.js"></script>
    <script src="{{ MEDIA_URL }}/js/ftp__user.js"></script>
    <script src="{{ MEDIA_URL }}/js/http__export.js"></script>
    <script src="{{ MEDIA_URL }}/js/lvm__diskmgmt.js"></script>
    <script src="{{ MEDIA_URL }}/js/lvm__logicalvolume.js"></script>
    <script src="{{ MEDIA_URL }}/js/lvm__mounts.js"></script>
    <script src="{{ MEDIA_URL }}/js/munin__muninnode.js"></script>
    <script src="{{ MEDIA_URL }}/js/nfs__export.js"></script>
    <script src="{{ MEDIA_URL }}/js/samba__share.js"></script>
    <script src="{{ MEDIA_URL }}/js/mainviewmanager.js"></script>
    <script>
      Ext.onReady( function(){
        Ext.QuickTips.init();

        mainpanel = new Ext.oa.MainViewManager({
          renderTo: document.body,
          buttons: [{
              text: 'Theme',
              handler: function(){
                Ext.Msg.prompt(
                  'Welches Schweinderl hättens denn gern?',
                  'Momentan gibts nur access und nix.',
                  function(btn, text){
                    if( btn == 'ok' ){
                      Ext.Ajax.request({
                        url: '{% url settheme %}',
                        success: function(){ window.location.reload(); },
                        params: { 'theme': text }
                      });
                    }
                  }
                );
              }
            }, {
              text:     'Raus hier',
              handler: function() {
                var conn = new Ext.data.Connection();
                conn.request({
                  url: '{% url logout %}',
                  success: function( response, options ){
                    var redirect = function(){
                      location.href = '{% url index %}';
                    };
                    window.setTimeout( redirect, 20000 );
                    Ext.Msg.show({
                      title:   'Logout',
                      msg:     'Sie haben sich erfolgreich ausgeloggt!',
                      buttons: Ext.MessageBox.OK,
                      fn:      redirect
                    });
                  }
                });
              }
            }, {
              text: "Drueck mich",
              handler: function(){
                lvm__LogicalVolume.is_mounted( 15, function( provider, result ){
                  if( result.result ){
                    Ext.Msg.alert("Mounted?", "svedrilicious");
                  }
                  else
                    Ext.Msg.alert("Mounted?", "oh noez");
                });
              }
            },{
              text: "Waka",
              handler: function(){ Ext.Msg.alert("Alert", "caprilicious"); }
            }
          ]
        });
        function updateLayout(){
          viewsize = {
            width:  Ext.lib.Dom.getViewWidth(),
            height: Ext.lib.Dom.getViewHeight()
          };
          mainpanel.setHeight( viewsize.height - 20 );
          mainpanel.setWidth(  viewsize.width  - 40 );
        }
        updateLayout();
        Ext.EventManager.onWindowResize(updateLayout);
      });
    </script>
    <style>
      .x-tab-panel-body {
        /* For some reason, the author of xtheme-access set this to white which looks stupid */
        background-color: #1F2730;
        border-color: #18181A;
        color: #FFFFF6;
      }
      div.munin-graphs { /* Siehe imagespanel.cls */
        padding-top: 10px;
        text-align: center;
        background-color: transparent;
      }
      div.thumb-wrap {
        text-align: center;
        font-size: 14px;
      }
      .x-tree-node-icon {
        height: 22px !important;
        width:  22px !important;
      }
    </style>
  </head>
  <body style="padding: 20px 20px 0; ">
  </body>
  <!-- kate: space-indent on; indent-width 2; replace-tabs on; -->
  <!-- vim:set shiftwidth=2 softtabstop=2 expandtab: -->
</html>
