{% extends "index.html" %}
{# kate: space-indent on; indent-width 2; replace-tabs on; #}
{% block topnav_class_services %}active{% endblock %}
{% block submenu %}
<ul>
  <li><strong class="toggler"><a href="#">Deduplizierung</a></strong></li>
  {% include "drbd/menu/services.html" %}
  <li><strong class="toggler"><a href="#">rSync</a></strong></li>
  <li><strong class="toggler"><a href="#">Snapmanager</a></strong></li>
  <li><strong class="toggler"><a href="#">VTL</a></strong></li>
  <li><strong class="toggler"><a href="#">Revisioning</a></strong></li>
  <li><strong class="toggler"><a href="#">Backup</a></strong></li>
</ul>
{% endblock %}
