<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{# kate: space-indent on; indent-width 2; replace-tabs on; #}
<html>
<head>
  <title>openATTIC{% block Title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ MEDIA_URL }}/style.css" />
  <link href="{{ MEDIA_URL }}/oitc_styles/styles/default/style.css" rel="stylesheet" type="text/css" />
  <script language="JavaScript" type="text/javascript" src="{{ MEDIA_URL }}/jquery/jquery.min.js"></script>
  <script language="JavaScript" type="text/javascript" src="{{ MEDIA_URL }}/jquery-ui/jquery-ui.js"></script>
  <script language="JavaScript" type="text/javascript" src="{{ MEDIA_URL }}/jquery-ui/ui/jquery.ui.accordion.js"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--[if gte IE 7]>
  <link href="{{ MEDIA_URL }}/oitc_styles/styles/default/styleie.css" rel="stylesheet" type="text/css" />
  <![endif]-->
  <script type="text/javascript">
    $(document).ready(function(){
      $("#menu_accordion").accordion({
        header: "strong.toggler",
        active: {% block MenuActive %}0{% endblock %}
        });

      {% block DocumentReadyFunction %}
      {% endblock %}
    });
  </script>
</head>
<body>
  {% block BodyHeader %}
  {% endblock %}
  <div id="head">
    <div id="head_tools">
      {% if user.is_authenticated %}
        {% if user.is_staff %}
          <a href="{% url admin:index %}">
            <img src="{{ MEDIA_URL }}/icons/bullet_wrench.png" title="Admin" />
          </a>
        {% endif %}
        <a href="{% url django.contrib.auth.views.logout %}">
          <img src="{{ MEDIA_URL }}/icons/door_out.png" title="Ausloggen" />
        </a>
        <a href="#" style="cursor:help">
          <img src="{{ MEDIA_URL }}/icons/door_open.png"
            title="{% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}" />
        </a>
      {% else %}
        <a href="{% url django.contrib.auth.views.login %}">
          <img src="{{ MEDIA_URL }}/icons/door_in.png" title="Einloggen" />
        </a>
      {% endif %}
    </div>
  </div>
  <div id="topmenu">
    <div id="topnav">
      <ul>
        <li>
          <a href="{% url __main__ %}" class="{% block topnav_class_home %}{% endblock %}">
            <img src="{{ MEDIA_URL }}/icons/door.png" /> Startseite
          </a>
        </li>
        <li>
          <a href="{% url stats_dashboard %}" class="{% block topnav_class_status %}{% endblock %}">
            <img alt="status" src="{{ MEDIA_URL }}/icons/information.png"/> Status
          </a>
        </li>
        <li>
          <a href="{% url lvm.views.lvlist %}" class="{% block topnav_class_volumes %}{% endblock %}">
            <img alt="lvs" src="{{ MEDIA_URL }}/icons/drive.png"/> Laufwerke
          </a>
        </li>
        <li>
          <a href="{% url iscsi_target_list %}" class="{% block topnav_class_shares %}{% endblock %}">
            <img alt="target list" src="{{ MEDIA_URL }}/icons/drive_network.png"/> Freigaben
          </a>
        </li>
        <li>
          <a href="{% url dummy_services %}" class="{% block topnav_class_services %}{% endblock %}">
            <img alt="target list" src="{{ MEDIA_URL }}/icons/application_lightning.png"/> Dienste
          </a>
        </li>
        <li>
          <a href="{% url dummy_system %}" class="{% block topnav_class_system %}{% endblock %}">
            <img alt="target list" src="{{ MEDIA_URL }}/icons/server.png"/> System
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div id="submenu">
    <a href="{% url __main__ %}"><img src="{{ MEDIA_URL }}/oitc_styles/styles/default/images/logo_trans.gif" /></a>
    <div id="subnav">
      <div id="menu_accordion">
        {% block submenu %}
        {% endblock %}
      </div>
    </div>
  </div>
  <div id="main">
    <div id="content">
      {% block Body %}
        There should be some content here.
      {% endblock %}
    </div>
  </div>
  {% block BodyFooter %}
  {% endblock %}
</body>
</html>
