{% extends "index.html" %}
{# kate: space-indent on; indent-width 2; replace-tabs on; #}
{% block submenu %}
<ul>
  <li><strong class="toggler visible">Netzwerk</strong></li>
  <ul id="menu_view1" class="togglee" style="">
    <li><a href="">General</a></li>
    <li><a href="">Management-Iface</a></li>
    <li><a href="">Zugriffs-Iface</a></li>
  </ul>
  <li><strong class="toggler visible">User Management</strong></li>
  <li><strong class="toggler visible">Datum/Uhrzeit</strong></li>
  <li><strong class="toggler visible">E-Mail</strong></li>
  <li><strong class="toggler visible">openITCockpit</strong></li>
  <li><strong class="toggler visible">openQRM</strong></li>
  <li><strong class="toggler visible">WebSSH</strong></li>
  <li><strong class="toggler visible">Online Update</strong></li>
  <li><strong class="toggler visible">Shutdown/Reboot</strong></li>
</ul>
{% endblock %}
