{% extends "index.html" %}
{# kate: space-indent on; indent-width 2; replace-tabs on; #}
{% block topnav_class_services %}active{% endblock %}
{% block submenu %}
<ul>
  <li><strong class="toggler visible">Deduplizierung</strong></li>
  {% include "drbd/menu/services.html" %}
  <li><strong class="toggler visible">rSync</strong></li>
  <li><strong class="toggler visible">Snapmanager</strong></li>
  <li><strong class="toggler visible">VTL</strong></li>
  <li><strong class="toggler visible">Revisioning</strong></li>
  <li><strong class="toggler visible">Backup</strong></li>
</ul>
{% endblock %}
