<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <form name="loginForm" ng-submit="login()" novalidate>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
            </div>
            <div class="panel-body">
                <fieldset>
                    <div class="form-group" ng-class="{'has-error': (submitted || loginForm.username.$dirty)
                    && loginForm.username.$invalid}">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                            <input class="form-control" ng-model="username" name="username" type="text" auto-focus
                                   placeholder="Username..." required>
                        </div>
                        <span class="help-block tc_usernameRequired" ng-show="(submitted || loginForm.username.$dirty)
                              && loginForm.username.$error.required" ng-bind="fieldRequired">
                        </span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': (submitted || loginForm.password.$dirty)
                         && loginForm.password.$invalid}">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" ng-model="password" name="password" type="password"
                                   placeholder="Password..." required>
                        </div>
                        <span class="help-block tc_passwdRequired" ng-show="(submitted || loginForm.password.$dirty)
                              && loginForm.password.$error.required" ng-bind="fieldRequired">
                        </span>
                    </div>
                </fieldset>
                <span class="errorbox" ng-show="submitted && loginFailed && (!loginForm.username.$error.required && !loginForm.password.$error.required)" ng-bind="correctInput">
                </span>
            </div>
            <div class="panel-footer">
                <div class="pull-right" style="padding: 6px">
                    <input type="submit" class="btn btn-primary" value="Sign In">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </form>
</div>
