<div class="login container-fluid">
    <div class="row vertical-align">
        <div class="col-sm-6 col-md-6 col-lg-6 hidden-xs">
            <img src="images/openattic_favicon_256x256.png" alt="openATTIC" class="pull-right">
        </div>
        <div class="col-xs-10 col-sm-4 col-md-4 col-lg-3 col-xs-offset-1 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
            <h1>Sign in</h1>
            <form name="loginForm" ng-submit="login()" novalidate>
                <div class="form-group" ng-class="{'has-error': (submitted || loginForm.username.$dirty) && loginForm.username.$invalid}">
                    <input name="username" type="text" ng-model="username" placeholder="Enter your username..." class="form-control" required auto-focus>
                </div>
                <span class="help-block tc_usernameRequired" ng-show="(submitted || loginForm.username.$dirty)
                              && loginForm.username.$error.required" ng-bind="fieldRequired">
                </span>

                <div class="form-group" ng-class="{'has-error': (submitted || loginForm.password.$dirty)    && loginForm.password.$invalid}">
                    <input name="password" type="password" ng-model="password" placeholder="Enter your password..." class="form-control" required>
                </div>
                <span class="help-block tc_passwdRequired" ng-show="(submitted || loginForm.password.$dirty)
                              && loginForm.password.$error.required" ng-bind="fieldRequired">
                </span>

                <span class="errorbox" ng-show="submitted && loginFailed && (!loginForm.username.$error.required && !loginForm.password.$error.required)" ng-bind="correctInput">

                </span>

                <button type="submit" class="btn btn-openattic btn-block">login</button>
            </form>
        </div>
    </div>
</div>
