<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <translate translate-params-name="$ctrl.selection.item.name">
        Cache tier of {{ name }}
      </translate>
    </h3>
  </div>
  <div class="panel-body">
    <h2 translate>Basic information:</h2>
    <dl class="dl-horizontal">
      <div ng-show="$ctrl.selection.item.tier_of">
        <dt translate>tier_of:</dt>
        <dd ng-bind="$ctrl.selection.item.tier_of"></dd>
      </div>
      <div ng-show="$ctrl.selection.item.write_tier">
        <dt translate>write_tier:</dt>
        <dd ng-bind="$ctrl.selection.item.write_tier"></dd>
      </div>
      <dt translate>tiers:</dt>
      <dd ng-bind="$ctrl.selection.item.tiers | json"></dd>
    </dl>

    <div ng-show="$ctrl.selection.item.target_max_bytes !== 0 || $ctrl.selection.item.hit_set_period !== 0 ||
                  $ctrl.selection.item.hit_set_count !== 0 || $ctrl.selection.item.hit_set_param.type !== none">
      <h2 translate>Advanced information:</h2>
      <dl class="dl-horizontal">
        <div ng-show="$ctrl.selection.item.target_max_bytes !== 0">
          <dt translate>target_max_bytes:</dt>
          <dd ng-bind="$ctrl.selection.item.target_max_bytes"></dd>
        </div>
        <div ng-show="$ctrl.selection.item.hit_set_period !== 0">
          <dt translate>hit_set_period:</dt>
          <dd ng-bind="$ctrl.selection.item.hit_set_period"></dd>
        </div>
        <div ng-show="$ctrl.selection.item.hit_set_count !== 0">
          <dt translate>hit_set_count:</dt>
          <dd ng-bind="$ctrl.selection.item.hit_set_count"></dd>
        </div>
        <div ng-show="$ctrl.selection.item.hit_set_param.type !== none">
          <dt translate>hit_set_params:</dt>
          <dd ng-bind="$ctrl.selection.item.hit_set_params | json"></dd>
        </div>
      </dl>
    </div>
  </div>
</div>
