<div class="openattic-modal-header">
    <span>Delete User</span>
</div>
<div class="openattic-modal-content">
    <p>You have selected to delete the user <strong>{{user.username}}</strong>.</p>
    <p>If this was the action that you wanted to do, please confirm your choice, or cancel and return to the page.</p>

    <form name="deleteForm" role="form" novalidate>
        <div class="MessageBoxButtonSection">
            <button id="bot2-Msg1" class="btn btn-default btn-sm botTempo" ng-click="delete()"
                    ng-disabled="deleteForm.$invalid">Delete User</button>
            <button id="bot1-Msg1" class="btn btn-default btn-sm botTempo" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>