{% extends "iscsi/iscsibase.html" %}
{# kate: space-indent on; indent-width 2; replace-tabs on; #}
{% block Title %} :: Initiators{% endblock %}
{% block Body %}
  {% if object_list %}
    <table class="main">
      <tr>
        <th class="left">Initiator</th>
        <th>Address</th>
        <th class="right">
          <a style="margin-left:20px;font-size:12px;" href="{% url iscsi_initiator_add %}">
            <img src="{{ MEDIA_URL }}/icons/add.png" alt="add" />
          </a>
        </th>
      </tr>
      {% for initr in object_list %}
      <tr>
        <td><a href="{% url iscsi_initiator_edit initr.id %}">{{ initr.name }}</a></td>
        <td>{{ initr.address }}</td>
        <td align="right">
          <a href="{% url iscsi_initiator_delete initr.id %}">
            <img src="{{ MEDIA_URL }}/icons/delete.png" alt="delete" />
          </a>
        </td>
      </tr>
      {% endfor %}
      <tr style="height: 10px">
        <td class="footer_left"></td>
        <td class="footer"></td>
        <td class="footer_right"></td>
      </tr>
    </table>
  {% else %}
    <div class="msgnotice">No exports...</div>
  {% endif %}
{% endblock %}

