{% extends "index.html" %}
{# kate: space-indent on; indent-width 2; replace-tabs on; #}
{% block submenu %}
<ul>
  <li>
    <strong class="toggler visible">iSCSI</strong>
    <ul id="menu_view1" class="togglee" style="">
      <li><a href="{% url iscsi_target_list %}"><img alt="target list" src="{{ MEDIA_URL }}/icons/package.png"/> Target List</a></li>
      <li><a href="{% url iscsi_initiator_list %}"><img alt="initiator list" src="{{ MEDIA_URL }}/icons/computer.png"/> Initiator List</a></li>
    </ul>
  </li>
</ul>
{% endblock %}
