<div class="overlay" ng-show="waiting">
    <div class="overlay-content">
        <i class="fa fa-4x fa-spinner fa-spin"></i>
    </div>
</div>
<div class="dataTables_wrapper clearfix">
    <div class="row">
        <div class="col-sm-6">
            <!-- entries -->
            <div class="dataTables_length" >
                <button type="button" class="tc_entries_dropdown btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">
                    {{ filterConfig.entries }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu arrow-box-up-right oa-dropdown-menu oa-dropdown-numbers" role="menu">
                    <li class="tc_entries_2" ng-class="{active: filterConfig.entries ===   2}">
                        <a ng-click="filterConfig.entries =   2">  2</a>
                    </li>
                    <li class="tc_entries_10" ng-class="{active: filterConfig.entries ===  10}">
                        <a ng-click="filterConfig.entries =  10"> 10</a>
                    </li>
                    <li class="tc_entries_25" ng-class="{active: filterConfig.entries ===  25}">
                        <a ng-click="filterConfig.entries =  25"> 25</a>
                    </li>
                    <li class="tc_entries_50" ng-class="{active: filterConfig.entries ===  50}">
                        <a ng-click="filterConfig.entries =  50"> 50</a>
                    </li>
                    <li class="tc_entries_100" ng-class="{active: filterConfig.entries === 100}">
                        <a ng-click="filterConfig.entries = 100">100</a>
                    </li>
                </ul>
            </div>
            <!-- end entries-->

            <!-- hide columns -->
            <showhidecolumns></showhidecolumns>
            <!-- end hide columns -->

            <!-- refresh -->
            <div class="widget-toolbar tc_refreshBtn">
                <a ng-click="reloadTable()">
                    <i class="fa fa-lg fa-refresh"></i>
                </a>
            </div>
            <!-- end refresh -->
        </div>
        <div class="col-sm-6">
            <!-- search -->
            <div class="input-group pull-right">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
                <input class="form-control" type="search" ng-model="filterConfig.search" ng-model-options="searchModelOptions" />
            </div>
            <!-- end search -->

            <!-- actions -->
            <div class="oadatatableactions pull-right"></div>
            <!-- end actions -->
        </div>
    </div>

    <div class="row dataTables_content">
        <div class="col-sm-12"></div>
    </div>

    <div class="row">
        <!-- number of entries -->
        <div class="col-xs-12 col-sm-6">
            <div class="dataTables_info">Showing {{firstEntry}} to {{lastEntry}} of {{totalEntries}} entries</div>
        </div>
        <!-- end number of entries -->

        <!-- pagination -->
        <div class="col-xs-12 col-sm-6">
            <paginator page="filterConfig.page" pages="pages"></paginator>
        </div>
        <!-- end pagination -->
    </div>
</div>