{% extends "nfs/nfsbase.html" %}
{# kate: space-indent on; indent-width 2; replace-tabs on; #}
{% block Title %} :: NFS Exports{% endblock %}
{% block Body %}
  {% if object_list %}
    <table class="main">
      <tr>
        <th class="left">Volume</th>
        <th class="right">Address</th>
      </tr>
      {% for export in object_list %}
        <tr bgcolor="#f1f1f1" onmouseout="this.style.backgroundColor=''"
            onmouseover="this.style.backgroundColor='#FED6D9'">
          <td><a href="{% url nfs_export_edit export.id %}">{{ export.volume.name }}</a></td>
          <td>{{ export.address }}</td>
        </tr>
      {% endfor %}
      <tr style="height: 10px">
        <td class="footer_left"></td>
        <td class="footer_right"></td>
      </tr>
    </table>
  {% else %}
    <div class="msgnotice">No exports...</div>
  {% endif %}
{% endblock %}

