[Unit]
Description=openATTIC System Exec Daemon
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
EnvironmentFile=/etc/default/openattic
ExecStart=/usr/bin/python -- /usr/share/openattic/manage.py runsystemd -l ${SYSD_LOGFILE}
PIDFile=${SYSD_PIDFILE}

[Install]
WantedBy=multi-user.target
