[Unit]
Description=openATTIC RPC Daemon
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
EnvironmentFile=/etc/default/openattic
ExecStart=/usr/bin/python -- /usr/share/openattic/manage.py runrpcd -l ${RPCD_LOGFILE}
PIDFile=${RPCD_PIDFILE}

[Install]
WantedBy=multi-user.target
