[Unit]
Description=openATTIC System Exec Daemon
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
EnvironmentFile=/etc/default/openattic
ExecStart=/usr/bin/python -- ${OADIR}/manage.py runsystemd

[Install]
WantedBy=multi-user.target
