<nav class="navbar navbar-default navbar-openattic">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="images/openattic_brand_bright.png" alt="openATTIC"></a>
        <!--<a class="navbar-brand" href="#">openATTIC storage management framework</a>-->

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-primary">
            <li data-ui-sref-active="active" class="tc_menuitem tc_menuitem_dashboard"><a data-ui-sref="dashboard" title="Dashboard">Dashboard</a></li>
            <li data-ui-sref-active="active" class="tc_menuitem tc_menuitem_disks"><a data-ui-sref="disks" title="Disks">Disks</a></li>
            <li data-ui-sref-active="active" class="tc_menuitem tc_menuitem_pools"><a data-ui-sref="pools" title="Pools">Pools</a></li>
            <li data-ui-sref-active="active" class="tc_menuitem tc_menuitem_volumes"><a data-ui-sref="volumes" title="Volumes">Volumes</a></li>
            <li data-ui-sref-active="active" class="tc_menuitem tc_menuitem_hosts"><a data-ui-sref="hosts" title="Hosts">Hosts</a></li>
            <!--<li class="dropdown tc_menuitem tc_menuitem_system">-->
            <!--<a href="" class="dropdown-toggle" data-toggle="dropdown">CEPH <span class="caret"></span></a>-->
            <!--<ul class="dropdown-menu">-->
            <!--<li data-ui-sref-active="active" class="tc_submenuitem tc_submenuitem_ceph_pools"><a data-ui-sref="cephPools">Pools</a></li>-->
            <!--</ul>-->
            <!--</li>-->
            <li class="dropdown tc_menuitem tc_menuitem_system">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">System <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li data-ui-sref-active="active" class="tc_submenuitem tc_submenuitem_system_users"><a data-ui-sref="users">Users</a></li>
                    <li data-ui-sref-active="active" class="tc_submenuitem tc_submenuitem_system_cmdlogs"><a data-ui-sref="cmdlogs">Command Log</a></li>
                    <li data-ui-sref-active="active" class="tc_submenuitem tc_submenuitem_ceph_crushmap"><a data-ui-sref="crushmap">CRUSH Map</a></li>
                </ul>
            </li>
        </ul><!-- /.navbar-primary -->

        <ul class="nav navbar-nav navbar-utility">
            <li userinfo></li>
            <li api-recorder class="tc_api-recorder"></li>
            <li logout class="tc_logout"></li>
        </ul><!-- /.navbar-utility -->
    </div><!-- /.navbar-collapse -->
</nav>