<span ng-class="{
        'bg-primary': data.isRootNode,
        'bg-info':    data.isBelowRootNode && !data.isSelectorNode,
        'bg-success': data.isSelectorNode
    }">
  <div style="display: inline"
       ng-hide="data.$editing">{{ data.name }}</div>
  <div style="display: inline"
       ng-show="data.$editing">
    <input type="text"
           ng-model="data.name"
           style="color: black"
           focus-me="data.$editing"
           ng-enter="data.$editing=false" />
  </div>
</span>

<ul ng-model="data.items">
  <li ng-repeat="data in data.items"
      ng-include="'components/ceph-crushmap/templates/crushMapNode.html'">
  </li>
</ul>
