<span class="MsgTitle" ng-if="volume">Delete Volume</span>
<span class="MsgTitle" ng-if="!volume && volumes">Delete Volumes</span>
<p class="pText" ng-if="volume">You are about to delete the volume "{{volume.name}}". Be aware that you will
    <b>lose all data</b> in that volume and that this operation <b>cannot be undone</b>. To confirm,
    please enter the volume name and click Accept.</p>
<p class="pText" ng-if="!volume && volumes">You are about to delete multiple volumes. Be aware that you will
    <b>lose all data</b> in the volumes and that this operation <b>cannot be undone</b>. To confirm,
    please type "yes" to click Delete.</p>
<p ng-if="!volume && volumes">
    <span>The following volumes will be deleted:</span>
    <li ng-repeat="volume in volumes">{{volume.name}} ({{volume.type.app_label}}, {{volume.usage.size_text}})</li>
</p>
<form name="deleteForm" role="form" novalidate>
    <p class="input-group col-md-4">
        <input ng-if="volume" type="text" class="form-control" name="enteredName" placeholder="{{volume.name}}"
               ng-model="input.enteredName" ng-pattern="volume.name" required autofocus/>
        <input ng-if="!volume && volumes" type="text" class="form-control" name="enteredName" placeholder="yes"
               ng-model="input.enteredName" ng-pattern="volume.name" required autofocus/>
        <div class="MessageBoxButtonSection">
            <div>
                <button id="bot2-Msg1" class="btn btn-default btn-sm botTempo" ng-click="delete()"
                        ng-disabled="deleteForm.$invalid"> Delete</button>
                <button id="bot1-Msg1" class="btn btn-default btn-sm botTempo" ng-click="cancel()"> Cancel</button>
            </div>
            <span ng-show="deleteForm.enteredName.$dirty && deleteForm.enteredName.$error.required">
                    This field is required.</span>
            <span ng-show="deleteForm.enteredName.$dirty && deleteForm.enteredName.$error.pattern">
                    The entered volume name does not match.</span>
        </div>
    </p>
</form>
