<span class="MsgTitle">Delete Volume</span>
<p class="pText">You are about to delete the volume "{{volume.name}}". Be aware that you will
    <b>lose all data</b> in that volume and that this operation <b>cannot be undone</b>. To confirm,
    please enter the volume name and click Accept.</p>
<form name="deleteForm" role="form" novalidate>
    <p class="input-group col-md-4">
        <input type="text" class="form-control" name="enteredName" placeholder="{{volume.name}}"
               ng-model="input.enteredName" ng-pattern="volume.name" required/>
        <div class="MessageBoxButtonSection">
            <button id="bot1-Msg1" class="btn btn-default btn-sm botTempo" ng-click="cancel()"> Cancel</button>
            <button id="bot2-Msg1" class="btn btn-default btn-sm botTempo" ng-click="delete()"
                    ng-disabled="deleteForm.$invalid"> Delete</button>
            <span ng-show="deleteForm.enteredName.$dirty && deleteForm.enteredName.$error.required">
                    This field is required.</span>
            <span ng-show="deleteForm.enteredName.$dirty && deleteForm.enteredName.$error.pattern">
                    The entered volume name does not match.</span>
        </div>
    </p>
</form>