<oadatatable data="lunData" class="oadatatable" filter-config="lunFilter" selection="lunSelection">
    <actions>
        <a class="btn btn-sm btn-primary tc_lunAdd" type="button"
           ng-click="addLunAction()" ng-hide="lunSelection.item">
            <i class="fa fa-fw fa-plus"></i>Add
        </a>
        <a class="btn btn-sm btn-primary tc_lunDelete" type="button"
           ng-click="deleteLunAction()" ng-show="lunSelection.item">
            <i class="fa fa-fw fa-trash-o"></i>Delete
        </a>
        <li>
            <a ng-click="addLunAction()">
                <i class="fa fa-fw fa-plus"></i>Add
            </a>
        </li>
        <li class="divider"></li>
        <li ng-class="{disabled: !lunSelection.item}" max-selected=1>
            <a ng-click="deleteLunAction()">
                <i class="fa fa-fw fa-trash-o"></i>Delete
            </a>
        </li>
    </actions>
    <table class="datatable table table-striped table-bordered table-hover dataTable">
        <thead>
            <tr>
                <th class="oadatatablecheckbox" ng-if="lunSelection.available"><input type="checkbox" ng-model="lunSelection.checkAll"/></th>
                <th sortfield="host"       sortdir="asc" sortheaderclass sortdefault ng-show="columns['Host']"      >Host</th>
                <th sortfield="lun_id"     sortdir="asc" sortheaderclass ng-show="columns['LUN ID']"      >LUN ID</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data.results" ng-class="{ info: isRowSelected(row) }" ng-click="toggleSelection(row, $event)">
                <td ng-if="lunSelection.available"><input type="checkbox" checklist-model="lunSelection.items" checklist-value="row"/></td>
                <td ng-show="columns['Host']"   ng-bind="row.host.title"></td>
                <td ng-show="columns['LUN ID']" ng-bind="row.lun_id"></td>
            </tr>
        </tbody>
    </table>
</oadatatable>
