<div class="col-sm-12 col-lg-6">
    <form name="shareForm" role="form" class="form-horizontal" novalidate>
        <div class="panel panel-default">
            <div class="panel-heading tc_formHeadline">
                <h3 class="panel-title">Create NFS Share</h3>
            </div>
            <div class="panel-body">
                <fieldset>
                    <div class="form-group" ng-class="{'has-error': (submitted || shareForm.path.$dirty) && shareForm.path.$invalid}">
                        <label class="col-sm-3 control-label" for="sharePath">Path</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="icon-prepend fa fa-share"></i></span>
                                <input class="form-control" type="text" placeholder="Path..." ng-model="share.path" name="path" id="sharePath" required>
                            </div>
                                <span class="help-block tc_pathRequired" ng-show="(submitted || shareForm.path.$dirty) && shareForm.path.$error.required">
                                    The path is required.
                                </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': (submitted || shareForm.address.$dirty) && shareForm.address.$invalid}">
                        <label class="col-sm-3 control-label" for="shareAddress">Address</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-prepend fa fa-share"></i></span>
                                <input class="form-control" type="text" placeholder="Address..." ng-model="share.address" name="address" id="shareAddress" required>
                            </div>
                                <span class="help-block tc_addressRequired" ng-show="(submitted || shareForm.address.$dirty) && shareForm.address.$error.required">
                                    The address is required.
                                </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="shareOptions">Options</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-prepend fa fa-share"></i></span>
                                <input class="form-control" type="text" placeholder="Options..."
                                       ng-model="share.options" name="options" id="shareOptions">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="panel-footer">
                <div class="button-group text-right">
                    <button type="submit" class="btn btn-sm btn-primary tc_submitButton" ng-click="submitAction(shareForm)">
                        Submit
                    </button>
                    <button type="button" class="btn btn-sm btn-default tc_backButton" ng-click="cancelAction()">
                        Back
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>




