<span class="MsgTitle">{{dialogSet}} volume delete protection of "{{volume.name}}"</span>
<p class="pText" ng-if="!volume.is_protected">If this option is set the volume can't deleted easily. The user has to unset this option first.
After that he can delete the volume.</p>
<p class="pText" ng-if="volume.is_protected">If this option is unset the volume can be deleted easily.</p>
<form name="protectionForm" role="form" class="form-horizontal" novalidate>
    <p class="input-group">
        <div class="MessageBoxButtonSection">
            <button id="bot1-Msg1" class="btn btn-default btn-sm botTempo" ng-click="cancel()"> Cancel</button>
            <button id="bot2-Msg1" class="btn btn-default btn-sm botTempo" ng-click="setProtection()"> {{dialogSet}} protection</button>
        </div>
    </p>
</form>
