<ul class="nav nav-tabs nav-tabs-openattic">
    <li role="presentation" ui-sref-active="active" ng-show="selection.item.is_filesystemvolume">
        <a ui-sref="volumes.detail.statistics.utilgraphs">Utilization</a>
    </li>
    <li role="presentation" ui-sref-active="active" ng-show="selection.item.is_blockvolume">
        <a ui-sref="volumes.detail.statistics.perfgraphs">Performance</a>
    </li>
</ul>

<div class="actions">
    <span ng-show="state.name === 'volumes.detail.statistics.utilgraphs'">
        <graph-widget params="utilparams"></graph-widget>
    </span>
    <span ng-show="state.name === 'volumes.detail.statistics.perfgraphs'">
        <graph-widget params="perfparams"></graph-widget>
    </span>
</div>
<div class="clearfix"></div>
<div class="statistics-content" ui-view="statistics-content"></div>