<div class="col-sm-12 col-lg-6">
    <form name="volumeForm" role="form" class="form-horizontal" novalidate>
        <div class="panel panel-default">
            <div class="panel-heading tc_formHeadline">
                <h3 class="panel-title">Create Volume: {{volume.name}}</h3>
            </div>
            <div class="panel-body">
                <uib-accordion>
                    <uib-accordion-group is-open="accordionOpen.properties">
                        <uib-accordion-heading>
                            Volume Properties
                            <i class="pull-right" ng-class="{'fa fa-angle-up': accordionOpen.properties,
                            'fa fa-angle-down': !accordionOpen.properties}"></i>
                        </uib-accordion-heading>
                        <div class="form-group" ng-class="{'has-error': (submitted || volumeForm.name.$dirty)
                            && volumeForm.name.$invalid}">
                            <label class="col-sm-3 control-label" for="volumeName">Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="volumeName" placeholder="Name..."
                                       ng-model="volume.name" name="name" validname uniquename="volume" required autofocus>
                                <span class="help-block tc_nameRequired" ng-show="(submitted || volumeForm.name.$dirty)
                                    && volumeForm.name.$error.required">This field is required!</span>
                                <span class="help-block" ng-show="volumeForm.name.$error.validname">{{errortext}}</span>
                                <span class="help-block tc_noUniqueName" ng-show="volumeForm.name.$error.uniquename">
                                    The chosen volume name is already in use.
                                </span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (submitted || volumeForm.pool.$dirty)
                            && volumeForm.pool.$invalid}">
                            <label class="col-sm-3 control-label" for="data.sourcePool">Pool</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="data.sourcePool" id="data.sourcePool"
                                        ng-options="(pool.name + ' (' + pool.type.name + ', ' + pool.usage.free_text +
                                        ' free)') for pool in pools track by pool.id" name="pool" required>
                                    <option class="tc_volumePoolOption" value="">-- Select a pool --</option>
                                </select>
                                <div ng-show="data.sourcePool" class="progress-bar-outer clearfix">
                                    <uib-progressbar max="100" class="progress-striped" value="selPoolUsedPercent">
                                        <span></span>
                                    </uib-progressbar>
                                        <span class="pull-left tc_poolSize">
                                            {{data.sourcePool.usage.used_text}} of
                                            {{data.sourcePool.usage.size_text}} used</span>
                                        <span class="pull-right tc_poolAvailableSize">
                                            {{data.sourcePool.usage.free_text}} free - <a ng-click="data.megs = data.sourcePool.usage.free + 'MB'">use max</a>
                                        </span>
                                </div>
                                <span class="help-block tc_poolRequired" ng-show="(submitted || volumeForm.pool.$dirty)
                                    && volumeForm.pool.$error.required">
                                    This field is required!
                                </span>
                                <span class="help-block" ng-show="volumeForm.pool.$error.usablesize">
                                    The selected volumepool provides less than 100MB free space, so it's not usable for
                                    the new volume.
                                </span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (submitted || volumeForm.megs.$dirty)
                            && volumeForm.megs.$invalid}">
                            <label class="col-sm-3 control-label" for="data.megs">Size</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" name="megs"
                                       ng-disabled="data.sourcePool === null  || data.sourcePool.usage.free < 100"
                                       volume-size-format volume-size-value max-value="{{data.sourcePool.usage.free}}"
                                       ng-model="data.megs" placeholder="e.g., 10GB" id="data.megs" required>
                                <span class="help-block tc_sizeRequired" ng-show="(submitted || volumeForm.megs.$dirty)
                                    && volumeForm.megs.$error.required">
                                    This field is required!
                                </span>
                                <span class="help-block tc_noValidNumber"
                                      ng-show="volumeForm.megs.$error.volumeSizeFormat">
                                    This is not a valid number.
                                </span>
                                <span class="help-block tc_wrongVolumeSize"
                                      ng-show="volumeForm.megs.$error.volumeSizeValue">
                                    The size must be at least 100MB and must not exceed
                                    {{data.sourcePool.usage.free_text}}.
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Type</label>
                            <div class="col-sm-9">
                                <div ng-repeat="(fs, text) in filesystems"
                                        ng-show="supported_filesystems[fs]">
                                    <div class="radio radio-primary">
                                        <input type="radio" ng-model="data.filesystem"
                                            value="{{fs}}" ng-disabled="state.formatted" id="{{fs}}">
                                        <label for="{{fs}}">{{text}}
                                            <span class="text-info" ng-show="data.filesystem === fs">
                                                &nbsp;-&nbsp;{{supported_filesystems[fs]}}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="checkbox checkbox-primary">
                                    <input type="checkbox" ng-model="volume.is_protected" id="volume.is_protected"
                                               name="deletionProtection">
                                    <label for="volume.is_protected">Deletion protection</label>
                                </div>
                            </div>
                        </div>
                    </uib-accordion-group>
                </uib-accordion>
                <uib-accordion>
                    <uib-accordion-group is-open="accordionOpen.mirror" is-disabled="true">
                        <uib-accordion-heading>
                            <div style="color: #BDBDBD;">
                                Volume Mirroring - <i><b>Coming Soon...</b></i>
                            <i class="pull-right" ng-class="{'fa fa-angle-up': accordionOpen.mirror,
                            'fa fa-angle-down': !accordionOpen.mirror}"></i></div>
                        </uib-accordion-heading>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Mirror Host</label>
                            <div class="col-md-10">
                                <select class="form-control" ng-model="data.mirrorHost" id="mirror-host"
                                        ng-options="host.name for host in hosts track by host.name"
                                        title="Coming soon...">
                                    <option value="">-- Select a host --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Mirror Pool</label>
                            <div class="col-md-10">
                                <select class="form-control" ng-model="data.mirrorPool" ng-options="
                                pool.name for pool in pools track by pool.name">
                                    <option value="">-- Select a host --</option>
                                </select>
                            </div>
                        </div>
                    </uib-accordion-group>
                </uib-accordion>
            </div>
            <div class="panel-footer">
                <div class="button-group text-right">
                    <button type="submit" class="btn btn-sm btn-primary tc_submitButton"
                            ng-click="submitAction(volumeForm)">
                        Submit
                    </button>
                    <button type="button" class="btn btn-sm btn-default tc_backButton" ng-click="cancelAction()">
                        Back
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
