<div class="dropdown">
    <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="filterDropdown"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Filter
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="filterDropdown">
        <li ng-repeat="profile in profiles">
            <a ng-bind="profile.title" ng-click="setActiveProfile(profile)"></a>
        </li>
        <li>
            <a ng-click="setActiveProfile(null)">Default</a>
        </li>
    </ul>
</div>