<oa-delete-confirmation-modal title="{{ (hosts.length > 1) ? 'Delete hosts' : 'Delete host' }}"
                           on-confirm="delete()" on-cancel="cancel()">
  <!-- single host -->
  <p ng-if="hosts.length === 1">
    You are about to delete the host configuration for host <strong>{{hosts[0].name}}</strong>.
  </p>
  <!-- end single host -->

  <!-- multiple hosts -->
  <div ng-if="hosts.length > 1">
    <p>
      You are about to delete multiple host configurations.
    </p>
    <span class="text-danger">The configurations of the following hosts will be deleted:</span>
      <ul class="text-danger">
        <li ng-repeat="host in hosts">
          {{host.name}}
        </li>
      </ul>
  </div>
  <!-- end multiple hosts -->
</oa-delete-confirmation-modal>