<div class="openattic-modal-header">
    <span ng-if="host">Delete host</span>
    <span ng-if="!host && hosts">Delete hosts</span>
</div>
<div class="openattic-modal-content">
    <!-- single host -->
    <p ng-if="hosts.length === 1">
        You are about to delete the host configuration for host <strong>{{hosts[0].name}}</strong>.
    </p>
    <!-- end single host -->

    <!-- multiple hosts -->
    <div ng-if="hosts.length > 1">
        <p>
            You are about to delete multiple host configurations.
        </p>
        <span class="text-danger">The configurations of the following hosts will be deleted:</span>
        <ul class="text-danger">
            <li ng-repeat="host in hosts">
                {{host.name}}
            </li>
        </ul>

    </div>
    <!-- end multiple hosts -->

    <p>
        To confirm, please enter <kbd>yes</kbd> and click <kbd>Delete</kbd>, or cancel and return to the page.
    </p>
    <form name="deleteForm" role="form" novalidate>
        <div class="form-group"
             ng-class="{'has-error': (submitted || deleteForm.enteredName.$dirty) && deleteForm.enteredName.$invalid}">
            <input type="text" class="form-control" name="enteredName" placeholder="yes" autocomplete="off"
                   ng-model="input.enteredName" ng-pattern="input.pattern" required autofocus>

            <!-- Error -->
            <span class="help-block" ng-show="deleteForm.enteredName.$dirty && deleteForm.enteredName.$error.required">
                This field is required.
            </span>
            <span class="help-block" ng-show="deleteForm.enteredName.$dirty && deleteForm.enteredName.$error.pattern">
                The input value does not match 'yes'.
            </span>
            <!-- end Error -->
        </div>

        <div class="button-group text-right">
            <button id="bot2-Msg1" class="btn btn-primary btn-sm"
                    ng-click="delete()" ng-disabled="deleteForm.$invalid">
                Delete
            </button>
            <button id="bot1-Msg1" class="btn btn-link btn-sm" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>
