<h2 ng-show="isAdmin">Administrationsbereich</h2>
<input type="text" placeholder="Suchen..."
       ng-model="searchText">
<table class="bm-book-list">
    <tbody>
        <tr ng-repeat="book in books | orderBy: getBookOrder | filter: searchText">
            <td ng-hide="isAdmin">
                <a class="bm-details-link"
                   ng-href="#/books/{{ book.isbn }}"
                   ng-bind="book.title">
                </a>
            </td>

            <td ng-show="isAdmin">
                <a class="bm-edit-link"
                   ng-href="#/admin/books/{{ book.isbn }}/edit"
                   ng-bind="book.title">
                </a>
            </td>

            <td ng-bind="book.author"></td>
            <td ng-bind="book.isbn"></td>

            <td ng-show="isAdmin">
                <a class="bm-delete-link"
                   ng-href="#/admin/books/{{ book.isbn }}/delete">
                    Löschen
                </a>
            </td>
        </tr>
    </tbody>
</table>
<p ng-show="isAdmin">
    <a class="bm-new-book-link" ng-href="#/admin/books/new">
        Neues Buch anlegen
    </a>
</p>