<h2 class="bm-book-title">{{ book.title }}</h2>
<h3 class="bm-book-subtitle">{{ book.subtitle }}</h3>
<p>
<ul>
    <li class="bm-book-isbn">ISBN: {{ book.isbn }}</li>
    <li class="bm-book-num-pages">Seiten: {{ book.numPages }}</li>
    <li class="bm-book-author">Autor: {{ book.author }}</li>
    <li>
        Verlag:
        <a ng-href="{{ book.publisher.url }}"
           target="_blank"
           class="bm-book-publisher-name">{{ book.publisher.name }}</a>
    </li>
</ul>
</p>
<hr>
<p class="bm-book-abstract">{{ book.abstract }}</p>