<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
<oadatatable data="data" class="tc_oadatatable_disks" filter-config="filterConfig" selection="selection">
    <actions>
        <a class="btn btn-lg btn-primary tc_createPoolBtn" ng-class="{disabled: !hasSelection}" type="button" ng-click="createPoolAction()">
            <i class="fa fa-fw fa-plus"></i> Create pool...
        </a>
        <li ng-class="{disabled: !hasSelection}" max-selected=1>
            <a ng-click="createPoolAction()"><i class="fa fa-fw fa-plus"></i> Create pool...</a>
        </li>
    </actions>
    <table class="table table-striped table-bordered table-hover dataTable">
        <thead>
            <tr>
                <th class="oadatatablecheckbox" ng-if="selection.available">
                    <input type="checkbox" ng-model="selection.checkAll"/>
                </th>
                <th ng-show="columns['Slot']">Slot</th>
                <th ng-show="columns['Status']">Status</th>
                <th ng-show="columns['Size']">Size</th>
                <th ng-show="columns['Type']">Type</th>
                <th ng-show="columns['RPM']">RPM</th>
                <th ng-show="columns['Model']">Model</th>
                <th ng-show="columns['Serial']">Serial</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data.results | orderBy:filterConfig.sortfield:filterConfig.sortorder=='DESC'"
                ng-class="{ info: isRowSelected(row) }"
                ng-click="toggleSelection(row, $event)">
                <td ng-if="selection.available">
                    <input type="checkbox" checklist-model="selection.items" checklist-value="row" />
                </td>
                <td ng-show="columns['Slot']" ng-bind="row.enclslot"></td>
                <td ng-show="columns['Status']"><i class="fa" ng-class="{
                    'fa-question':             row.status.status == '',
                    'fa-check':                row.status.status == 'good',
                    'fa-exclamation-triangle': row.status.status == 'warn',
                    'fa-bomb':                 row.status.status == 'crit',
                    'fa-chain-broken':         row.status.status == 'fail',
                    'fa-lock':                 row.status.status == 'locked'
                    }"></i></td>
                <td ng-show="columns['Size']"   ng-bind="row.size.size_text"></td>
                <td ng-show="columns['Type']"   ng-bind="row.type"></td>
                <td ng-show="columns['RPM']"    ng-bind="row.rpm"></td>
                <td ng-show="columns['Model']"  ng-bind="row.model"></td>
                <td ng-show="columns['Serial']" ng-bind="row.serial"></td>
            </tr>
        </tbody>
    </table>
</oadatatable>
<div ui-view="tab">
</div>
