<ceph-cluster-dropdown cluster="cluster" registry="registry" get-data="getRbdList()"></ceph-cluster-dropdown>

<div ng-show="cluster.results.length > 0">
    <div class="panel panel-default" ng-show="error">
        <div class="panel-heading">
            <h3 class="panel-title">Sorry folks...</h3>
        </div>
        <div class="panel-body">
            Ceph RBD resource could not be loaded. Make sure that the ceph module is installed.
        </div>
    </div>

    <div class="panel panel-default" ng-show="!error && !rbd.$resolved">
        <div class="panel-heading">
            <h3 class="panel-title">Sorry folks...</h3>
        </div>
        <div class="panel-body">
            Ceph RBDs are loading...
        </div>
    </div>

    <div class="panel panel-default" ng-show="!error && rbd.results.length === 0">
        <div class="panel-heading">
            <h3 class="panel-title">Sorry folks...</h3>
        </div>
        <div class="panel-body">
            <p>
            No RBD available.
            </p>
            <a class="btn btn-sm btn-primary tc_add_btn" type="button" ng-click="addAction()" ng-hide="hasSelection">
                <i class="fa fa-fw fa-plus"></i>Add
            </a>
        </div>
    </div>
</div>

<oadatatable ng-show="!error && rbd.results.length > 0" data="rbd" class="oadatatable tc_cephRbdTable" filter-config="filterConfig" selection="selection">
    <actions>
        <a class="btn btn-sm btn-primary tc_add_btn" type="button" ng-click="addAction()" ng-hide="hasSelection || multiSelection">
            <i class="fa fa-fw fa-plus"></i>Add
        </a>
        <a class="btn btn-sm btn-primary tc_delete_btn" type="button" ng-click="deleteAction()" ng-show="hasSelection || multiSelection">
            <i class="fa fa-fw fa-trash-o"></i>Delete
        </a>
        <li>
            <a ng-click="addAction()">
                <i class="fa fa-fw fa-plus"></i>Add
            </a>
        </li>
        <li class="tc_deleteItem" ng-click="deleteAction()" ng-class="{disabled: !hasSelection && !multiSelection}">
            <a>
                <i class="fa fa-fw fa-trash-o"></i>Delete
            </a>
        </li>
    </actions>
    <table class="table table-striped table-bordered table-hover dataTable datatable">
        <thead>
            <tr>
                <th class="oadatatablecheckbox" ng-if="selection.available">
                    <input type="checkbox" ng-model="selection.checkAll"/>
                </th>
                <th ng-show="columns['Name']" sortfield="name" sortdir="asc" sortheaderclass sortdefault>Name</th>
                <th sortfield="pool" sortdir="asc" sortheaderclass ng-show="columns['Poolname']">Poolname</th>
                <th sortfield="size" sortdir="asc" sortheaderclass ng-show="columns['Size']">Size</th>
                <th sortfield="obj_size" sortdir="asc" sortheaderclass ng-show="columns['Object size']">Object size</th>
                <th sortfield="num_objs" sortdir="asc" sortheaderclass ng-show="columns['Number of objects']">Number of objects</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data.results"
                ng-class="{ info: isRowSelected(row) }"
                ng-click="toggleSelection(row, $event)">
                <td ng-if="selection.available">
                    <input type="checkbox" checklist-model="selection.items" checklist-value="row"/>
                </td>
                <td ng-show="columns['Name']" ng-bind="row.name"></td>
                <td ng-show="columns['Poolname']" ng-bind="row.pool.name"></td>
                <td ng-show="columns['Size']" ng-bind="row.size | bytes"></td>
                <td ng-show="columns['Object size']" ng-bind="row.obj_size | bytes"></td>
                <td ng-show="columns['Number of objects']" ng-bind="row.num_objs"></td>
            </tr>
        </tbody>
    </table>
</oadatatable>
<div id="more" ui-view="tab">
</div>
